workflows/[FUTURE MINDS] - Contrato Assinado Autentique.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "lead_não_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_não_existe": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todos_assinaram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "user_não_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_não_existe": {
      "main": [
        [],
        [
          {
            "node": "todos_assinaram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T14:17:40.439Z",
  "id": "9tKlLz9wPZ8sZUPm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[FUTURE MINDS] - Contrato Assinado Autentique",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08dd519a-60f4-4d1e-b240-a52a3ba26f61",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"documento[pendente]\"] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00d569ae-d3fc-476f-bd32-0901e6544d32",
      "name": "todos_assinaram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2060,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contrato-assinado-autentique-hetzner",
        "options": {}
      },
      "id": "25bf5525-497a-45e9-9ee5-92570c2e517f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        620,
        340
      ],
      "webhookId": "5a729aa7-c391-4c07-80b7-a339e1df8def"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"partes[1][nome]\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"partes[1][email]\"] }}"
            },
            {
              "name": "Contrato",
              "value": "={{ $json[\"body\"][\"documento[nome]\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97f84abf-a805-4bac-8565-ebd4558da38b",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        780,
        340
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "89205b51-ed6f-41d8-a540-93c10cd48fad",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1120,
        340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json[\"E-mail do Cliente\"]  || '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $json[\"E-mail do Cliente\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "47296d55-416a-4364-a1e6-9c26a85cdfad",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        940,
        340
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08b9ba4c-3b6e-4e6d-81e8-4bcd6291f5a9",
              "leftValue": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "583b88af-2c83-416a-a083-c201b397c4c6",
      "name": "lead_não_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"dados\"].json[\"E-mail do Cliente\"]  || '-----------------------'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1a636-edc5-4ffc-89d1-9eca3fd7c213",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1520,
        280
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "c3d22d14-e22c-45af-ac5e-350c77070d4d",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1700,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08b9ba4c-3b6e-4e6d-81e8-4bcd6291f5a9",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"success\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4aa00da5-0873-489e-acfd-c7e69b02e00c",
      "name": "user_não_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhook.resenhadocafe.com.br",
            "user-agent": "GuzzleHttp/6.5.5 curl/7.58.0 PHP/7.4.33",
            "content-length": "4407",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "107.178.236.144",
            "x-forwarded-host": "n8nwebhook.resenhadocafe.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9f3874b4f703",
            "x-real-ip": "107.178.236.144",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "partes[0][uuid]": "5503e33f4ab411efa9b542010a2b60e0",
            "partes[0][nome]": "Mateus Soares Diniz",
            "partes[0][email]": "mateus@resenhadocafe.com.br",
            "partes[0][cpf]": "00888766165",
            "partes[0][nascimento]": "1987-10-19",
            "partes[0][empresa]": "Assad & Diniz Services",
            "partes[0][ordem]": "0",
            "partes[0][assinatura][formato]": "s",
            "partes[0][assinatura][imagem]": "",
            "partes[0][funcao]": "assinar",
            "partes[0][created]": "2024-07-25 15:33:05",
            "partes[0][visualizado][created]": "2024-07-25 15:33:05",
            "partes[0][visualizado][ipv4]": "179.216.21.71",
            "partes[0][visualizado][geotrack][country]": "Brazil",
            "partes[0][visualizado][geotrack][countryISO]": "BR",
            "partes[0][visualizado][geotrack][state]": "Santa Catarina",
            "partes[0][visualizado][geotrack][stateISO]": "SC",
            "partes[0][visualizado][geotrack][city]": "Criciúma",
            "partes[0][visualizado][geotrack][latitude]": "-28.6752",
            "partes[0][visualizado][geotrack][longitude]": "-49.3686",
            "partes[0][assinado][created]": "2024-07-25 15:33:07",
            "partes[0][assinado][ipv4]": "179.216.21.71",
            "partes[0][assinado][geotrack][country]": "Brazil",
            "partes[0][assinado][geotrack][countryISO]": "BR",
            "partes[0][assinado][geotrack][state]": "Santa Catarina",
            "partes[0][assinado][geotrack][stateISO]": "SC",
            "partes[0][assinado][geotrack][city]": "Criciúma",
            "partes[0][assinado][geotrack][latitude]": "-28.6752",
            "partes[0][assinado][geotrack][longitude]": "-49.3686",
            "partes[1][uuid]": "550884354ab411efa9b542010a2b60e0",
            "partes[1][nome]": "Luana Danieli Adam",
            "partes[1][email]": "luanaadam123@gmail.com",
            "partes[1][cpf]": "04369784077",
            "partes[1][nascimento]": "2002-03-12",
            "partes[1][ordem]": "1",
            "partes[1][assinatura][formato]": "d",
            "partes[1][assinatura][imagem]": "",
            "partes[1][funcao]": "assinar",
            "partes[1][created]": "2024-07-25 15:33:05",
            "partes[1][visualizado][created]": "2024-07-25 15:40:27",
            "partes[1][visualizado][ipv4]": "45.187.41.25",
            "partes[1][visualizado][geotrack][country]": "Brazil",
            "partes[1][visualizado][geotrack][countryISO]": "BR",
            "partes[1][visualizado][geotrack][state]": "Rio Grande do Sul",
            "partes[1][visualizado][geotrack][stateISO]": "RS",
            "partes[1][visualizado][geotrack][city]": "Três Coroas",
            "partes[1][visualizado][geotrack][zipcode]": "95660",
            "partes[1][visualizado][geotrack][latitude]": "-29.466",
            "partes[1][visualizado][geotrack][longitude]": "-50.7768",
            "partes[1][assinado][created]": "2024-07-25 15:40:27",
            "partes[1][assinado][ipv4]": "45.187.41.25",
            "partes[1][assinado][geotrack][country]": "Brazil",
            "partes[1][assinado][geotrack][countryISO]": "BR",
            "partes[1][assinado][geotrack][state]": "Rio Grande do Sul",
            "partes[1][assinado][geotrack][stateISO]": "RS",
            "partes[1][assinado][geotrack][city]": "Três Coroas",
            "partes[1][assinado][geotrack][zipcode]": "95660",
            "partes[1][assinado][geotrack][latitude]": "-29.466",
            "partes[1][assinado][geotrack][longitude]": "-50.7768",
            "partes[1][mail][sent]": "2024-07-25 15:33:06",
            "partes[1][mail][delivered]": "2024-07-25 15:33:08",
            "documento[uuid]": "8a6313c5f4400a2d3aac7f1f4bc80e5fabbfd32e9378f173b",
            "documento[nome]": "Contrato Automação - Luana Danieli Adam",
            "documento[rejeitavel]": "0",
            "documento[ordenavel]": "0",
            "documento[created]": "2024-07-25 15:33:05",
            "documento[updated]": "2024-07-25 15:40:27",
            "documento[transacao]": "0",
            "documento[pendente]": "0",
            "documento[publicado]": "2024-07-25 15:33:05",
            "documento[disponivel]": "1",
            "organizacao": "1",
            "remetente[nome]": "Mateus Soares Diniz",
            "remetente[empresa]": "Assad & Diniz Services",
            "remetente[email]": "mateus@resenhadocafe.com.br",
            "remetente[cpf]": "00888766165",
            "remetente[nascimento]": "1987-10-19",
            "arquivo[original]": "https://storage.googleapis.com/d6e/fb0eb4576654c56665998221249b732a/ezzUydVP7pnFV0SFvl7vEKJy56RZNeLJUwZE8sCl.original.pdf",
            "arquivo[assinado]": "https://api.autentique.com.br/documentos/8a6313c5f4400a2d3aac7f1f4bc80e5fabbfd32e9378f173b/assinado.pdf"
          },
          "webhookUrl": "https://n8nwebhook.resenhadocafe.com.br/webhook/contrato-assinado",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-19T14:37:23.971Z",
  "versionId": "88f349e1-00c1-49d0-b401-a9c9bb045b77"
}