workflows/[Future Minds] - Cadastro na LP.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_na_lp": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-14T17:17:34.432Z",
  "id": "72K3dERCYhjma5wD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Future Minds] - Cadastro na LP",
  "nodes": [
    {
      "parameters": {
        "queue": "={{ $node[\"dados\"].json[\"tag_do_lancamento\"] }} - Captação - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "2a71403e-81f6-4c70-929a-d1ce57d872a5",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1060,
        260
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Captura dos dados corretos do input atualizado\nconst fullNameAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"name\"] || \"\";\nconst emailAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"Digite_seu_melhor_e_mail\"] || \"\";\nconst telefoneClienteOriginal = $node[\"cadastro_na_lp\"].json[\"body\"][\"DDD_Celular_Opcional\"] || \"\";\n\n// Função para capitalizar o nome\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined' || fullName.trim() === '') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\n// Função para formatar o email\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n// Função para formatar o telefone, adicionando DDI e removendo o nono dígito caso esteja presente\nfunction formatTelefone(telefone) {\n    const telefoneLimpo = telefone.replace(/\\D/g, \"\"); // Remove todos os caracteres não numéricos\n    const DDI = '55';\n    const DDD = telefoneLimpo.slice(0, 2); // Extrair os dois primeiros dígitos (DDD)\n    let telefoneFormatado;\n\n    // Se o telefone tiver 13 dígitos, remove o nono dígito\n    if (telefoneLimpo.length === 13) {\n        telefoneFormatado = `${DDI}${DDD}${telefoneLimpo.slice(3, 7)}${telefoneLimpo.slice(8)}`;\n    } else if (telefoneLimpo.length === 12) {\n        telefoneFormatado = `${DDI}${DDD}${telefoneLimpo.slice(2)}`;\n    } else {\n        telefoneFormatado = `${DDI}${telefoneLimpo}`; // Caso não tenha o formato esperado, adiciona DDI sem alterações\n    }\n\n    return telefoneFormatado;\n}\n\n// Processar nome completo, email e telefone\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst telefoneFinal = formatTelefone(telefoneClienteOriginal);\n\n// Captura dos UTMs e outros dados\nconst utm_source = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_SOURCE\"] || \"\";\nconst utm_campaign = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_CAMPAIGN\"] || \"\";\nconst utm_medium = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_MEDIUM\"] || \"\";\nconst utm_term = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_TERM\"] || \"\";\nconst utm_content = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_CONTENT\"] || \"\";\nconst form_id = $node[\"cadastro_na_lp\"].json[\"body\"][\"Id_do_formulario\"] || \"\";\nconst form_name = \"Cadastro Webinário\"; // Nome do formulário definido fixo, pois não está no input\nconst link_pagina = $node[\"cadastro_na_lp\"].json[\"body\"][\"URL\"];\nconst estado= $node[\"cadastro_na_lp\"].json[\"body\"][\"Regiao_do_usuario\"];\nconst cidade = $node[\"cadastro_na_lp\"].json[\"body\"][\"Cidade_do_usuario\"];\nconst pais = $node[\"cadastro_na_lp\"].json[\"body\"][\"Pais_do_usuario\"];\n\n// Montar o resultado final\nconst result = {\n    ...formattedNames,             // Nome formatado\n    email: formattedEmail,         // Email formatado\n    whatsapp: telefoneFinal,       // WhatsApp formatado com DDI\n    utm_source: utm_source,\n    utm_campaign: utm_campaign,\n    utm_term: utm_term,\n    utm_medium: utm_medium,\n    utm_content: utm_content,\n    form_id: form_id,\n    form_name: form_name,\n    link_pagina: link_pagina,\n    cidade: cidade,\n    estado: estado,\n    País: pais\n};\n\n// Retorno no formato que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "af29964f-ef8a-434a-a213-b8c0432bd75d",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cbdcad1-4920-4e7d-a6f9-437108ecded2",
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "05fd8409-f450-4cd2-88b0-9e201c4d8dc7",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "850bacff-b62b-484a-a48d-8a1832562e45",
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "2669a334-987d-4801-b9d6-a4fd4dcd4b1d",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "51d3c9fc-4672-4a9b-8ce4-33c6d5512cd2",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "b9957f57-607a-43cf-8298-2afcb7bde489",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "645a7f52-1b16-4174-b43c-76c7a4e0efae",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "5ca4d777-4e3b-4c9f-805d-2d03f4a73f3e",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "6cd09c13-e31f-4f8d-9bf9-2e227499d366",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "11026780-520c-4115-ac67-7d3ddb1c1234",
              "name": "utm_fun",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_fun\"] }}",
              "type": "string"
            },
            {
              "id": "d167d246-fee0-4122-986d-882fd3a4a2ae",
              "name": "utm_var",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_var\"] }}",
              "type": "string"
            },
            {
              "id": "2ec68456-3f2e-41f1-9164-67e381d536a6",
              "name": "nome_do_evento",
              "value": "Webinario",
              "type": "string"
            },
            {
              "id": "181210bf-6719-4a45-8cdd-9987e6a9f7f9",
              "name": "edicao_do_evento",
              "value": "1",
              "type": "string"
            },
            {
              "id": "e64100f6-9d54-44c5-8ef2-6cbab115ab35",
              "name": "form_id",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "d6775cb8-6322-4b46-b33e-ceb237ad1b2e",
              "name": "form_name",
              "value": "={{ $node[\"formata_dados\"].json[\"form_name\"] }} - {{ $node[\"formata_dados\"].json[\"link_pagina\"].replace('https://links.liliancidreira.com.br/cap-webinar','Publico Frio').replace('https://links.liliancidreira.com.br/cap-webinar-pg','Publico Quente') }}",
              "type": "string"
            },
            {
              "id": "9f8c1e98-d212-478d-9e87-d6948151cd72",
              "name": "tag_do_lancamento",
              "value": "WEB001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "adc4e84f-a664-4ebe-82c4-855b8dc3ceb7",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        880,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=web001-cadastro-lp",
        "options": {}
      },
      "id": "2c05e9f2-f2b3-4962-bc5b-0ab6c258a72c",
      "name": "cadastro_na_lp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        260
      ],
      "webhookId": "29d86f24-72f3-467f-8364-b606251a4e23"
    }
  ],
  "pinData": {
    "cadastro_na_lp": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "content-length": "596",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "8e29b1bd93462c9e-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTczMTYxNTU0M30.1vTNCFl5gSY5VlPRQAwGjSgnG49dTpoS65KXEZnlADM",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.167.58",
            "x-forwarded-host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3fc641f1cb52",
            "x-real-ip": "172.71.167.58"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Mateus Diniz",
            "Digite_seu_melhor_e_mail": "mateusdiniz@automagicbots.com.br",
            "DDD_Celular_Opcional": "(62) 9811-96678",
            "UTM_SOURCE": "",
            "UTM_MEDIUM": "",
            "UTM_CAMPAIGN": "",
            "UTM_TERM": "",
            "UTM_CONTENT": "",
            "Referral_Source": "https://app.greatpages.com.br/",
            "Dispositivo": "Desktop",
            "URL": "https://links.liliancidreira.com.br/cap-webinar-pq",
            "IP_do_usuario": "2804:1a90:200f:e800:e34b:dd17:f2e7:8140",
            "Data_da_conversao": "2024-11-14 20:18:58",
            "Id_do_formulario": "1010271_1_1730910567672b99674ce20993256331",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Santa Catarina",
            "Cidade_do_usuario": "Criciúma",
            "Id_da_pagina": "1010271"
          },
          "webhookUrl": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/web001-cadastro-lp",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-14T18:59:36.969Z",
      "updatedAt": "2024-11-14T18:59:36.969Z",
      "id": "5HB3AqYVP1IhO2Iu",
      "name": "[WEB001]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-19T21:12:57.316Z",
  "versionId": "f0c79109-ea22-4e48-8e0f-184c302b3e0a"
}