workflows/[Future Minds] - Cadastro na LP.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_na_lp": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-14T17:17:34.432Z",
  "id": "72K3dERCYhjma5wD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Future Minds] - Cadastro na LP",
  "nodes": [
    {
      "parameters": {
        "queue": "={{ $node[\"dados\"].json[\"tag_do_lancamento\"] }} - Capta칞칚o - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "2a71403e-81f6-4c70-929a-d1ce57d872a5",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1060,
        260
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"name\"] || \"\";\nconst emailAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"Digite_seu_melhor_e_mail\"] || \"\";\nconst telefoneClienteOriginal = $node[\"cadastro_na_lp\"].json[\"body\"][\"DDD_Celular_Opcional\"] || \"\";\nconst instagramAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"Instagram\"] || \"\";\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    // Ajuste para remover o espa칞o extra caso n칚o haja sobrenome\n    let fullname = lname ? `${fname} ${lname}` : fname;\n\n    return { fname, lname, fullname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\nfunction formatInstagram(instagram) {\n    // Remover \"@\" e transformar em letras min칰sculas\n    return instagram.toLowerCase().replace(/^@/, \"\");\n}\n\nlet telefoneFinal = \"\";\n\n// Verificar se o telefone foi preenchido\nif (telefoneClienteOriginal) {\n    // Limpar o n칰mero para remover caracteres n칚o num칠ricos\n    const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n\n    let DDI = '';\n    let DDD = '';\n    let numero = '';\n\n    // Determinar se o telefone possui DDI\n    if (telefoneLimpo.length > 11) {\n        // Extrair o DDI (primeiros dois d칤gitos)\n        DDI = telefoneLimpo.slice(0, 2);\n        DDD = telefoneLimpo.slice(2, 4);\n        numero = telefoneLimpo.slice(4);\n    } else if (telefoneLimpo.length === 11) {\n        // Assumir DDI padr칚o (55) para n칰meros com DDD + n칰mero\n        DDI = '55';\n        DDD = telefoneLimpo.slice(0, 2);\n        numero = telefoneLimpo.slice(2);\n    } else if (telefoneLimpo.length === 10) {\n        // Assumir DDI padr칚o (55) para n칰meros com DDD + n칰mero de 10 d칤gitos\n        DDI = '55';\n        DDD = telefoneLimpo.slice(0, 2);\n        numero = telefoneLimpo.slice(2);\n    } else {\n        // Caso o n칰mero n칚o tenha tamanho esperado, consider치-lo inv치lido\n        telefoneFinal = telefoneLimpo; // Ou deixar vazio: telefoneFinal = \"\";\n    }\n\n    // Ajustar n칰mero com base no DDD\n    if (DDD && numero) {\n        if (parseInt(DDD) > 28) {\n            // Se o DDD for maior que 28 e o n칰mero tiver 9 d칤gitos, remover o nono d칤gito\n            if (numero.length === 9 && numero.startsWith(\"9\")) {\n                numero = numero.slice(1); // Remove o primeiro d칤gito\n            }\n        } else {\n            // Se o DDD for menor ou igual a 28 e o n칰mero tiver 8 d칤gitos, adicionar o nono d칤gito\n            if (numero.length === 8) {\n                numero = `9${numero}`; // Adiciona o nono d칤gito\n            }\n        }\n    }\n\n    // Formatar n칰mero final apenas se v치lido\n    if (DDI && DDD && numero) {\n        telefoneFinal = `${DDI}${DDD}${numero}`;\n    }\n}\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst formattedInstagram = formatInstagram(instagramAnswer);\nconst utm_source = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_SOURCE\"] || \"\";\nconst utm_campaign = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_CAMPAIGN\"] || \"\";\nconst utm_medium = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_MEDIUM\"] || \"\";\nconst utm_term = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_TERM\"] || \"\";\nconst utm_content = $node[\"cadastro_na_lp\"].json[\"body\"][\"UTM_CONTENT\"] || \"\";\nconst form_id = $node[\"cadastro_na_lp\"].json[\"body\"][\"Id_do_formulario\"] || \"\";\nconst form_name = \"Cadastro Webin치rio\" || \"\"; // Captura o form_name\nconst link_pagina = $node[\"cadastro_na_lp\"].json[\"body\"][\"URL\"];\n\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado ou vazio\n    instagram: formattedInstagram, // Instagram formatado\n    utm_source: utm_source,\n    utm_campaign: utm_campaign,\n    utm_term: utm_term,\n    utm_medium: utm_medium,\n    utm_content: utm_content,\n    form_id: form_id,\n    link_pagina: link_pagina,\n    form_name: form_name // Inclui o form_name no resultado\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "af29964f-ef8a-434a-a213-b8c0432bd75d",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cbdcad1-4920-4e7d-a6f9-437108ecded2",
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "05fd8409-f450-4cd2-88b0-9e201c4d8dc7",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "850bacff-b62b-484a-a48d-8a1832562e45",
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "2669a334-987d-4801-b9d6-a4fd4dcd4b1d",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "51d3c9fc-4672-4a9b-8ce4-33c6d5512cd2",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "b9957f57-607a-43cf-8298-2afcb7bde489",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "645a7f52-1b16-4174-b43c-76c7a4e0efae",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "5ca4d777-4e3b-4c9f-805d-2d03f4a73f3e",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "6cd09c13-e31f-4f8d-9bf9-2e227499d366",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "11026780-520c-4115-ac67-7d3ddb1c1234",
              "name": "utm_fun",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_fun\"] }}",
              "type": "string"
            },
            {
              "id": "d167d246-fee0-4122-986d-882fd3a4a2ae",
              "name": "utm_var",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_var\"] }}",
              "type": "string"
            },
            {
              "id": "2ec68456-3f2e-41f1-9164-67e381d536a6",
              "name": "nome_do_evento",
              "value": "Webinario",
              "type": "string"
            },
            {
              "id": "181210bf-6719-4a45-8cdd-9987e6a9f7f9",
              "name": "edicao_do_evento",
              "value": "1",
              "type": "string"
            },
            {
              "id": "e64100f6-9d54-44c5-8ef2-6cbab115ab35",
              "name": "form_id",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "d6775cb8-6322-4b46-b33e-ceb237ad1b2e",
              "name": "form_name",
              "value": "={{ $node[\"formata_dados\"].json[\"form_name\"] }} - {{ $node[\"formata_dados\"].json[\"link_pagina\"] }}",
              "type": "string"
            },
            {
              "id": "9f8c1e98-d212-478d-9e87-d6948151cd72",
              "name": "tag_do_lancamento",
              "value": "WEB001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "adc4e84f-a664-4ebe-82c4-855b8dc3ceb7",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        880,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=web001-cadastro-lp",
        "options": {}
      },
      "id": "2c05e9f2-f2b3-4962-bc5b-0ab6c258a72c",
      "name": "cadastro_na_lp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        260
      ],
      "webhookId": "29d86f24-72f3-467f-8364-b606251a4e23"
    }
  ],
  "pinData": {
    "cadastro_na_lp": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "content-length": "1288",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "8ec44c35f6cdddb2-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTczMzIzNjY3OH0.TZTUGiF-xLMp24MuSFpa9rj1KQcb2coIK530Vq7UjVA",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.170.2",
            "x-forwarded-host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3fc641f1cb52",
            "x-real-ip": "172.71.170.2"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Pricilla",
            "Digite_seu_melhor_e_mail": "pricilla.edite@gmail.com",
            "DDD_Celular_Opcional": "(21) 9861-88310",
            "UTM_SOURCE": "facebook",
            "UTM_MEDIUM": "cpc",
            "UTM_CAMPAIGN": "游꼙[OG][CAPTA칂츾O+EXTERNO][WEBN츼RIO]15/11/24",
            "UTM_TERM": "游꼙[OG][Est치tico][INTERESSES_+MIX_form칞칚o_universitaria]",
            "UTM_CONTENT": "CE01+-+Webn치rio",
            "Referral_Source": "http://instagram.com/",
            "Dispositivo": "Mobile",
            "URL": "https://links.liliancidreira.com.br/cap-webinar/?utm_source=facebook&utm_medium=cpc&utm_campaign=%F0%9F%8D%8A%5BOG%5D%5BCAPTA%C3%87%C3%83O+EXTERNO%5D%5BWEBN%C3%81RIO%5D15%2F11%2F24&utm_term=%F0%9F%8D%8A%5BOG%5D%5BEst%C3%A1tico%5D%5BINTERESSES_+MIX_form%C3%A7%C3%A3o_universitaria%5D&utm_content=CE01+-+Webn%C3%A1rio&utm_id=120214460352940616_v2_s01&fbclid=PAZXh0bgNhZW0BMABhZGlkAasWj_-xtEgBpujmKGrDuFNxDKXy7amh4Y_SnU3ZbWwuwCgRnv3HFQV7gKxl8gC0J5ACxw_aem_QcAX6KFOt6AK7LAKQCWX3Q",
            "IP_do_usuario": "181.232.240.190",
            "Data_da_conversao": "2024-12-03 14:37:48",
            "Id_do_formulario": "990252_1_17303227486722a13c1c59e900907819",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Rio de Janeiro",
            "Cidade_do_usuario": "Rio de Janeiro",
            "Id_da_pagina": "990252"
          },
          "webhookUrl": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/web001-cadastro-lp",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-14T18:59:36.969Z",
      "updatedAt": "2024-11-14T18:59:36.969Z",
      "id": "5HB3AqYVP1IhO2Iu",
      "name": "[WEB001]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-03T14:43:11.887Z",
  "versionId": "357ff11e-dc89-4ab8-85fa-4c08d891a46d"
}