workflows/⌚[Future Minds][Banco de Dados] - Busca Produto.json
{
  "active": true,
  "connections": {
    "executa_procedure": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:09:18.219Z",
  "id": "V1MRIFAiRTnN4zUZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Busca Produto",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_produto('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_id\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_name\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"value\"] || 0 }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "384a5381-ceb3-4345-bd63-a4e20edec1e6",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "c40c08e4-262b-409f-b625-3d71bd7408e7",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "verificada-produto",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0ffaea04-6898-41fb-9b3c-b559a3d68c94",
      "name": "fluxo_chamado",
      "webhookId": "78d28a6e-8198-4f81-9926-e2e6c6164519"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "177",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "product_id": 2615430,
            "product_name": "Planejamento estratégico 2025: Lucre sem enlouquecer com seu salão de beleza Autoadministrável - ÚNICO - Ingresso Único",
            "value": 97.9
          },
          "webhookUrl": "https://webhookhetznerhenrysantos.automagicbots.com.br/webhook/78d28a6e-8198-4f81-9926-e2e6c6164519",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T18:09:49.147Z",
  "versionId": "c4bbb0df-c67c-4e4d-9ace-474740c9d092"
}