workflows/⌚[Future Minds][Banco de Dados] - Rotacionamento de Colaboradores.json
{
  "active": true,
  "connections": {
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "email_colaborador_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_relacionamento1": {
      "main": [
        [
          {
            "node": "atualize_atribuicao_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "colaborador_existe3": {
      "main": [
        [
          {
            "node": "dados_colaborador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador5": {
      "main": [
        [
          {
            "node": "colaborador_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relacionamento_existe": {
      "main": [
        [
          {
            "node": "pesquisa_colaborador5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_relacionamento": {
      "main": [
        [
          {
            "node": "relacionamento_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_relacionamento": {
      "main": [
        [
          {
            "node": "atualize_atribuicao_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_colaborador_existe": {
      "main": [
        [
          {
            "node": "pesquisa_colaborador3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_relacionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador3": {
      "main": [
        [
          {
            "node": "colaborador_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "colaborador_existe": {
      "main": [
        [
          {
            "node": "insere_relacionamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador": {
      "main": [
        [
          {
            "node": "insere_relacionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador1": {
      "main": [
        [
          {
            "node": "atualiza_relacionamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualize_atribuicao_colaborador": {
      "main": [
        [
          {
            "node": "dados_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualize_atribuicao_colaborador1": {
      "main": [
        [
          {
            "node": "dados_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T19:33:53.264Z",
  "id": "WEYtaVxRxChWvFZL",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Rotacionamento de Colaboradores",
  "nodes": [
    {
      "parameters": {
        "path": "consulta-colaborador",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "af1980b6-b710-4838-b6b9-422e42661742",
      "name": "fluxo_chamado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -100,
        1000
      ],
      "webhookId": "7dff7a1f-1359-475a-8749-d16695e4bf1c"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "contato_responsavel",
          "mode": "list",
          "cachedResultName": "contato_responsavel"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_relacionamento\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_responsavel",
              "value": "={{ $node[\"pesquisa_colaborador1\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58f88bc3-3584-4aa6-8a32-a8b962e4c7af",
      "name": "atualiza_relacionamento1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1560,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d6775303-e8d6-4066-8ded-9807106b76ac",
              "leftValue": "={{ $node[\"pesquisa_colaborador5\"].json[\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2741267-5cce-4a1f-ba6f-dee0c21ce9d3",
      "name": "colaborador_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49bc1770-8197-483a-b0c5-501e42017fa6",
              "name": "id_chatwoot",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"id_chatwoot\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"id_chatwoot\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"id_chatwoot\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"id_chatwoot\"] : null }}",
              "type": "string"
            },
            {
              "id": "46ec6590-4b1e-4db3-869e-39878e2e5ec1",
              "name": "id_crm",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"id_crm\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"id_crm\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"id_crm\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"id_crm\"] : null }}",
              "type": "string"
            },
            {
              "id": "9233bde6-29d1-490f-b2b2-a87d883fdaca",
              "name": "apikey_whatsapp",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"apikey_whatsapp\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"apikey_whatsapp\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"apikey_whatsapp\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"apikey_whatsapp\"] : null }}",
              "type": "string"
            },
            {
              "id": "7af48129-02cd-403f-a276-bdfe0493bb3d",
              "name": "instancia_whatsapp",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"instancia_whatsapp\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"instancia_whatsapp\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"instancia_whatsapp\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"instancia_whatsapp\"] : null }}",
              "type": "string"
            },
            {
              "id": "31f724da-4288-49d0-9cce-d9d284cd1a97",
              "name": "nome",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"nome\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"nome\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"nome\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"nome\"] : null }}",
              "type": "string"
            },
            {
              "id": "dcf235df-2666-436c-a187-8a4a26c73bf2",
              "name": "telefone",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"telefone\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"telefone\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"telefone\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"telefone\"] : null }}",
              "type": "string"
            },
            {
              "id": "acf89c99-6e0a-4ec0-8b83-215f29604cc8",
              "name": "email",
              "value": "={{   $node[\"pesquisa_colaborador\"].runIndex >= 0        ? $node[\"pesquisa_colaborador\"].json[\"email\"] : $node[\"pesquisa_colaborador1\"].runIndex >= 0      ? $node[\"pesquisa_colaborador1\"].json[\"email\"]     : $node[\"pesquisa_colaborador3\"].runIndex >= 0        ? $node[\"pesquisa_colaborador3\"].json[\"email\"] : $node[\"pesquisa_colaborador5\"].runIndex >= 0        ? $node[\"pesquisa_colaborador5\"].json[\"email\"] : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b622e341-c773-42f4-b336-fd1b69fa463a",
      "name": "dados_colaborador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2500,
        500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores3",
          "mode": "list",
          "cachedResultName": "colaboradores3"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"pesquisa_relacionamento\"].json[\"id_responsavel\"] }}"
            },
            {
              "column": "status_atividade",
              "value": "Y"
            }
          ]
        },
        "options": {}
      },
      "id": "92989b5e-fab7-4ed1-8459-55babd6f9222",
      "name": "pesquisa_colaborador5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        940,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6b7e2434-ab0e-4e63-b61d-527079c2f64a",
              "leftValue": "={{ $node[\"pesquisa_relacionamento\"].json[\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "943d43d0-18d0-4abb-9e1b-297231613941",
      "name": "relacionamento_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "contato_responsavel",
          "mode": "list",
          "cachedResultName": "contato_responsavel"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "column": "funcao",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"time\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0f35722-6e84-4cd1-a6da-84f3bddde1d6",
      "name": "pesquisa_relacionamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        440,
        1100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "contato_responsavel",
          "mode": "list",
          "cachedResultName": "contato_responsavel"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{\n  $node[\"pesquisa_colaborador\"].runIndex >= 0 \n      ? $node[\"pesquisa_colaborador\"].json[\"id\"] : $node[\"pesquisa_colaborador3\"].runIndex >= 0 \n      ? $node[\"pesquisa_colaborador3\"].json[\"id\"] : null\n}}"
            },
            {
              "column": "funcao",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"time\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41ae3512-54e3-46fb-98e2-fdde12804f2b",
      "name": "insere_relacionamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1820,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6b7e2434-ab0e-4e63-b61d-527079c2f64a",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"email_colaborador\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ac80c7b-49fa-4a65-8c17-555a107354f0",
      "name": "email_colaborador_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        180,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores3",
          "mode": "list",
          "cachedResultName": "colaboradores3"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"email_colaborador\"] }}"
            },
            {
              "column": "status_atividade",
              "value": "Y"
            }
          ]
        },
        "options": {}
      },
      "id": "2df99268-c655-4dd1-9a9a-80e08685a6c7",
      "name": "pesquisa_colaborador3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1140,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1de9a6bc-5395-4840-b6ff-0ac3f9779921",
              "leftValue": "={{ $node[\"pesquisa_colaborador3\"].json[\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "302fde0c-577b-4ff3-8900-7a5e49d1e966",
      "name": "colaborador_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM colaboradores3\nWHERE funcao = '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"time\"] }}'\n  AND status_atividade = 'Y'\nORDER BY ultima_atribuicao ASC\nLIMIT 1;\n",
        "options": {}
      },
      "id": "420588a9-70ee-474c-bd5a-2b4c6725662c",
      "name": "pesquisa_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1620,
        1240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM colaboradores3\nWHERE funcao = '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"time\"] }}'\n  AND status_atividade = 'Y'\nORDER BY ultima_atribuicao ASC\nLIMIT 1;\n",
        "options": {}
      },
      "id": "22a64fef-2a2a-4a3c-b118-f1188014f9d4",
      "name": "pesquisa_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1340,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores3",
          "mode": "list",
          "cachedResultName": "colaboradores3"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_colaborador1\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "ultima_atribuicao",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16023494-2c3f-4590-babe-7fee2ef28ba4",
      "name": "atualize_atribuicao_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1800,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores3",
          "mode": "list",
          "cachedResultName": "colaboradores3"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{\n  $node[\"pesquisa_colaborador\"].runIndex >= 0 \n      ? $node[\"pesquisa_colaborador\"].json[\"id\"] : $node[\"pesquisa_colaborador3\"].runIndex >= 0 \n      ? $node[\"pesquisa_colaborador3\"].json[\"id\"] : null\n}}",
        "valuesToSend": {
          "values": [
            {
              "column": "ultima_atribuicao",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84a84741-ca42-40df-8315-7bf461b7122a",
      "name": "atualize_atribuicao_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2040,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "81",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "63cf449bb96d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "time": "Closer",
            "id_user": 10805,
            "email_colaborador": ""
          },
          "webhookUrl": "https://n8nwebhookgrupokedma.automagicbots.com.br/webhook/consulta-colaborador",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-26T22:16:29.905Z",
  "versionId": "bc276b1a-1fa4-4bf9-9949-b69aeb46c732"
}