workflows/⌚[Future Minds][Banco de Dados] - Busca ou Insere Cliente.json
{
  "active": true,
  "connections": {
    "executa_procedure": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:55:59.902Z",
  "id": "3lwxz4cJrRv8CS9B",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Busca ou Insere Cliente",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_cliente('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_conversao\"] }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "da30f6cd-79ce-4bfb-b036-a812f77c16d4",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "306194be-6773-4fd5-802b-f9a18c4f851a",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "add-customer-bd",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a06e061c-3120-44f4-8d33-4b7a1433e610",
      "name": "fluxo_chamado",
      "webhookId": "4444154f-7de3-49ca-8e36-944610f0eb5b"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "53",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_user": 29,
            "data_conversao": "2025-01-15 16:16:09"
          },
          "webhookUrl": "https://webhookhetznerhenrysantos.automagicbots.com.br/webhook/add-customer-bd",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T18:58:13.286Z",
  "versionId": "8d3ff745-02b1-4b01-bea4-9d388692af7c"
}