workflows/⌚[Future Minds][Banco de Dados] - Busca ou Insere Assinatura.json
{
  "active": true,
  "connections": {
    "executa_procedure": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:57:50.541Z",
  "id": "YmfFg0LfiCYnFlsk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Busca ou Insere Assinatura",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_assinatura({{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_conversao\"] }}, {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_produto\"] }}, '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_conversao\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_expiracao\"] }}');\n",
        "options": {
          "detailedOutput": false
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        620,
        -100
      ],
      "id": "096b4438-e52a-4a0d-96b9-d3aa2f52adaf",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        820,
        -100
      ],
      "id": "7100467b-1264-41eb-b682-bb16c1cda97d",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "add-subscription-bd",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        -100
      ],
      "id": "ccb78f14-3c7e-46a8-b74f-80a524ada058",
      "name": "fluxo_chamado",
      "webhookId": "7a046997-4089-434c-a0ae-f4da1d44546d"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "93",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_conversao": 9,
            "id_produto": 10,
            "data_conversao": "2025-01-15 16:16:09",
            "data_expiracao": "2026-01-15"
          },
          "webhookUrl": "https://webhookhetznerhenrysantos.automagicbots.com.br/webhook/add-subscription-bd",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T18:59:05.664Z",
  "versionId": "1d8b1ad6-c97d-43d0-929c-60c22c18ad21"
}