workflows/⌚[Future Minds][Banco de Dados] - Busca ou Insere Agendamento.json
{
  "active": true,
  "connections": {
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "pesquisa_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-27T18:57:52.994Z",
  "id": "GjoyZkGkxDuIMLWH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Busca ou Insere Agendamento",
  "nodes": [
    {
      "parameters": {
        "path": "add-agendamento-bd",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d042dc6a-6a21-4c47-b242-f7a8cfab94c3",
      "name": "fluxo_chamado",
      "webhookId": "ce9e0c49-3b01-40d1-a43e-0275d34030ce"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_agendamento('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_evento\"] }}', {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_cliente\"] ? $node[\"fluxo_chamado\"].json[\"body\"][\"id_cliente\"] : null }}, {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}, {{ $node[\"pesquisa_colaborador\"].json[\"id\"] }}, '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_agendamento\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"status_evento\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_de_inicio\"] }}','{{ $node[\"fluxo_chamado\"].json[\"body\"][\"hora_de_inicio\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"hora_de_termino\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"link_reuniao\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"evento\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"dia_da_semana_evento\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"data_cancelamento\"] ? $node[\"fluxo_chamado\"].json[\"body\"][\"data_cancelamento\"] : null  }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"motivo_cancelamento\"] ? $node[\"fluxo_chamado\"].json[\"body\"][\"motivo_cancelamento\"] : null }}', {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_agendamento_reagendado\"] ? $node[\"fluxo_chamado\"].json[\"body\"][\"id_agendamento_reagendado\"] : null }});\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        480,
        0
      ],
      "id": "d8a101c7-53c4-4d3c-a0b3-15343974af8e",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores3",
          "mode": "list",
          "cachedResultName": "colaboradores3"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_responsavel\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3336b1e3-9563-4576-8ff2-9da3c708d993",
      "name": "pesquisa_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "469",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "63cf449bb96d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_evento": "5418935",
            "id_cliente": "",
            "id_user": 10876,
            "id_responsavel": "beatriz@grupokedma.com.br",
            "data_agendamento": "2025-01-21 13:53:13",
            "status_evento": "Agendado",
            "data_de_inicio": "2025-01-29",
            "hora_de_inicio": "15:00:00",
            "hora_de_termino": "15:45:00",
            "link_reuniao": "https://meet.google.com/cdt-ahyk-xxe",
            "evento": "[WEBN] - Aplicação Webinário",
            "dia_da_semana_evento": "Quarta-feira",
            "data_cancelamento": "",
            "motivo_cancelamento": "",
            "id_agendamento_reagendado": ""
          },
          "webhookUrl": "https://n8nwebhookgrupokedma.automagicbots.com.br/webhook/add-agendamento-bd",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-27T18:59:50.714Z",
  "versionId": "5b95332c-6f4a-4572-8244-5a2b7264b457"
}