workflows/⌚[Future Minds][Teste de Prontidão] - Trata Dados.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "fila_acoes_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T19:47:19.349Z",
  "id": "QxjfusMWZTRTOVMS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Teste de Prontidão] - Trata Dados",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body.form_response.answers || [];\n\n// Criar um objeto para armazenar as perguntas e respostas usando os IDs como chaves\nconst perguntas_respostas = {};\n\n// Função para extrair múltiplas respostas e juntá-las por vírgula\nfunction extractMultipleChoices(answerId) {\n    const resposta = respostas.find(answer => answer.field.ref === answerId);\n    if (resposta && Array.isArray(resposta.choice?.label)) {\n        const respostaFormatada = resposta.choice.label.map(choice => choice.label).join(', ');\n        perguntas_respostas[answerId] = respostaFormatada;\n        return respostaFormatada;\n    }\n    return '';\n}\n\n/// Função para adicionar a resposta ao objeto perguntas_respostas\nfunction adicionarResposta(answerId, resposta) {\n    // Aqui agora vai aceitar valores vazios também, mas nunca undefined ou null\n    if (resposta !== undefined && resposta !== null) {\n        perguntas_respostas[answerId] = resposta;\n    }\n}\n\n// Mapeamento de perguntas com seus respectivos IDs\nconst perguntasMap = {\n    \"8da5cba7-26f8-4439-8e2a-1812bf43bd9f\": \"fullName\",\n    \"ab4aa364-dabb-4dd5-9ad3-6679dcc648f8\": \"email\",\n    \"8d3e1b7d-3ced-46fb-91c1-c1f9d80a6d0a\": \"telefone\",\n    \"066d8876-b712-418e-aad0-380881473a51\": \"tempo_cargo\",\n    \"e01eb1d9-11bd-4e10-813a-80fd6df584a1\": \"ultima_conversa_promocao\",\n    \"78e3b67f-b2b8-47b6-b1ba-49cdfe7e18e3\": \"ja_viu_colegas_promovidos\",\n    \"2a46856a-4cba-497f-9bd8-80c6ff384108\": \"acoes_promocao\",\n    \"a3d7861f-6baf-42b6-b197-8aa492361be4\": \"motivo_promocao_empresa\",\n    \"e4b3d185-9daa-4d54-ac02-9f20f1cb05ea\": \"posicionamento_empresa\",\n    \"a936b248-acbf-4364-a305-277cd67cca34\": \"chance_promocao\",\n    \"dc1d3a88-fb47-46bf-b497-20ca03f5390d\": \"sentimento_estagnacao\",\n    \"6fe5677d-c4fe-45e9-b2e9-f29101acc15e\": \"justificativa_familia\",\n    \"07e35a50-f998-46f8-be49-2add582ddb1b\": \"valor_metodo\",\n    \"utm_source\": \"utm_source\",\n    \"utm_campaign\": \"utm_campaign\",\n    \"utm_term\": \"utm_term\",\n    \"utm_medium\": \"utm_medium\",\n    \"utm_content\": \"utm_content\"\n};\n\n// Onde os UTM estão\nconst hiddenFields = inputData.body.form_response?.hidden || {};\n\n\n// Processar cada pergunta e armazenar no objeto perguntas_respostas\nfor (const [id, key] of Object.entries(perguntasMap)) {\n    if (key.startsWith(\"utm_\")) {\n        // Sempre define a UTM, mesmo que esteja vazia\n        const valorUtm = hiddenFields[key] ?? ''; // Se undefined, assume string vazia\n        adicionarResposta(id, valorUtm);\n    } else {\n        // Resposta comum, pega da lista de respostas do formulário\n        const respostaObj = respostas.find(answer => answer.field.ref === id);\n        const resposta = respostaObj?.text ||\n                         respostaObj?.email ||\n                         respostaObj?.phone_number ||\n                         respostaObj?.number ||\n                         respostaObj?.choice?.label || '';\n        adicionarResposta(id, resposta);\n    }\n}\n\nconst fullNameAnswer = respostas.find(answer => answer.field.ref === \"8da5cba7-26f8-4439-8e2a-1812bf43bd9f\")?.text || '';\nconst emailAnswer = respostas.find(answer => answer.field.ref === \"ab4aa364-dabb-4dd5-9ad3-6679dcc648f8\")?.email || \"\";\nconst telefoneClienteOriginal = respostas.find(answer => answer.field.ref === \"8d3e1b7d-3ced-46fb-91c1-c1f9d80a6d0a\")?.phone_number || \"\";\nconst instagramAnswer = respostas.find(answer => answer.field.ref === \"64b2b8478450603b76de7e5a\")?.t || \"\";\n\nconst pergunta1 = respostas.find(answer => answer.field.ref === \"066d8876-b712-418e-aad0-380881473a51\")?.choice.label || ''; // Há quanto tempo você está no mesmo cargo dentro da empresa?\nconst pergunta2 = respostas.find(answer => answer.field.ref === \"e01eb1d9-11bd-4e10-813a-80fd6df584a1\")?.choice.label || ''; // Qual dessas opções você acredita que te impede de alcançar esse objetivo profissional?\nconst pergunta3 = respostas.find(answer => answer.field.ref === \"78e3b67f-b2b8-47b6-b1ba-49cdfe7e18e3\")?.choice.label || ''; // Se você respondeu que está desempregado, qual era a sua última remuneração?\nconst pergunta4 = respostas.find(answer => answer.field.ref === \"2a46856a-4cba-497f-9bd8-80c6ff384108\")?.choice.label || ''; // Há quanto tempo você está no seu emprego?\nconst pergunta5 = respostas.find(answer => answer.field.ref === \"a3d7861f-6baf-42b6-b197-8aa492361be4\")?.choice.label || ''; // Qual é o seu cargo atual?\nconst pergunta6 = respostas.find(answer => answer.field.ref === \"e4b3d185-9daa-4d54-ac02-9f20f1cb05ea\")?.choice.label || ''; // Qual é o seu objetivo profissional para 2024?\nconst pergunta7 = respostas.find(answer => answer.field.ref === \"a936b248-acbf-4364-a305-277cd67cca34\")?.choice.label || ''; // Qual é a sua escolaridade?\nconst pergunta8 = respostas.find(answer => answer.field.ref === \"dc1d3a88-fb47-46bf-b497-20ca03f5390d\")?.choice.label || ''; // Quanto você ganha de salário?\nconst pergunta9 = respostas.find(answer => answer.field.ref === \"6fe5677d-c4fe-45e9-b2e9-f29101acc15e\")?.choice.label || ''; // Quanto você ganha de salário?\nconst pergunta10 = respostas.find(answer => answer.field.ref === \"07e35a50-f998-46f8-be49-2add582ddb1b\")?.choice.label || ''; // Quanto você ganha de salário?\n\n// Data de aplicação\nconst dataAplicacao = inputData.body.form_response.submitted_at || '';\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\nfunction formatarDataISO(dataISO) {\n    const data = new Date(dataISO);\n\n    const ano = data.getFullYear();\n    const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa do zero\n    const dia = String(data.getDate()).padStart(2, '0');\n    const horas = String(data.getHours()).padStart(2, '0');\n    const minutos = String(data.getMinutes()).padStart(2, '0');\n    const segundos = String(data.getSeconds()).padStart(2, '0');\n\n    return `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  \n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para remover todas as aspas e parênteses de um texto\nfunction removerAspasEParenteses(texto) {\n    // Substitui todas as ocorrências de aspas (\"\") por nada\n    let textoSemAspas = texto.replace(/\"/g, '');\n    // Substitui todas as ocorrências de parênteses () por nada\n    textoSemAspas = textoSemAspas.replace(/\\([^()]*\\)/g, '');\n    return textoSemAspas;\n}\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    // Ajuste para remover o espaço extra caso não haja sobrenome\n    let fullname = lname ? `${fname} ${lname}` : fname;\n\n    return { fname, lname, fullname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\nfunction formatInstagram(instagram) {\n    // Remover \"@\" e transformar em letras minúsculas\n    return instagram.toLowerCase().trim().replace(/^@/, \"\");\n}\n\nlet telefoneFinal = \"\";\n\n// Verificar se o telefone foi preenchido\nif (telefoneClienteOriginal) {\n    // Limpar o número para remover caracteres não numéricos\n    const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n\n    let DDI = '';\n    let DDD = '';\n    let numero = '';\n\n    // Determinar se o telefone possui DDI\n    if (telefoneLimpo.length > 11) {\n        // Extrair o DDI (primeiros dois dígitos)\n        DDI = telefoneLimpo.slice(0, 2);\n        DDD = telefoneLimpo.slice(2, 4);\n        numero = telefoneLimpo.slice(4);\n    } else if (telefoneLimpo.length === 11) {\n        // Assumir DDI padrão (55) para números com DDD + número\n        DDI = '55';\n        DDD = telefoneLimpo.slice(0, 2);\n        numero = telefoneLimpo.slice(2);\n    } else if (telefoneLimpo.length === 10) {\n        // Assumir DDI padrão (55) para números com DDD + número de 10 dígitos\n        DDI = '55';\n        DDD = telefoneLimpo.slice(0, 2);\n        numero = telefoneLimpo.slice(2);\n    } else {\n        // Caso o número não tenha tamanho esperado, considerá-lo inválido\n        telefoneFinal = telefoneLimpo; // Ou deixar vazio: telefoneFinal = \"\";\n    }\n\n    // Ajustar número com base no DDD\n    if (DDD && numero) {\n        if (parseInt(DDD) > 28) {\n            // Se o DDD for maior que 28 e o número tiver 9 dígitos, remover o nono dígito\n            if (numero.length === 9 && numero.startsWith(\"9\")) {\n                numero = numero.slice(1); // Remove o primeiro dígito\n            }\n        } else {\n            // Se o DDD for menor ou igual a 28 e o número tiver 8 dígitos, adicionar o nono dígito\n            if (numero.length === 8) {\n                numero = `9${numero}`; // Adiciona o nono dígito\n            }\n        }\n    }\n\n    // Formatar número final apenas se válido\n    if (DDI && DDD && numero) {\n        telefoneFinal = `${DDI}${DDD}${numero}`;\n    }\n}\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst formattedInstagram = formatInstagram(instagramAnswer);\nconst form_id = $node[\"Webhook\"].json[\"body\"][\"form_response\"][\"form_id\"]  || \"\";\nconst form_name = $node[\"Webhook\"].json[\"body\"][\"form_response\"][\"definition\"][\"title\"] || \"\";\nconst endings = inputData.body.form_response.ending.ref || \"\";\nconst data_aplicacao = formatarDataISO(dataAplicacao) || \"\";\nconst score = $node[\"Webhook\"].json[\"body\"][\"form_response\"][\"calculated\"][\"score\"] || \"\";\n\n// Determinar qualificação\nlet qualificacao = \"Desqualificado\";\nif (endings === \"9e7ae4b6-48dc-439f-b145-e8b954a80bdd\") {\n    qualificacao = \"Qualificado\";\n}\n\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado ou vazio\n    instagram: formattedInstagram, // Instagram formatado\n    utm_source: utmSource,\n    utm_campaign: utmCampaign,\n    utm_term: utmTerm,\n    utm_medium: utmMedium,\n    utm_content: utmContent,\n    dataAplicacao: data_aplicacao,\n    tempo_cargo: pergunta1,\n    ultima_conversa_promocao: pergunta2,\n    ja_viu_colegas_promovidos: pergunta3,\n    acoes_promocao: pergunta4,\n    motivo_promocao_empresa: pergunta5,\n    posicionamento_empresa: pergunta6,\n    chance_promocao: pergunta7,\n    sentimento_estagnacao: pergunta8,\n    justificativa_familia: pergunta9,\n    valor_metodo: pergunta10,\n    score: score,\n    ending: endings,\n    qualificacao: qualificacao,\n    perguntas_respostas: perguntas_respostas,\n    form_id: form_id,\n    form_name: form_name // Inclui o form_name no resultado\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "150a4f11-06f6-4827-b226-4e474ea4b5b2",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "857cec21-9e14-4ec1-8846-dc73f03b18be",
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "cb8cf50a-ad5f-4f6c-a108-bc8207ed39d6",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "ea504228-bc53-47ab-af46-8ffc438c3647",
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "936860ac-b806-4273-ad2a-e55dab31d731",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "d8adee03-c9d3-449a-a1c9-39feba83037b",
              "name": "instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "dbf48f0c-ad19-46ca-ace2-dd71301de650",
              "name": "data_aplicacao",
              "value": "={{ $node[\"formata_dados\"].json[\"dataAplicacao\"] }}",
              "type": "string"
            },
            {
              "id": "24d5eecc-7a73-4814-9e87-2ab22738d2b5",
              "name": "id_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
              "type": "string"
            },
            {
              "id": "7df91456-16d1-4aa6-8c92-bf48117dc184",
              "name": "id_ferramenta_forms",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "36697c59-df0d-4d8e-a21e-c8252542fd27",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "24d8401c-9ad4-4813-a992-b19b4ce7db34",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "8d013fe4-aba3-4448-9362-f41ae28a4160",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "9424999b-23c6-4683-baf4-42737742acfc",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "52797712-1952-4f3e-b216-8214b6dc3986",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "b1df6562-92bf-4f75-9fd9-045e977f9b0c",
              "name": "incomodacao",
              "value": "={{ $node[\"formata_dados\"].json[\"incomodacao\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "8be23767-974b-4027-a66e-5479fae83aef",
              "name": "obstaculo",
              "value": "={{ $node[\"formata_dados\"].json[\"obstaculo\"]  || \"\" }}",
              "type": "string"
            },
            {
              "id": "359317c7-5d26-484c-b21a-ea63c8c10332",
              "name": "remuneracao_anterior",
              "value": "={{ $node[\"formata_dados\"].json[\"remuneracao_anterior\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "571e5db2-c2eb-4a74-a4ea-6606e72987ca",
              "name": "tempo_emprego",
              "value": "={{ $node[\"formata_dados\"].json[\"tempo_emprego\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "fb37c37f-d346-491d-a166-e2f6ac692331",
              "name": "cargo",
              "value": "={{ $node[\"formata_dados\"].json[\"cargo\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "dba5c0a7-b53f-4179-bc30-e37cfa7c45e3",
              "name": "objetivo",
              "value": "={{ $node[\"formata_dados\"].json[\"objetivo\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "f8c87689-0188-4acb-81bf-cb20813de065",
              "name": "tipo_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
              "type": "string"
            },
            {
              "id": "396fb545-7ed0-4eab-9e0d-f17b90721a11",
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados\"].json[\"qualificacao\"] }}",
              "type": "string"
            },
            {
              "id": "f6a8c5d2-7a71-40bf-83df-d02f588d75dd",
              "name": "id_funil",
              "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
              "type": "string"
            },
            {
              "id": "12a6881c-106c-4e59-bb47-6c739d268efe",
              "name": "escolaridade",
              "value": "={{ $node[\"formata_dados\"].json[\"escolaridade\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "cf70dcf9-e61a-4bb3-86e8-0ecf4787b0fb",
              "name": "perguntas_respostas",
              "value": "={{ $node[\"formata_dados\"].json[\"perguntas_respostas\"] }}",
              "type": "object"
            },
            {
              "id": "fcf5b300-a2ea-4706-9a2f-a10e3d0c27b4",
              "name": "salario",
              "value": "={{ $node[\"formata_dados\"].json[\"salario\"] || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        0
      ],
      "id": "57bc9e4c-426a-44ea-a87a-2876480768c5",
      "name": "dados"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "5149ffc5-119d-46cc-a7ed-d4fcc61ca30f",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "f82300a3-2517-4686-b1d3-a5d8b878818f",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        460,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "43a9a88c-e23c-4f70-8515-a5a2c63637dd",
      "name": "fila_acoes_funis",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "353c67e1-58c2-4d68-aa35-af9e8c30afac",
        "options": {}
      },
      "id": "37c4a308-15de-4162-ac01-103574435b2e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "353c67e1-58c2-4d68-aa35-af9e8c30afac"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "user-agent": "Typeform Webhooks",
            "content-length": "13890",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "traceparent": "00-9e1a677ee3d50f0ea444c4ecfd916d9f-b1cafc8f5effd70a-01",
            "x-forwarded-for": "34.230.177.131",
            "x-forwarded-host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8fff2fff9f21",
            "x-real-ip": "34.230.177.131"
          },
          "params": {},
          "query": {},
          "body": {
            "event_id": "01JQVDC7BC9QDRYF08DS34JM92",
            "event_type": "form_response",
            "form_response": {
              "form_id": "pXtHgmfx",
              "token": "o8d52yq47ahz8unnc9o8d52ymx56c1d7",
              "landed_at": "2025-04-02T14:08:02Z",
              "submitted_at": "2025-04-02T14:09:42Z",
              "hidden": {
                "utm_campaign": "",
                "utm_content": "",
                "utm_medium": "",
                "utm_source": "",
                "utm_term": ""
              },
              "calculated": {
                "score": 40
              },
              "variables": [
                {
                  "key": "correct_answers",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "counter_1c30b854_c597_4440_8672_88f98179817e",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "counter_475978af_0905_4036_9d65_2e8eaef04d89",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "counter_de5789cd_3bbd_4847_8004_d638bd4b605a",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "max_score",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "quiz_score",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "score",
                  "type": "number",
                  "number": 40
                },
                {
                  "key": "total_scorable_questions",
                  "type": "number",
                  "number": 0
                },
                {
                  "key": "winning_outcome_id",
                  "type": "outcome_id",
                  "outcome_id": "1mGm4mofwOSU"
                }
              ],
              "outcome": {
                "id": "1mGm4mofwOSU",
                "title": "Agora é hora de acelerar sua ascensão!"
              },
              "definition": {
                "id": "pXtHgmfx",
                "title": "Teste de Prontidão para Promoção",
                "fields": [
                  {
                    "id": "G2P6CTzK3d19",
                    "ref": "8da5cba7-26f8-4439-8e2a-1812bf43bd9f",
                    "type": "short_text",
                    "title": "First name",
                    "properties": {}
                  },
                  {
                    "id": "LPV6L1DIuD7x",
                    "ref": "e6cb438a-8974-41b9-b1eb-158c52950929",
                    "type": "short_text",
                    "title": "Last name",
                    "properties": {}
                  },
                  {
                    "id": "wzFtbBAm8tDx",
                    "ref": "8d3e1b7d-3ced-46fb-91c1-c1f9d80a6d0a",
                    "type": "phone_number",
                    "title": "Phone number",
                    "properties": {}
                  },
                  {
                    "id": "ADg4qfKxqMYv",
                    "ref": "ab4aa364-dabb-4dd5-9ad3-6679dcc648f8",
                    "type": "email",
                    "title": "Email",
                    "properties": {}
                  },
                  {
                    "id": "8X0pxwupCqGc",
                    "ref": "066d8876-b712-418e-aad0-380881473a51",
                    "type": "multiple_choice",
                    "title": "Há quanto tempo você está no mesmo cargo dentro da empresa?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "tCDZ2KUpUnM7",
                        "ref": "f051dcfe-c140-4d75-95ac-a4403b6ed3fb",
                        "label": "Mais de 5 anos"
                      },
                      {
                        "id": "biKKTXChutl2",
                        "ref": "a3e11de5-fc07-434e-a405-0c465f0615b6",
                        "label": "De 3 a 5 anos"
                      },
                      {
                        "id": "b0fgAlXksEq9",
                        "ref": "461ccf46-2644-4ab0-862d-71fb029b6d70",
                        "label": "De 1 a 3 anos"
                      },
                      {
                        "id": "yIYnpAUz2HBb",
                        "ref": "3fd408d4-3f67-4188-ac8e-d66a66a5c85e",
                        "label": "Menos de 1 ano"
                      }
                    ]
                  },
                  {
                    "id": "hk5cWwqHfsF0",
                    "ref": "e01eb1d9-11bd-4e10-813a-80fd6df584a1",
                    "type": "multiple_choice",
                    "title": "Quando foi a última vez que você teve uma conversa clara sobre promoção com seu gestor?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "GnZIy3EXahKp",
                        "ref": "dbc7c585-1f28-45f1-a559-9cf46736864d",
                        "label": "Nunca tive essa conversa"
                      },
                      {
                        "id": "SrtYTYldrpOk",
                        "ref": "2895274a-d780-4b10-b92e-01911e424f99",
                        "label": "Mais de 1 ano atrás"
                      },
                      {
                        "id": "oH3LD3Mjjhxr",
                        "ref": "f0818d0b-678c-45fb-b0d6-bff4420238db",
                        "label": "Nos últimos 6 meses"
                      },
                      {
                        "id": "jCWipV6QgItU",
                        "ref": "e33c7e03-bf04-4185-98eb-43c47a9161f3",
                        "label": "Nos últimos 3 meses e com um plano claro"
                      }
                    ]
                  },
                  {
                    "id": "XHvwiwUCpckb",
                    "ref": "78e3b67f-b2b8-47b6-b1ba-49cdfe7e18e3",
                    "type": "multiple_choice",
                    "title": "Você já viu colegas sendo promovidos enquanto você continua no mesmo cargo?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "dcih5MCMRHG8",
                        "ref": "c977196b-1aa6-43ed-ac6f-78002adca5b2",
                        "label": "Sim, várias vezes"
                      },
                      {
                        "id": "1VpzFv6JONGS",
                        "ref": "461e5b69-043a-4b22-8206-3513f9528de0",
                        "label": "Algumas vezes, e sempre há explicações vagas"
                      },
                      {
                        "id": "15V0nRy6OaGR",
                        "ref": "57d65a82-432c-412f-9a16-eeaca0fe59bf",
                        "label": "Raramente, mas já aconteceu"
                      },
                      {
                        "id": "ZrkS0CDxOzoR",
                        "ref": "551472e8-e500-41f8-bbcb-28ef91ba324d",
                        "label": "Não, sempre sou considerado quando há promoções"
                      }
                    ]
                  },
                  {
                    "id": "E6XIONT4YUzf",
                    "ref": "2a46856a-4cba-497f-9bd8-80c6ff384108",
                    "type": "multiple_choice",
                    "title": "O que você já fez até agora para tentar acelerar sua promoção?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "ZHV7ypfKA829",
                        "ref": "83985024-7780-4572-a867-73fbcee152be",
                        "label": "Fiz cursos, MBAs ou certificações"
                      },
                      {
                        "id": "VUA8VSoJw04G",
                        "ref": "a606f7f0-6916-4d26-b6c8-d661b4571fc6",
                        "label": "Pedi feedback ao meu gestor, mas nunca recebo respostas claras"
                      },
                      {
                        "id": "hNJzYp0jtiV3",
                        "ref": "541896b9-bf69-4c9c-9f17-51bfb660b0e3",
                        "label": "Trabalho muito além do esperado, esperando reconhecimento"
                      },
                      {
                        "id": "1qAYZdpQX3sB",
                        "ref": "aa578eca-2ed7-4c31-805f-5b284bb90b0b",
                        "label": "Tenho um plano claro e sigo um método estratégico."
                      }
                    ]
                  },
                  {
                    "id": "xL9UX0wmETxI",
                    "ref": "a3d7861f-6baf-42b6-b197-8aa492361be4",
                    "type": "multiple_choice",
                    "title": "O que você acredita que pesa mais na decisão de uma promoção na sua empresa?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "YCfbc4uPgAIg",
                        "ref": "e26f42f0-a4d1-4a4d-a295-f13c1564093f",
                        "label": "Conhecimento técnico e qualificações."
                      },
                      {
                        "id": "Dq1CYXSx5Wdl",
                        "ref": "dc0e0742-83ac-4095-9edb-b34ea9b35013",
                        "label": "Tempo de casa e dedicação."
                      },
                      {
                        "id": "0wskU7K7iz0b",
                        "ref": "6f8852de-f968-4528-8542-90c1d3a382a3",
                        "label": "Relacionamento com a liderança e influência interna."
                      },
                      {
                        "id": "RdeUBnmRULSt",
                        "ref": "cc24ca70-2807-45bf-a1ad-944dda7bafcb",
                        "label": "Contribuição estratégica e impacto nos resultados."
                      }
                    ]
                  },
                  {
                    "id": "MT7rtWJ7tY5L",
                    "ref": "e4b3d185-9daa-4d54-ac02-9f20f1cb05ea",
                    "type": "multiple_choice",
                    "title": "Como você se posiciona dentro da empresa?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "vQONanzm2MA6",
                        "ref": "407bace1-4673-4423-99ff-a62ef257dbff",
                        "label": "Foco 100% na entrega técnica e espero que a empresa reconheça meu esforço."
                      },
                      {
                        "id": "kV3ihvCXcLOm",
                        "ref": "6d8e0d6d-4949-4450-9eec-4b5ec1de9d12",
                        "label": "Tento me destacar, mas sinto que não sei exatamente como ganhar visibilidade."
                      },
                      {
                        "id": "oLsQz0XcVhvv",
                        "ref": "1e23bdd5-8d5b-4445-a010-187bf762b1ec",
                        "label": "Me relaciono bem com todos, mas não sou lembrado para decisões estratégicas."
                      },
                      {
                        "id": "CIwcVu25DybC",
                        "ref": "c46bc9c9-c63e-48df-9230-150116b4c1be",
                        "label": "Sei exatamente como construir minha visibilidade e faço isso de forma intencional."
                      }
                    ]
                  },
                  {
                    "id": "NmnF7ly8sFu2",
                    "ref": "a936b248-acbf-4364-a305-277cd67cca34",
                    "type": "multiple_choice",
                    "title": "Se sua empresa estivesse planejando promoções para o próximo ano, qual a chance de seu nome estar na lista?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "aKZgst51ER8o",
                        "ref": "07b718fc-73c2-4dce-86a2-83814d80dee1",
                        "label": "Nenhuma, nem me enxergam como líder."
                      },
                      {
                        "id": "hm7eRaibzqNX",
                        "ref": "cda5f11c-fa41-4cce-871a-414dc58c7343",
                        "label": "Baixa, sou visto como técnico e não como gestor."
                      },
                      {
                        "id": "yyMUv3wD7B3M",
                        "ref": "044d7c59-dfe5-4d57-b36d-d82cffdeefab",
                        "label": "Moderada, mas ainda não sou prioridade."
                      },
                      {
                        "id": "b6YQcYQP86cM",
                        "ref": "2f539ef8-4680-45b9-bb7b-1f2e28a99743",
                        "label": "Alta, sou reconhecido pelo meu impacto."
                      }
                    ]
                  },
                  {
                    "id": "RQhlzBbXR3fM",
                    "ref": "dc1d3a88-fb47-46bf-b497-20ca03f5390d",
                    "type": "multiple_choice",
                    "title": "Se você continuar no mesmo cargo pelos próximos 2 anos, como se sentirá?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "nDXgfON35ZI0",
                        "ref": "a771f677-c8b8-415f-b0d1-8f4aa8af4df3",
                        "label": "Extremamente frustrado(a) e desmotivado(a)."
                      },
                      {
                        "id": "Fvpb4J1BvJPm",
                        "ref": "86d801f5-7693-43e7-bed2-e8e32f10c5ed",
                        "label": "Desapontado(a), mas sem saber o que fazer para mudar isso."
                      },
                      {
                        "id": "sva35pIkVHAT",
                        "ref": "2e7701d9-fe17-4984-8c2f-c9fb4660e49e",
                        "label": "Neutro(a), pois ainda tenho esperança de crescer."
                      },
                      {
                        "id": "hPvjQN6AF7lH",
                        "ref": "714bcef8-39a0-4236-8edf-1a1cb8c9fd17",
                        "label": "Tranquilo(a), pois sei que estou no caminho certo para a promoção."
                      }
                    ]
                  },
                  {
                    "id": "8F5vxxciu0QN",
                    "ref": "6fe5677d-c4fe-45e9-b2e9-f29101acc15e",
                    "type": "multiple_choice",
                    "title": "Como você se sente quando precisa justificar para amigos ou familiares por que ainda não foi promovido?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "eJx8uPSQPgJF",
                        "ref": "620d7eb3-a71f-41a3-8b71-5a61dc203af1",
                        "label": "Envergonhado(a), evito falar sobre isso."
                      },
                      {
                        "id": "5iE0mXABsx31",
                        "ref": "b93d46d9-d712-4c3d-81d4-320b3bbda06c",
                        "label": "Frustrado(a), pois não sei explicar o que está dando errado."
                      },
                      {
                        "id": "sLJxeXB9vQSV",
                        "ref": "c85fde1b-84de-45a1-9a0e-510b5c19b7b3",
                        "label": "Neutro(a), porque acredito que minha hora vai chegar."
                      },
                      {
                        "id": "RAy04Te9au9G",
                        "ref": "c7a18cd5-4e08-4563-92d2-beaa29332b52",
                        "label": "Confiante, pois estou no caminho certo e sei como crescer."
                      }
                    ]
                  },
                  {
                    "id": "JslBGQeHrelF",
                    "ref": "07e35a50-f998-46f8-be49-2add582ddb1b",
                    "type": "multiple_choice",
                    "title": "Se houvesse um método claro para acelerar seu crescimento profissional, quanto isso valeria para você?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "lANjEk7hxHWh",
                        "ref": "b509de6e-9e6d-47c0-bdc0-5567dd6cc02c",
                        "label": "Nada, acho que promoções acontecem naturalmente."
                      },
                      {
                        "id": "t7v9yij0ctuZ",
                        "ref": "94a55810-82a1-4ceb-bfa4-614160901e75",
                        "label": "Algo acessível, mas não sei se faz tanta diferença."
                      },
                      {
                        "id": "AKMsAjYvHDyl",
                        "ref": "0c3da7c3-eb85-4c51-af31-de241dfcc8ed",
                        "label": "Um valor significativo, pois sei que isso impactaria minha vida."
                      },
                      {
                        "id": "CTJ8iBysya4n",
                        "ref": "6d3c21b3-98b6-42fa-9c0f-5fa7e8fd5f5b",
                        "label": "Muito, porque já investi tempo e dinheiro sem retorno e quero uma solução real."
                      }
                    ]
                  }
                ],
                "outcome": {
                  "variable": "winning_outcome_id",
                  "choices": [
                    {
                      "id": "vMJJJSmkv8pt",
                      "ref": "f1a14c38-5132-4e2f-9203-7798aec2a122",
                      "title": "*Sua carreira não pode ficar parada!*",
                      "counter_variable": "counter_1c30b854_c597_4440_8672_88f98179817e",
                      "thankyou_screen_ref": "9e7ae4b6-48dc-439f-b145-e8b954a80bdd"
                    },
                    {
                      "id": "Xh7Kggwnpjcf",
                      "ref": "6ee3b59d-5784-4a29-a235-a91d1d1c67f0",
                      "title": "*Você já começou a se movimentar, mas ainda não está no ritmo ideal para a promoção.*",
                      "counter_variable": "counter_475978af_0905_4036_9d65_2e8eaef04d89",
                      "thankyou_screen_ref": "57f7fefe-ff00-43ff-9b8d-733a995a0cac"
                    },
                    {
                      "id": "1mGm4mofwOSU",
                      "ref": "d76d38ce-3676-44d1-b07d-89ff569faafe",
                      "title": "Agora é hora de acelerar sua ascensão!",
                      "counter_variable": "counter_de5789cd_3bbd_4847_8004_d638bd4b605a",
                      "thankyou_screen_ref": "777c6da3-54c4-48b0-b118-dc07c36f1519"
                    }
                  ]
                },
                "endings": [
                  {
                    "id": "xfhrfGhBz7Xf",
                    "ref": "777c6da3-54c4-48b0-b118-dc07c36f1519",
                    "title": "Agora é hora de acelerar sua ascensão!",
                    "type": "thankyou_screen",
                    "properties": {
                      "description": "Você já está no caminho do crescimento, mas sabe que ainda há espaço para avançar mais rápido e garantir sua próxima promoção. \n\nNão basta apenas esperar o momento certo – você precisa criar o momento certo!\n\nBaixe gratuitamente o e-book \"Como Construir um Crescimento Profissional Estratégico e Previsível\" e aprenda:\n\n✅ Como aumentar sua visibilidade e ser lembrado para cargos de liderança.\n\n✅ A diferença entre profissionais que crescem rápido e os que ficam estagnados.\n\n✅ Como tornar seu crescimento previsível e não depender de \"sorte\" para ser promovido.\n\nVocê já está na direção certa – agora só falta acelerar! \n\nBaixe o material gratuito agora e fortaleça sua estratégia.",
                      "button_text": "Baixar o E-book Agora",
                      "show_button": true,
                      "share_icons": false,
                      "button_mode": "redirect",
                      "redirect_url": "https://drive.google.com/file/d/16mLQ4163AAJNCEgME8k3V_V6uXme08q4/view?usp=drive_link"
                    }
                  }
                ]
              },
              "answers": [
                {
                  "type": "text",
                  "text": "Gabriel",
                  "field": {
                    "id": "G2P6CTzK3d19",
                    "type": "short_text",
                    "ref": "8da5cba7-26f8-4439-8e2a-1812bf43bd9f"
                  }
                },
                {
                  "type": "text",
                  "text": "Amaral",
                  "field": {
                    "id": "LPV6L1DIuD7x",
                    "type": "short_text",
                    "ref": "e6cb438a-8974-41b9-b1eb-158c52950929"
                  }
                },
                {
                  "type": "phone_number",
                  "phone_number": "+5531985711260",
                  "field": {
                    "id": "wzFtbBAm8tDx",
                    "type": "phone_number",
                    "ref": "8d3e1b7d-3ced-46fb-91c1-c1f9d80a6d0a"
                  }
                },
                {
                  "type": "email",
                  "email": "teste@automagicbots.com.br",
                  "field": {
                    "id": "ADg4qfKxqMYv",
                    "type": "email",
                    "ref": "ab4aa364-dabb-4dd5-9ad3-6679dcc648f8"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "tCDZ2KUpUnM7",
                    "label": "Mais de 5 anos",
                    "ref": "f051dcfe-c140-4d75-95ac-a4403b6ed3fb"
                  },
                  "field": {
                    "id": "8X0pxwupCqGc",
                    "type": "multiple_choice",
                    "ref": "066d8876-b712-418e-aad0-380881473a51"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "jCWipV6QgItU",
                    "label": "Nos últimos 3 meses e com um plano claro",
                    "ref": "e33c7e03-bf04-4185-98eb-43c47a9161f3"
                  },
                  "field": {
                    "id": "hk5cWwqHfsF0",
                    "type": "multiple_choice",
                    "ref": "e01eb1d9-11bd-4e10-813a-80fd6df584a1"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "ZrkS0CDxOzoR",
                    "label": "Não, sempre sou considerado quando há promoções",
                    "ref": "551472e8-e500-41f8-bbcb-28ef91ba324d"
                  },
                  "field": {
                    "id": "XHvwiwUCpckb",
                    "type": "multiple_choice",
                    "ref": "78e3b67f-b2b8-47b6-b1ba-49cdfe7e18e3"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "1qAYZdpQX3sB",
                    "label": "Tenho um plano claro e sigo um método estratégico.",
                    "ref": "aa578eca-2ed7-4c31-805f-5b284bb90b0b"
                  },
                  "field": {
                    "id": "E6XIONT4YUzf",
                    "type": "multiple_choice",
                    "ref": "2a46856a-4cba-497f-9bd8-80c6ff384108"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "RdeUBnmRULSt",
                    "label": "Contribuição estratégica e impacto nos resultados.",
                    "ref": "cc24ca70-2807-45bf-a1ad-944dda7bafcb"
                  },
                  "field": {
                    "id": "xL9UX0wmETxI",
                    "type": "multiple_choice",
                    "ref": "a3d7861f-6baf-42b6-b197-8aa492361be4"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "CIwcVu25DybC",
                    "label": "Sei exatamente como construir minha visibilidade e faço isso de forma intencional.",
                    "ref": "c46bc9c9-c63e-48df-9230-150116b4c1be"
                  },
                  "field": {
                    "id": "MT7rtWJ7tY5L",
                    "type": "multiple_choice",
                    "ref": "e4b3d185-9daa-4d54-ac02-9f20f1cb05ea"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "b6YQcYQP86cM",
                    "label": "Alta, sou reconhecido pelo meu impacto.",
                    "ref": "2f539ef8-4680-45b9-bb7b-1f2e28a99743"
                  },
                  "field": {
                    "id": "NmnF7ly8sFu2",
                    "type": "multiple_choice",
                    "ref": "a936b248-acbf-4364-a305-277cd67cca34"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "hPvjQN6AF7lH",
                    "label": "Tranquilo(a), pois sei que estou no caminho certo para a promoção.",
                    "ref": "714bcef8-39a0-4236-8edf-1a1cb8c9fd17"
                  },
                  "field": {
                    "id": "RQhlzBbXR3fM",
                    "type": "multiple_choice",
                    "ref": "dc1d3a88-fb47-46bf-b497-20ca03f5390d"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "RAy04Te9au9G",
                    "label": "Confiante, pois estou no caminho certo e sei como crescer.",
                    "ref": "c7a18cd5-4e08-4563-92d2-beaa29332b52"
                  },
                  "field": {
                    "id": "8F5vxxciu0QN",
                    "type": "multiple_choice",
                    "ref": "6fe5677d-c4fe-45e9-b2e9-f29101acc15e"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "CTJ8iBysya4n",
                    "label": "Muito, porque já investi tempo e dinheiro sem retorno e quero uma solução real.",
                    "ref": "6d3c21b3-98b6-42fa-9c0f-5fa7e8fd5f5b"
                  },
                  "field": {
                    "id": "JslBGQeHrelF",
                    "type": "multiple_choice",
                    "ref": "07e35a50-f998-46f8-be49-2add582ddb1b"
                  }
                }
              ],
              "ending": {
                "id": "xfhrfGhBz7Xf",
                "ref": "777c6da3-54c4-48b0-b118-dc07c36f1519"
              }
            }
          },
          "webhookUrl": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/353c67e1-58c2-4d68-aa35-af9e8c30afac",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-02T14:28:06.922Z",
  "versionId": "485e2278-3b1d-4c28-bd7e-d93eed9428ae"
}