workflows/⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis.json
{
  "active": true,
  "connections": {
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_cadastro": {
      "main": [
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_cadastro": {
      "main": [
        [
          {
            "node": "cria_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "pesquisa_etapa_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_checkout": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_produtos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cadastro_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_etapa_funil": {
      "main": [
        [
          {
            "node": "evento_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_produtos": {
      "main": [
        [
          {
            "node": "busca_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_produto": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_checkout": {
      "main": [
        [
          {
            "node": "create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm3": {
      "main": [
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm4": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm3": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm5": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_conversion_bd": {
      "main": [
        [
          {
            "node": "add_conversion_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd1": {
      "main": [
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_customer_bd": {
      "main": [
        [
          {
            "node": "add_customer_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd1": {
      "main": [
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_subscription_bd": {
      "main": [
        [
          {
            "node": "add_subscription_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_customer_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cadastro_bd": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_oficial": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_oficial": {
      "main": [
        [
          {
            "node": "send_message_api_oficial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing3": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm3": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing3": {
      "main": [
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers": {
      "main": [
        [
          {
            "node": "pesquisa_acao_insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_insert_forms_answers": {
      "main": [
        [
          {
            "node": "insert_forms_answers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers1": {
      "main": [
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_flow_manychat": {
      "main": [
        [
          {
            "node": "send_flow_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_manychat": {
      "main": [
        [
          {
            "node": "create_update_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat1": {
      "main": [
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reprocessamento": {
      "main": [
        [],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome_email_telefone_ig_null": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat1": {
      "main": [
        [],
        []
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "nome_email_telefone_ig_null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:00:59.398Z",
  "id": "CzrOEj07nHcf2jtk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c2989400-791d-4e75-a455-1736103a65af",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2640,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_cadastro\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        700
      ],
      "id": "cd5bf94e-5dfc-4bc4-baad-7af9c632ec50",
      "name": "cria_cadastro"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_cadastro_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "f93cafe1-91c8-4411-868e-e6e3505f3dae",
      "name": "pesquisa_variavel_n8n_fluxo_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1560,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2420,
        560
      ],
      "id": "f2472d49-5f12-466f-aba0-5180dc62dc1e",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Checkout",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ca8b31d-f3df-4b3d-a7f8-275e99f91ac5",
      "name": "evento_checkout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2000,
        560
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "etapas_funil",
          "mode": "list",
          "cachedResultName": "etapas_funil"
        },
        "where": {
          "values": [
            {
              "column": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "120c5bd1-b813-4236-b101-c091c4fa2f5b",
      "name": "pesquisa_etapa_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2200,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Produtos"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "dee9c6cc-e91c-465e-b4af-bfd778f57f06",
      "name": "pesquisa_variavel_n8n_fluxo_produtos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1640,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_produtos\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_id\"] }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_name\"] }}"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        380
      ],
      "id": "4ee921de-ca1e-438b-8530-083a1c33f693",
      "name": "busca_produto"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_checkout",
          "mode": "list",
          "cachedResultName": "situacoes_checkout"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d6d1931-5b6e-4462-9e03-121dba04f24e",
      "name": "pesquisa_situacao_checkout",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1200,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        220
      ],
      "id": "bd53bc58-6c1f-4ec2-be31-c99c3c93d330",
      "name": "create_update_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "89947e4a-e965-4c38-9583-40e455cec075",
      "name": "pesquisa_acao_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        880
      ],
      "id": "b583516d-afb0-4d59-9310-61d1d0e81178",
      "name": "create_update_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "d71f9a48-6a7d-4a9a-a701-d257677fe270",
      "name": "pesquisa_acao_create_update_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1360,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        440
      ],
      "id": "4b51643a-83ab-4529-b028-b85f611469eb",
      "name": "create_update_contact_crm4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c8e3553e-3c82-41c9-848a-8cfae4423e00",
      "name": "pesquisa_acao_create_update_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -420,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "bd73315b-bfde-4a5e-b087-7aea8729a745",
      "name": "pesquisa_acao_create_update_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1020,
        1060
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        1240
      ],
      "id": "ff68bda6-c29d-4020-b523-bb4bd07bd42b",
      "name": "add_tag_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "7af31de7-d491-4e76-9898-862e370be584",
      "name": "pesquisa_acao_add_tag_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -820,
        1240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        640
      ],
      "id": "1f3f6092-d1e9-43cd-bc9d-3d7bb098e0fa",
      "name": "add_tag_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3d289cd2-4ed7-498a-9c6f-3daff7d511cd",
      "name": "pesquisa_acao_add_tag_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "77d024bc-ba7d-4dfd-b398-662863fe5538",
      "name": "pesquisa_acao_add_tag_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -20,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        800
      ],
      "id": "e88e350d-f141-4041-a90e-cf6fe4104656",
      "name": "add_tag_deal_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a63fd1fc-1145-45b5-9f42-cafdca3a2ef5",
      "name": "pesquisa_acao_add_tag_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        1440
      ],
      "id": "bf17db33-a47e-4045-81bf-12e876768929",
      "name": "add_tag_deal_crm3"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        1060
      ],
      "id": "8b237100-1346-4e76-8352-04bab3d1cd08",
      "name": "create_update_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_conversion_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "06b0d2e1-028d-49bc-9a59-68dc2b9dc045",
      "name": "pesquisa_acao_add_conversion_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        280,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_conversion_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_transacao_checkout",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"transaction_id\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"add_customer_bd1\"].runIndex >= 0 ? $node[\"add_customer_bd1\"].json[\"id\"] : \"\" }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] || \"\" }}"
            },
            {
              "name": "comissao_gateway",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"gateway_comission\"] || \"\" }}"
            },
            {
              "name": "id_vendedor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_vendedor\"] || \"\" }}"
            },
            {
              "name": "moeda",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"currency\"] || \"\" }}"
            },
            {
              "name": "forma_de_pagamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_method\"] || \"\" }}"
            },
            {
              "name": "status_da_compra",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            },
            {
              "name": "data_garantia",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"warranty_date\"] || \"\" }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] || $node[\"chega_da_fila\"].json[\"content\"][\"event_date\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"installments\"] || \"\" }}"
            },
            {
              "name": "oferta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"offer_code\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1160
      ],
      "id": "b0013d63-62a4-4b84-82ad-21f73d185791",
      "name": "add_conversion_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_customer_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "35b81996-0f21-4e17-8c35-35e41286c4a9",
      "name": "pesquisa_acao_add_customer_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        140,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_customer_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        960
      ],
      "id": "86852bd1-afb1-4935-b69d-da9dba80464a",
      "name": "add_customer_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_subscription_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "503b9c75-5b0d-429d-a6b9-35ee56501e50",
      "name": "pesquisa_acao_add_subscription_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        480,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_subscription_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_conversao",
              "value": "={{ $node[\"add_conversion_bd1\"].json[\"id\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            },
            {
              "name": "data_expiracao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"recurrenceExpirationDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        1360
      ],
      "id": "28c7898a-dfd9-4b1b-8534-1cb74872233e",
      "name": "add_subscription_bd1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1bfa0fa5-dec7-4a0b-9a70-5844fa33fd47",
      "name": "create_update_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1600,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "278e7f1c-c0e2-4256-9eb0-4b05e3d45c7e",
      "name": "create_update_deal_crm1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "130995b5-2a44-4452-8742-1b2f74bcef8c",
      "name": "add_tag_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1140,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "613d63b4-d65d-4f66-b05c-75890dc7853a",
      "name": "add_tag_deal_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -960,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3141cf95-4627-413b-aed7-7e04ca370c34",
      "name": "create_update_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -980,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13e809e5-b47d-4629-8b4a-210b0aee4974",
      "name": "create_update_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -760,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db9691dc-e161-4636-9f50-28a5fa6e851f",
      "name": "add_tag_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -540,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d53e0f2-55d8-4e00-932d-0e859c95ccaa",
      "name": "add_tag_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -360,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_customer_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2bed762-4954-4c8e-894a-5f1d9dec0746",
      "name": "add_customer_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -180,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_conversion_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a96b6496-3049-45e9-aab6-c16ef40e370d",
      "name": "add_conversion_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        20,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_subscription_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e60c093e-91cd-4faf-9542-e6037f7b94bc",
      "name": "add_subscription_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        220,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_cadastro_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6b6bab3-689b-4c04-a466-536973629c2d",
      "name": "add_cadastro_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1820,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52d91e2d-a973-42c7-a066-06fcef9fe353",
      "name": "create_update_contact_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        440,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "392cf094-2f98-4676-850e-5a3e846fbfa2",
      "name": "pesquisa_acao_create_update_contact_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        700,
        1540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        1540
      ],
      "id": "9b3af05f-ee17-49b6-924a-66da14475963",
      "name": "create_update_contact_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5124abf-1d0c-4401-9ec4-722995ccec83",
      "name": "send_message_api_oficial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        920,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a707702c-715f-4dab-b2e7-e8255dbea91f",
      "name": "pesquisa_acao_send_message_api_oficial",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1180,
        2000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_oficial\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        2000
      ],
      "id": "98e3e3d5-b280-4f8a-9486-08057d8a9211",
      "name": "send_message_api_oficial1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a66e93d6-9fb3-49c2-ac23-c2150b6a7b18",
      "name": "add_tag_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        680,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "1debde51-ae7b-4334-af91-980f3b8a59e5",
      "name": "pesquisa_acao_add_tag_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        940,
        1760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        1760
      ],
      "id": "9388d5e6-eed6-4c7a-804e-3a625b338236",
      "name": "add_tag_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "952c3789-8432-4eb7-be36-b5d88d46560d",
      "name": "create_update_contact_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -800,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a95baee3-9ded-4f0b-806a-8c161844328c",
      "name": "pesquisa_acao_create_update_contact_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        1640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        1640
      ],
      "id": "83980d3a-48bc-4927-b5f5-59202d71e0f1",
      "name": "create_update_contact_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "143e00bb-98c4-4e8d-a1c4-cac98c66b514",
      "name": "add_tag_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -560,
        1900
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "53af803c-e3b3-4d62-b111-eab78955ed4e",
      "name": "pesquisa_acao_add_tag_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -300,
        1860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        1860
      ],
      "id": "80b2ed37-42a5-40a1-9d91-04ab86866b3f",
      "name": "add_tag_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "insert_forms_answers",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        2180
      ],
      "id": "dbe0aa76-b04a-435d-bf56-0897f52dd5ec",
      "name": "insert_forms_answers"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "insert_forms_answers"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3ce4ac0e-bd51-4d8b-98dd-06d534b1297f",
      "name": "pesquisa_acao_insert_forms_answers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -60,
        2060
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_insert_forms_answers\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        2060
      ],
      "id": "2f56b499-b7d1-42d4-bc10-e33f62a6c8f7",
      "name": "insert_forms_answers1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "send_flow_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        2640
      ],
      "id": "346951df-e445-4228-a65a-22016d6790f0",
      "name": "send_flow_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_flow_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "6baa44cb-7b13-4d9b-9cf5-4cd3f52c618a",
      "name": "pesquisa_acao_send_flow_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        460,
        2520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        2400
      ],
      "id": "b823e5a4-23c5-40ae-8aca-111aa54449e6",
      "name": "create_update_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "811b2cc8-1506-47e6-a324-f904dae7833c",
      "name": "pesquisa_acao_create_update_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        160,
        2280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        2280
      ],
      "id": "3d4b9603-deec-491b-b168-74499a4982b2",
      "name": "create_update_manychat1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"fields\"][\"redelivered\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8d92f6a-d062-42f9-b3d7-ce4101b74bb9",
      "name": "reprocessamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2900,
        780
      ]
    },
    {
      "parameters": {
        "errorMessage": "Erro"
      },
      "id": "65c382a8-d87a-4f42-a1c5-0d85fae17760",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2620,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $json[\"content\"][\"nome\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "77ca2650-f37c-4531-b7e5-a39fad103c24",
              "leftValue": "={{ $json[\"content\"][\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "28cd6fdd-4c40-4207-9f56-c27792bc4f5e",
              "leftValue": "={{ $json[\"content\"][\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "7325b344-3164-486b-a61a-5fce57784cc1",
              "leftValue": "={{ $json[\"content\"][\"instagram\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23fb1408-143f-40fe-b3f6-f9d46ccc3668",
      "name": "nome_email_telefone_ig_null",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3060,
        560
      ]
    },
    {
      "parameters": {},
      "id": "9692f4db-bcaa-4dd5-86e0-a71bb8e4c5c6",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2860,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_flow_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_manychat",
              "value": "={{ $node[\"create_update_manychat1\"].json[\"id_manychat\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        2520
      ],
      "id": "8ced8bd7-5b5e-4d65-b6d5-53265fd513c0",
      "name": "send_flow_manychat1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 80
        }
      },
      "id": "b9f117b4-000d-4ca1-b5c3-a070584fcb9e",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -3260,
        560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GlxWDwy8iRjZXicArtVnHQ",
            "deliveryTag": 5,
            "redelivered": true,
            "exchange": "",
            "routingKey": "Fila de Ações de Funis"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 1
            }
          },
          "content": {
            "telefone": "5511995553592",
            "grupo": "❌ VAGAS ENCERRADAS ❌",
            "evento": "remove",
            "id_funil": "3",
            "tipo_forms": "Saída do Grupo"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T18:05:19.885Z",
  "versionId": "a33d188d-3f89-4a8b-9360-0a0b62da5ca7"
}