workflows/⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis.json
{
  "active": true,
  "connections": {
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_cadastro": {
      "main": [
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_cadastro": {
      "main": [
        [
          {
            "node": "cria_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "pesquisa_etapa_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_checkout": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_produtos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cadastro_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_etapa_funil": {
      "main": [
        [
          {
            "node": "evento_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_produtos": {
      "main": [
        [
          {
            "node": "busca_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_produto": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_checkout": {
      "main": [
        [
          {
            "node": "create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm3": {
      "main": [
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm4": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm3": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm5": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_conversion_bd": {
      "main": [
        [
          {
            "node": "add_conversion_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd1": {
      "main": [
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_customer_bd": {
      "main": [
        [
          {
            "node": "add_customer_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd1": {
      "main": [
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_subscription_bd": {
      "main": [
        [
          {
            "node": "add_subscription_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_customer_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cadastro_bd": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_oficial": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_oficial": {
      "main": [
        [
          {
            "node": "send_message_api_oficial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing3": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm3": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing3": {
      "main": [
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers": {
      "main": [
        [
          {
            "node": "pesquisa_acao_insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_insert_forms_answers": {
      "main": [
        [
          {
            "node": "insert_forms_answers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers1": {
      "main": [
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_flow_manychat": {
      "main": [
        [
          {
            "node": "send_flow_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_manychat": {
      "main": [
        [
          {
            "node": "create_update_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat1": {
      "main": [
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reprocessamento": {
      "main": [
        [],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome_email_telefone_ig_null": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat1": {
      "main": [
        [],
        []
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "nome_email_telefone_ig_null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T22:02:08.980Z",
  "id": "44L46DP6F3AFfJVq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "13267850-0e84-4617-97d9-7f7ad375fe82",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2640,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_cadastro\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        700
      ],
      "id": "06a419b6-72d8-4d86-9bea-92712a37bd4f",
      "name": "cria_cadastro"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_cadastro_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "92842f80-9f14-48f3-b668-72c6d83a3401",
      "name": "pesquisa_variavel_n8n_fluxo_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1560,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2420,
        560
      ],
      "id": "7a872003-e563-4e55-a56b-3f3630a1ffdb",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Checkout",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25e71bea-e094-4cde-ac7d-3b925cf222f9",
      "name": "evento_checkout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2000,
        560
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "etapas_funil",
          "mode": "list",
          "cachedResultName": "etapas_funil"
        },
        "where": {
          "values": [
            {
              "column": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b8a5657-e7bf-40e2-b0d2-540df4f278ea",
      "name": "pesquisa_etapa_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2200,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Produtos"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3c0b319b-ffcf-42f3-a4be-a788bf6c995e",
      "name": "pesquisa_variavel_n8n_fluxo_produtos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1640,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_produtos\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_id\"] }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_name\"] }}"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        380
      ],
      "id": "003dbf50-9c8c-4d40-8154-103cc1b925e1",
      "name": "busca_produto"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_checkout",
          "mode": "list",
          "cachedResultName": "situacoes_checkout"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2bf84edf-17e6-461b-9311-19b1d3a2e616",
      "name": "pesquisa_situacao_checkout",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1200,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        220
      ],
      "id": "b6021970-6d1a-4996-bc8f-dbfe65640243",
      "name": "create_update_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e6449f94-ac3a-4838-8a34-83354adf13fc",
      "name": "pesquisa_acao_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        880
      ],
      "id": "fcad7f5f-2bee-4be9-a44c-7a6a0c308e24",
      "name": "create_update_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a748c309-ce10-41a8-98ce-596ad3876a31",
      "name": "pesquisa_acao_create_update_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1360,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        440
      ],
      "id": "b6880013-73b1-426c-bcb4-78fae6707f3b",
      "name": "create_update_contact_crm4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c88337d5-c241-42d7-8832-d7ee0d420b14",
      "name": "pesquisa_acao_create_update_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -420,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c01265b3-9b9f-4f6e-b934-82ce1f5306ae",
      "name": "pesquisa_acao_create_update_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1020,
        1060
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        1240
      ],
      "id": "1515c68e-e2ff-4c18-bdb3-d759feeb94e8",
      "name": "add_tag_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "85c2a0c2-c337-4a81-813b-f640cf9deef4",
      "name": "pesquisa_acao_add_tag_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -820,
        1240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        640
      ],
      "id": "7bcb6de7-c943-41b7-a721-50f1c508fa50",
      "name": "add_tag_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "79c94dba-24b6-470f-9f14-435c00af26db",
      "name": "pesquisa_acao_add_tag_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9da702bc-d37a-44e4-bc85-aab3500ddc02",
      "name": "pesquisa_acao_add_tag_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -20,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        800
      ],
      "id": "9aadfbe0-62a5-49f9-8764-75ce7b650fe0",
      "name": "add_tag_deal_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3c430438-b3ff-4835-8b1b-b94afc771c66",
      "name": "pesquisa_acao_add_tag_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        1440
      ],
      "id": "9d5fa749-354f-448b-b30d-b7cb87ae2564",
      "name": "add_tag_deal_crm3"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        1060
      ],
      "id": "3106f820-c830-4002-aaa2-20cc8d0c1794",
      "name": "create_update_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_conversion_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0c339764-41c9-4d28-89ec-c8acc6bb8915",
      "name": "pesquisa_acao_add_conversion_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        280,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_conversion_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_transacao_checkout",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"transaction_id\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"add_customer_bd1\"].runIndex >= 0 ? $node[\"add_customer_bd1\"].json[\"id\"] : \"\" }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] || \"\" }}"
            },
            {
              "name": "comissao_gateway",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"gateway_comission\"] || \"\" }}"
            },
            {
              "name": "id_vendedor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_vendedor\"] || \"\" }}"
            },
            {
              "name": "moeda",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"currency\"] || \"\" }}"
            },
            {
              "name": "forma_de_pagamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_method\"] || \"\" }}"
            },
            {
              "name": "status_da_compra",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            },
            {
              "name": "data_garantia",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"warranty_date\"] || \"\" }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] || $node[\"chega_da_fila\"].json[\"content\"][\"event_date\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"installments\"] || \"\" }}"
            },
            {
              "name": "oferta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"offer_code\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1160
      ],
      "id": "294b347e-5cec-4c25-936d-d99831c9a6b0",
      "name": "add_conversion_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_customer_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a80f969d-8dec-436e-af39-afc084edcee8",
      "name": "pesquisa_acao_add_customer_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        140,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_customer_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        960
      ],
      "id": "f47c4864-2f5e-40b0-ba8d-50670f560432",
      "name": "add_customer_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_subscription_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3643b944-f69a-40ea-9236-ee1de6bbf25a",
      "name": "pesquisa_acao_add_subscription_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        480,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_subscription_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_conversao",
              "value": "={{ $node[\"add_conversion_bd1\"].json[\"id\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            },
            {
              "name": "data_expiracao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"recurrenceExpirationDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        1360
      ],
      "id": "d5fd0b6d-584c-4cde-9d8d-f40ee096f442",
      "name": "add_subscription_bd1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5007447-0fd3-434f-9a6f-015523d7d229",
      "name": "create_update_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1600,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9223d70c-5b35-4eb8-9079-b6217bc703f8",
      "name": "create_update_deal_crm1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb88656d-5d96-45c3-8fb5-dcaba8292368",
      "name": "add_tag_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1140,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "363618a3-5b02-448d-82b3-3e081ee6cb16",
      "name": "add_tag_deal_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -960,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4331131-bf8c-45f4-bb98-f4ddd1941cb4",
      "name": "create_update_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -980,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee402e39-d47c-464b-8766-636ceb56dacd",
      "name": "create_update_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -760,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33b9a870-612a-4711-bbb0-4e6d8cd5dae8",
      "name": "add_tag_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -540,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "351a6a01-3b72-40e7-85ac-9f10de1b8e7a",
      "name": "add_tag_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -360,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_customer_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b237b0dc-5bcd-4e20-a5bc-1419c9aeeff0",
      "name": "add_customer_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -180,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_conversion_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95fd029b-9fa1-466d-8047-193781ab1c7c",
      "name": "add_conversion_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        20,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_subscription_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e911019-4bdf-4319-ab85-ce814f42fe47",
      "name": "add_subscription_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        220,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_cadastro_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7e6032b-89bc-4610-9fb3-5894c60a38f2",
      "name": "add_cadastro_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1820,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "554217b6-8e71-4c76-8432-d38fcb3537ba",
      "name": "create_update_contact_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        440,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9293f431-acb5-421e-a10c-0d58fb6a8049",
      "name": "pesquisa_acao_create_update_contact_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        700,
        1540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        1540
      ],
      "id": "64ef4a0e-4148-4a6f-9038-482c0256456a",
      "name": "create_update_contact_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6366611-07de-4849-96ee-ea144f9af110",
      "name": "send_message_api_oficial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        920,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fc96d6d3-a24f-45e8-b2d3-777e2c4e575e",
      "name": "pesquisa_acao_send_message_api_oficial",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1180,
        2000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_oficial\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        2000
      ],
      "id": "4f30cb2e-e52d-4e28-8ebf-f7b372fb2bb3",
      "name": "send_message_api_oficial1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebe67b47-2c15-4774-9f84-b048aae50db8",
      "name": "add_tag_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        680,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c9b12948-0811-4870-b8e0-eefb7243da29",
      "name": "pesquisa_acao_add_tag_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        940,
        1760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        1760
      ],
      "id": "49081196-8676-4396-a69e-518c338982b7",
      "name": "add_tag_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc824c69-397e-4630-b4d7-865bac4291e8",
      "name": "create_update_contact_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -800,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "cf80f422-ce61-4f2d-8675-188930bb71ff",
      "name": "pesquisa_acao_create_update_contact_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        1640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        1640
      ],
      "id": "98355ea7-f502-437a-9734-95a5822c9903",
      "name": "create_update_contact_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b23899c-98b8-4a52-bae4-c23ddee69850",
      "name": "add_tag_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -560,
        1900
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c9abf86b-a6b0-48ee-9e07-49425125ceca",
      "name": "pesquisa_acao_add_tag_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -300,
        1860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        1860
      ],
      "id": "4470c221-a2b6-4587-a5e3-affb98101de1",
      "name": "add_tag_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "insert_forms_answers",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        2180
      ],
      "id": "314cf07b-7809-42b2-b1ad-a98ef176e3fd",
      "name": "insert_forms_answers"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "insert_forms_answers"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "8dee5d5c-8481-4efc-b85e-daa1180d9fcc",
      "name": "pesquisa_acao_insert_forms_answers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -60,
        2060
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_insert_forms_answers\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        2060
      ],
      "id": "dc57947b-6ca7-4883-8962-1ad993e0c1a6",
      "name": "insert_forms_answers1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "send_flow_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        2640
      ],
      "id": "b443dc99-c8cd-4b2e-b585-774901edb8cf",
      "name": "send_flow_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_flow_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ec532238-d40b-41d8-9121-7a0d3e788f56",
      "name": "pesquisa_acao_send_flow_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        460,
        2520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        2400
      ],
      "id": "3e9acca9-3067-4a99-90bc-501094b4ec83",
      "name": "create_update_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fbd6acd6-7d1f-4afd-8302-bcbc47b99201",
      "name": "pesquisa_acao_create_update_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        160,
        2280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        2280
      ],
      "id": "be2af0d2-0d08-4af4-a09d-2e91e4da4b7e",
      "name": "create_update_manychat1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"fields\"][\"redelivered\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2d1f305-8e67-4f3a-9579-6c9d2c3e7ba3",
      "name": "reprocessamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2900,
        780
      ]
    },
    {
      "parameters": {
        "errorMessage": "Erro"
      },
      "id": "6c80a618-e26b-48e3-a83e-94eab80608cd",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2620,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $json[\"content\"][\"nome\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "77ca2650-f37c-4531-b7e5-a39fad103c24",
              "leftValue": "={{ $json[\"content\"][\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "28cd6fdd-4c40-4207-9f56-c27792bc4f5e",
              "leftValue": "={{ $json[\"content\"][\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "7325b344-3164-486b-a61a-5fce57784cc1",
              "leftValue": "={{ $json[\"content\"][\"instagram\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0fd2fc0-78a2-4f43-a619-afe48402706d",
      "name": "nome_email_telefone_ig_null",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3060,
        560
      ]
    },
    {
      "parameters": {},
      "id": "7d7c0f91-0730-40df-a6ce-aef16d83266c",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2860,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_flow_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_manychat",
              "value": "={{ $node[\"create_update_manychat1\"].json[\"id_manychat\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        2520
      ],
      "id": "9604bb72-4e95-47fe-93ab-a3182d7b1ead",
      "name": "send_flow_manychat1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 80
        }
      },
      "id": "0ae9917f-f1e2-49e6-9567-2cb88dd1254b",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -3260,
        560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GlxWDwy8iRjZXicArtVnHQ",
            "deliveryTag": 5,
            "redelivered": true,
            "exchange": "",
            "routingKey": "Fila de Ações de Funis"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 1
            }
          },
          "content": {
            "telefone": "5511995553592",
            "grupo": "❌ VAGAS ENCERRADAS ❌",
            "evento": "remove",
            "id_funil": "3",
            "tipo_forms": "Saída do Grupo"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-27T00:03:04.650Z",
  "versionId": "9870afb6-952c-4289-a45a-bc28dfbef053"
}