workflows/⌚[Future Minds][Banco de Dados] - Cria ou Atualiza User.json
{
  "active": true,
  "connections": {
    "executa_procedure": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_user": {
      "main": [
        [
          {
            "node": "executa_procedure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executa_procedure1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "user_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_nao_existe": {
      "main": [
        [
          {
            "node": "insert_user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:16:57.899Z",
  "id": "Knd32czBQgiTjFa8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Cria ou Atualiza User",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_usuario('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"email\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"instagram\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"telefone\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"cnpj\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"cpf\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"nome\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"sobrenome\"] }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -800,
        -80
      ],
      "id": "c567cf75-9b12-4c6f-af4a-f4e73330011e",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"nome\"] || NULL }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"sobrenome\"] || NULL }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"email\"] || NULL }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"telefone\"] || NULL }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"instagram\"] || NULL }}"
            },
            {
              "column": "cpf",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"cpf\"] || NULL }}"
            },
            {
              "column": "cnpj",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"cnpj\"] || NULL }}"
            },
            {
              "column": "status_atividade",
              "value": "Y"
            },
            {
              "column": "data_atualizacao",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true,
          "detailedOutput": true
        }
      },
      "id": "287660bd-db58-4a1c-a1b8-c4a232da5545",
      "name": "insert_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -120,
        -200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_usuario('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"email\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"instagram\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"telefone\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"cnpj\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"cpf\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"nome\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"sobrenome\"] }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        -200
      ],
      "id": "21e77f0e-34b4-43a7-aeb4-67c27aca2022",
      "name": "executa_procedure1",
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -580,
        -80
      ],
      "id": "3996b49c-e479-4e35-b206-f61436c17c98",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        280,
        -200
      ],
      "id": "395a0ad3-4fde-44b4-8441-45d2e7f78786",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -120,
        40
      ],
      "id": "d120d904-42ea-47a0-bbae-4eff25ee0f43",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5bd24527-ff6f-4b26-83a7-ef658d80ce02",
              "leftValue": "={{ $json[0].mensagem }}",
              "rightValue": "Usuário não encontrado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3a22455b-ca0d-4db5-965a-5ad6dec68c96",
              "leftValue": "={{ $json }}",
              "rightValue": "{{ $json }}",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "92f17b64-5b64-4b62-a242-9671208ef9f6",
      "name": "user_nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -360,
        -80
      ]
    },
    {
      "parameters": {
        "path": "cria-atualiza-user",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1020,
        -80
      ],
      "id": "b864dbda-e904-4d4d-a738-57daa5565290",
      "name": "fluxo_chamado",
      "webhookId": "480e1e30-05c3-4aba-9470-4421b90f0da2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-26T18:39:30.010Z",
  "versionId": "dbd19047-72aa-416f-9f84-abecafb7512e"
}