workflows/⌚[Future Minds][Banco de Dados] - Rotacionamento de API Oficial.json
{
  "active": true,
  "connections": {
    "atualiza_relacionamento1": {
      "main": [
        [
          {
            "node": "atualize_atribuicao_chip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relacionamento_existe": {
      "main": [
        [
          {
            "node": "pesquisa_chip1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_chip2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_relacionamento": {
      "main": [
        [
          {
            "node": "relacionamento_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_relacionamento": {
      "main": [
        [
          {
            "node": "atualize_atribuicao_chip1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_chip": {
      "main": [
        [
          {
            "node": "chip_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_chip1": {
      "main": [
        [
          {
            "node": "chip_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualize_atribuicao_chip": {
      "main": [
        [
          {
            "node": "dados_chip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_chip2": {
      "main": [
        [
          {
            "node": "chip_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualize_atribuicao_chip1": {
      "main": [
        [
          {
            "node": "dados_chip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chip_existe3": {
      "main": [
        [
          {
            "node": "dados_chip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_chip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chip_existe": {
      "main": [
        [
          {
            "node": "insere_relacionamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "avisa_no_discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chip_existe1": {
      "main": [
        [
          {
            "node": "atualiza_relacionamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "avisa_no_discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "pesquisa_relacionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T18:46:46.681Z",
  "id": "y0F0FHOJQkweAHNT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Rotacionamento de API Oficial",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "contato_telefone_api",
          "mode": "list",
          "cachedResultName": "contato_telefone_api"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_relacionamento\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_telefone_api",
              "value": "={{ $node[\"pesquisa_chip\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "211d81e4-df50-423f-ae69-f34085581fd5",
      "name": "atualiza_relacionamento1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        840,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6b7e2434-ab0e-4e63-b61d-527079c2f64a",
              "leftValue": "={{ $node[\"pesquisa_relacionamento\"].json[\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2087181b-b206-415c-b308-129889c015db",
      "name": "relacionamento_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -300,
        500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "contato_telefone_api",
          "mode": "list",
          "cachedResultName": "contato_telefone_api"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48b2bfd6-f4d8-4182-922b-3e45222ed24e",
      "name": "pesquisa_relacionamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -500,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "contato_telefone_api",
          "mode": "list",
          "cachedResultName": "contato_telefone_api"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "column": "id_telefone_api",
              "value": "={{ $node[\"pesquisa_chip2\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba3ba67a-533c-48bb-9e82-537cc4977f6b",
      "name": "insere_relacionamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        440,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM chips_api_oficial\nWHERE status_atividade = 'Y'\nORDER BY ultima_atribuicao ASC\nLIMIT 1;\n",
        "options": {}
      },
      "id": "c6ff2814-6f07-4608-9ff8-6b60ff4b89b6",
      "name": "pesquisa_chip",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        400,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "chips_api_oficial",
          "mode": "list",
          "cachedResultName": "chips_api_oficial"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"pesquisa_relacionamento\"].json[\"id_telefone_api\"] }}"
            },
            {
              "column": "status_atividade",
              "value": "Y"
            }
          ]
        },
        "options": {}
      },
      "id": "97e6b48a-6cc9-4d60-9215-b7d376e683ac",
      "name": "pesquisa_chip1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "chips_api_oficial",
          "mode": "list",
          "cachedResultName": "chips_api_oficial"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_chip\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "ultima_atribuicao",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da769851-5dfa-4f66-88b5-337abe8d4667",
      "name": "atualize_atribuicao_chip",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1080,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49bc1770-8197-483a-b0c5-501e42017fa6",
              "name": "nome",
              "value": "={{   $node[\"pesquisa_chip2\"].runIndex >= 0        ? $node[\"pesquisa_chip2\"].json[\"nome\"] : $node[\"pesquisa_chip\"].runIndex >= 0      ? $node[\"pesquisa_chip\"].json[\"nome\"]     : $node[\"pesquisa_chip1\"].runIndex >= 0        ? $node[\"pesquisa_chip1\"].json[\"nome\"] : null }}",
              "type": "string"
            },
            {
              "id": "46ec6590-4b1e-4db3-869e-39878e2e5ec1",
              "name": "telefone",
              "value": "={{   $node[\"pesquisa_chip2\"].runIndex >= 0        ? $node[\"pesquisa_chip2\"].json[\"telefone\"] : $node[\"pesquisa_chip\"].runIndex >= 0      ? $node[\"pesquisa_chip\"].json[\"telefone\"]     : $node[\"pesquisa_chip1\"].runIndex >= 0        ? $node[\"pesquisa_chip1\"].json[\"telefone\"] : null }}",
              "type": "string"
            },
            {
              "id": "9233bde6-29d1-490f-b2b2-a87d883fdaca",
              "name": "id_waba",
              "value": "={{   $node[\"pesquisa_chip2\"].runIndex >= 0        ? $node[\"pesquisa_chip2\"].json[\"id_waba\"] : $node[\"pesquisa_chip\"].runIndex >= 0      ? $node[\"pesquisa_chip\"].json[\"id_waba\"]     : $node[\"pesquisa_chip1\"].runIndex >= 0        ? $node[\"pesquisa_chip1\"].json[\"id_waba\"] : null }}",
              "type": "string"
            },
            {
              "id": "7af48129-02cd-403f-a276-bdfe0493bb3d",
              "name": "apikey",
              "value": "={{   $node[\"pesquisa_chip2\"].runIndex >= 0        ? $node[\"pesquisa_chip2\"].json[\"apikey\"] : $node[\"pesquisa_chip\"].runIndex >= 0      ? $node[\"pesquisa_chip\"].json[\"apikey\"]     : $node[\"pesquisa_chip1\"].runIndex >= 0        ? $node[\"pesquisa_chip1\"].json[\"apikey\"] : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d50c6025-4efc-4eee-83d7-d67a6bedbc5a",
      "name": "dados_chip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM chips_api_oficial\nWHERE status_atividade = 'Y'\nORDER BY ultima_atribuicao ASC\nLIMIT 1;\n",
        "options": {}
      },
      "id": "4ccf67c8-172f-4e85-a620-b8af0dae6111",
      "name": "pesquisa_chip2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        0,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "chips_api_oficial",
          "mode": "list",
          "cachedResultName": "chips_api_oficial"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_chip2\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "ultima_atribuicao",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b71ced5-98cc-4b03-8053-a767aebc77bc",
      "name": "atualize_atribuicao_chip1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        660,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d6775303-e8d6-4066-8ded-9807106b76ac",
              "leftValue": "={{ $node[\"pesquisa_chip1\"].json[\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ecd6471-68f4-4a98-8c16-a3b54f225548",
      "name": "chip_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d64b19-4cca-45a1-b32d-d54d0f43e2d5",
              "leftValue": "={{ $node[\"pesquisa_chip2\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dda551c3-6406-4d97-933d-682bf76df229",
      "name": "chip_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d64b19-4cca-45a1-b32d-d54d0f43e2d5",
              "leftValue": "={{ $node[\"pesquisa_chip\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "839cc37c-9e03-43cc-9aff-aa1b77434df5",
      "name": "chip_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        120
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1344382586746568838/N8i_4mxB1g6gZZk5RW2NFlytTdalJl2s_coKthwtV_xeDVCX7Dn3NTiplCiIoz7xl45P",
        "text": "=🚨 **Chips de API Oficial ativos inexistentes na Camila Carvalho.**\n\nFavor, cadastrar um chip ativo no banco de dados, na tabela “chips_api_oficial”.",
        "options": {}
      },
      "id": "cce0eaa9-ce2b-426b-b558-2e2877701774",
      "name": "avisa_no_discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        840,
        360
      ]
    },
    {
      "parameters": {
        "path": "consulta-chip-api-oficial",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f72c5080-382a-4a6f-badb-9cbff9aacb9a",
      "name": "fluxo_chamado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        500
      ],
      "webhookId": "7dff7a1f-1359-475a-8749-d16695e4bf1c"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.zkgge2.easypanel.host",
            "user-agent": "axios/1.7.4",
            "content-length": "17",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.zkgge2.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4fe238010f60",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_user": 16262
          },
          "webhookUrl": "https://n8n-n8n.zkgge2.easypanel.host/webhook/consulta-chip-api-oficial",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T18:49:13.780Z",
  "versionId": "24096c5d-8ce9-43ac-9a70-9debf8deb82f"
}