workflows/⌚[Future Minds][Clint] - Cria ou Atualiza Contatos.json
{
  "active": true,
  "connections": {
    "pesquisa_url_rotacionamento_colaboradores": {
      "main": [
        [
          {
            "node": "pesquisa_etapa_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_sdr": {
      "main": [
        [
          {
            "node": "cria_ou_atualiza_contact_na_clint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_campos_contact1": {
      "main": [
        [
          {
            "node": "pesquisa_url_rotacionamento_colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_json_fields_contact1": {
      "main": [
        [
          {
            "node": "formata_campos_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_etapa_funil": {
      "main": [
        [
          {
            "node": "consulta_sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "pesquisa_json_fields_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T19:01:47.801Z",
  "id": "07J7OCAQL7FxCugR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Clint] - Cria ou Atualiza Contatos",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Rotacionamento de Colaboradores"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "8eec350f-fc45-4cd9-9bde-38792c9d2ee8",
      "name": "pesquisa_url_rotacionamento_colaboradores",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        -240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_rotacionamento_colaboradores\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "={{ \n  $node[\"pesquisa_etapa_funil\"].json[\"nome\"]\n    .replace('Cadastro','Closer')\n    .replace('Aplicação','SDR')\n    .replace('Agendamento','Closer')\n    .replace('Pesquisa','SDR')\n    .replace('Checkout', \n      $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"trans_status\"] === \"Compra Aprovada\" ? \"CS\" : \"Closer\"\n    ) \n}}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -240
      ],
      "id": "fe1c4e54-5c3a-4266-a85a-dce406745ee9",
      "name": "consulta_sdr"
    },
    {
      "parameters": {
        "jsCode": "// Obter o template do banco de dados\nlet template = $node[\"pesquisa_json_fields_contact1\"].json[\"payload_fields\"];\n\n// Verifique se o template é válido (precisa ser um objeto)\nif (typeof template !== \"object\" || template === null) {\n    throw new Error(\"O template payload_fields não é um objeto válido.\");\n}\n\n// Obter os dados diretamente do \"body\" do webhook\nconst payload = $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"];\n\n// Função para substituir os placeholders\nconst replacePlaceholders = (template, data) => {\n    return Object.keys(template).map(key => {\n        let fieldValue = template[key];\n\n        if (typeof fieldValue === \"string\") {\n            // Substituir placeholders no formato {{ chave }}\n            fieldValue = fieldValue.replace(/{{\\s*(\\w+)\\s*}}/g, (_, key) => {\n                return data[key] !== undefined ? data[key] : ''; // Substitui ou deixa vazio se não encontrado\n            });\n        }\n\n        return { field: key, value: fieldValue };\n    });\n};\n\n// Substituir os placeholders no template com os dados do webhook\nlet result = replacePlaceholders(template, payload);\n\n// Retornar o resultado no formato esperado\nreturn {\n    custom_fields_values: result\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -240
      ],
      "id": "d939331d-18d7-4ce4-9f39-54f52311b7fa",
      "name": "formata_campos_contact1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacao_pipeline_stage_2",
          "mode": "list",
          "cachedResultName": "situacao_pipeline_stage_2"
        },
        "where": {
          "values": [
            {
              "column": "entidade",
              "value": "contact"
            }
          ]
        },
        "options": {}
      },
      "id": "99f4aa57-a46c-40b3-a481-b337321ca0d4",
      "name": "pesquisa_json_fields_contact1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        -240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"pesquisa_json_fields_contact1\"].json[\"webhook\"] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($node[\"formata_campos_contact1\"].json[\"custom_fields_values\"]\n  .concat([{ \"field\": \"dono\", \"value\": $node[\"consulta_sdr\"].json[\"email\"] }])) }}",
        "options": {}
      },
      "id": "56a51e65-4e38-4119-8c83-3fde0bf4f855",
      "name": "cria_ou_atualiza_contact_na_clint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "etapas_funil",
          "mode": "list",
          "cachedResultName": "etapas_funil"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c09bf40-d00e-49a9-9846-ce45e5b96d30",
      "name": "pesquisa_etapa_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        420,
        -240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "path": "add-update-contact-clint",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -240
      ],
      "id": "bf1bd34a-8189-4cf5-a597-0e6fcffaa86e",
      "name": "fluxo_chamado",
      "webhookId": "bcdcc520-6bbf-4601-a1b7-abda1e4eadcc"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8npamellabrandao.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "1236",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8npamellabrandao.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d4ad76bf4c9b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_etapa_funil": 2,
            "id_funil": "4",
            "id_user": 6582,
            "payload": {
              "nome": "Mateus",
              "sobrenome": "Diniz",
              "nome_completo": "Mateus Diniz",
              "email": "mateus@resenhadocafe.com.br",
              "telefone": "554835191298",
              "cpf": "",
              "utm_source": "wpp-oficial",
              "utm_campaign": "quente",
              "utm_term": "leads-carrinho-abandonado",
              "utm_medium": "1x1",
              "utm_content": "msg-carrinho-abandonado",
              "form_id": "KNjNpUI",
              "form_name": "",
              "value": 839.76,
              "transaction_id": "5a39106a-0f42-43fd-b841-1001d4655627",
              "net_value": "",
              "trans_status": "Compra Cancelada",
              "payment_method": "Cartão de Crédito",
              "refund_date": "",
              "event_date": "2025-01-29 20:58:00",
              "payment_date": "",
              "product_type": "Cobrança única",
              "product_id": "ad387970-d8e3-11ef-abcf-2de0102224c5",
              "product_name": "Prova Decifrada - Concursos Públicos",
              "warranty_date": "",
              "offer_code": "",
              "discount_coupon": "",
              "street": "",
              "address_number": "",
              "country": "",
              "district": "",
              "address_complement": "",
              "city": "",
              "address_state": "",
              "zipcode": "",
              "affiliate_value": "",
              "gateway_comission": 65.15,
              "billet_barcode": "",
              "currency": "BRL",
              "bankslip": "",
              "recurrenceExpirationDate": "",
              "cancelledDate": "",
              "id_funil": "4",
              "tipo_forms": "Checkout",
              "cnpj": "",
              "id_forms": "6",
              "installments": 12,
              "billetExpirationDate": ""
            },
            "id_situacao_checkout": 4
          },
          "webhookUrl": "https://n8npamellabrandao.automagicbots.com.br/webhook/cria-atualiza-contato-crm",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-25T19:05:39.056Z",
  "versionId": "0e24cccf-2aea-4a98-8e43-b413b5b14d08"
}