workflows/⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis.json
{
  "active": true,
  "connections": {
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_cadastro": {
      "main": [
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_cadastro": {
      "main": [
        [
          {
            "node": "cria_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "pesquisa_etapa_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_checkout": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_produtos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_etapa_funil": {
      "main": [
        [
          {
            "node": "evento_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_produtos": {
      "main": [
        [
          {
            "node": "busca_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_produto": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_checkout": {
      "main": [
        [
          {
            "node": "create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm3": {
      "main": [
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "create_update_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm4": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm": {
      "main": [
        [
          {
            "node": "create_update_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "create_update_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm3": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm1": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm1": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm5": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_conversion_bd": {
      "main": [
        [
          {
            "node": "add_conversion_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd1": {
      "main": [
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_customer_bd": {
      "main": [
        [
          {
            "node": "add_customer_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd1": {
      "main": [
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_subscription_bd": {
      "main": [
        [
          {
            "node": "add_subscription_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_customer_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_customer_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_customer_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conversion_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_conversion_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_subscription_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cadastro_bd": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_oficial": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_oficial": {
      "main": [
        [
          {
            "node": "send_message_api_oficial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_bd1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "send_message_api_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing3": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing1": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm3": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing3": {
      "main": [
        [
          {
            "node": "insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers": {
      "main": [
        [
          {
            "node": "pesquisa_acao_insert_forms_answers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_insert_forms_answers": {
      "main": [
        [
          {
            "node": "insert_forms_answers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_forms_answers1": {
      "main": [
        [
          {
            "node": "create_update_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_flow_manychat": {
      "main": [
        [
          {
            "node": "send_flow_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_manychat": {
      "main": [
        [
          {
            "node": "create_update_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_manychat1": {
      "main": [
        [
          {
            "node": "send_flow_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reprocessamento": {
      "main": [
        [],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome_email_telefone_ig_null": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_flow_manychat1": {
      "main": [
        [],
        []
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "nome_email_telefone_ig_null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_situacao_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cadastro_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm5": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm6": {
      "main": [
        [
          {
            "node": "create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "create_update_contact_crm6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_deal_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_deal_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_crm7": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_deal_crm2": {
      "main": [
        [
          {
            "node": "create_update_contact_crm7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_contact_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_deal_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_contact_crm5": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_contact_crm2": {
      "main": [
        [
          {
            "node": "add_tag_contact_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_deal_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_agendamento_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_deal_crm2": {
      "main": [
        [
          {
            "node": "add_tag_deal_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_deal_crm5": {
      "main": [
        [
          {
            "node": "add_agendamento_bd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_situacao_agendamento": {
      "main": [
        [
          {
            "node": "create_update_contact_crm5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_agendamento_bd": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_agendamento_bd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_contact_email_marketing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_agendamento_bd": {
      "main": [
        [
          {
            "node": "add_agendamento_bd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_contact_email_marketing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag_email_marketing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_contact_email_marketing2": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_contact_email_marketing5": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing4": {
      "main": [
        [
          {
            "node": "pesquisa_acao_add_tag_email_marketing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_update_bot_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_add_tag_email_marketing2": {
      "main": [
        [
          {
            "node": "add_tag_email_marketing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_agendamento_bd1": {
      "main": [
        [
          {
            "node": "create_update_contact_email_marketing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_email_marketing5": {
      "main": [
        [
          {
            "node": "create_update_bot_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_api_nao_oficial": {
      "main": [
        [
          {
            "node": "pesquisa_acao_send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_send_message_api_nao_oficial": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_bot_conversa": {
      "main": [
        [
          {
            "node": "pesquisa_acao_create_update_bot_conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_acao_create_update_bot_conversa": {
      "main": [
        [
          {
            "node": "create_update_bot_conversa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_update_bot_conversa1": {
      "main": [
        [
          {
            "node": "send_message_api_nao_oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T22:02:08.980Z",
  "id": "44L46DP6F3AFfJVq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Future Minds][Banco de Dados] - Fila de Ações de Funis",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "13267850-0e84-4617-97d9-7f7ad375fe82",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3600,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_cadastro\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        3240
      ],
      "id": "06a419b6-72d8-4d86-9bea-92712a37bd4f",
      "name": "cria_cadastro"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_cadastro_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "92842f80-9f14-48f3-b668-72c6d83a3401",
      "name": "pesquisa_variavel_n8n_fluxo_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1880,
        3240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"chega_da_fila\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3380,
        800
      ],
      "id": "7a872003-e563-4e55-a56b-3f3630a1ffdb",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Checkout",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25e71bea-e094-4cde-ac7d-3b925cf222f9",
      "name": "evento_checkout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2960,
        800
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "etapas_funil",
          "mode": "list",
          "cachedResultName": "etapas_funil"
        },
        "where": {
          "values": [
            {
              "column": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b8a5657-e7bf-40e2-b0d2-540df4f278ea",
      "name": "pesquisa_etapa_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3160,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Produtos"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3c0b319b-ffcf-42f3-a4be-a788bf6c995e",
      "name": "pesquisa_variavel_n8n_fluxo_produtos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2640,
        -1760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_produtos\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_id\"] }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"product_name\"] }}"
            },
            {
              "name": "value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2420,
        -1760
      ],
      "id": "003dbf50-9c8c-4d40-8154-103cc1b925e1",
      "name": "busca_produto"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_checkout",
          "mode": "list",
          "cachedResultName": "situacoes_checkout"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2bf84edf-17e6-461b-9311-19b1d3a2e616",
      "name": "pesquisa_situacao_checkout",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2200,
        -1760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        -1920
      ],
      "id": "b6021970-6d1a-4996-bc8f-dbfe65640243",
      "name": "create_update_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e6449f94-ac3a-4838-8a34-83354adf13fc",
      "name": "pesquisa_acao_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1720,
        -1920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        3420
      ],
      "id": "fcad7f5f-2bee-4be9-a44c-7a6a0c308e24",
      "name": "create_update_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a748c309-ce10-41a8-98ce-596ad3876a31",
      "name": "pesquisa_acao_create_update_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1680,
        3420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1160,
        -1700
      ],
      "id": "b6880013-73b1-426c-bcb4-78fae6707f3b",
      "name": "create_update_contact_crm4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c88337d5-c241-42d7-8832-d7ee0d420b14",
      "name": "pesquisa_acao_create_update_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1420,
        -1700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c01265b3-9b9f-4f6e-b934-82ce1f5306ae",
      "name": "pesquisa_acao_create_update_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1340,
        3600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        3780
      ],
      "id": "1515c68e-e2ff-4c18-bdb3-d759feeb94e8",
      "name": "add_tag_contact_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "85c2a0c2-c337-4a81-813b-f640cf9deef4",
      "name": "pesquisa_acao_add_tag_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1140,
        3780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        -1500
      ],
      "id": "7bcb6de7-c943-41b7-a721-50f1c508fa50",
      "name": "add_tag_contact_crm3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "79c94dba-24b6-470f-9f14-435c00af26db",
      "name": "pesquisa_acao_add_tag_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1220,
        -1500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9da702bc-d37a-44e4-bc85-aab3500ddc02",
      "name": "pesquisa_acao_add_tag_deal_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1020,
        -1320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        -1320
      ],
      "id": "9aadfbe0-62a5-49f9-8764-75ce7b650fe0",
      "name": "add_tag_deal_crm1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3c430438-b3ff-4835-8b1b-b94afc771c66",
      "name": "pesquisa_acao_add_tag_deal_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1020,
        3960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        3960
      ],
      "id": "9d5fa749-354f-448b-b30d-b7cb87ae2564",
      "name": "add_tag_deal_crm3"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        3600
      ],
      "id": "3106f820-c830-4002-aaa2-20cc8d0c1794",
      "name": "create_update_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_conversion_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0c339764-41c9-4d28-89ec-c8acc6bb8915",
      "name": "pesquisa_acao_add_conversion_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        -960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_conversion_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_transacao_checkout",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"transaction_id\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"add_customer_bd1\"].runIndex >= 0 ? $node[\"add_customer_bd1\"].json[\"id\"] : \"\" }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"value\"] || \"\" }}"
            },
            {
              "name": "comissao_gateway",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"gateway_comission\"] || \"\" }}"
            },
            {
              "name": "id_vendedor",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_vendedor\"] || \"\" }}"
            },
            {
              "name": "moeda",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"currency\"] || \"\" }}"
            },
            {
              "name": "forma_de_pagamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_method\"] || \"\" }}"
            },
            {
              "name": "status_da_compra",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"trans_status\"] }}"
            },
            {
              "name": "data_garantia",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"warranty_date\"] || \"\" }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] || $node[\"chega_da_fila\"].json[\"content\"][\"event_date\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] || \"\" }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"installments\"] || \"\" }}"
            },
            {
              "name": "oferta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"offer_code\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -960
      ],
      "id": "294b347e-5cec-4c25-936d-d99831c9a6b0",
      "name": "add_conversion_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_customer_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a80f969d-8dec-436e-af39-afc084edcee8",
      "name": "pesquisa_acao_add_customer_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -860,
        -1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_customer_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -1160
      ],
      "id": "f47c4864-2f5e-40b0-ba8d-50670f560432",
      "name": "add_customer_bd1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_subscription_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3643b944-f69a-40ea-9236-ee1de6bbf25a",
      "name": "pesquisa_acao_add_subscription_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -480,
        -760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_subscription_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_conversao",
              "value": "={{ $node[\"add_conversion_bd1\"].json[\"id\"] }}"
            },
            {
              "name": "id_produto",
              "value": "={{ $node[\"busca_produto\"].json[\"id\"] }}"
            },
            {
              "name": "data_conversao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"payment_date\"] }}"
            },
            {
              "name": "data_expiracao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"recurrenceExpirationDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -760
      ],
      "id": "d5fd0b6d-584c-4cde-9d8d-f40ee096f442",
      "name": "add_subscription_bd1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5007447-0fd3-434f-9a6f-015523d7d229",
      "name": "create_update_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1920,
        3520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9223d70c-5b35-4eb8-9079-b6217bc703f8",
      "name": "create_update_deal_crm1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1680,
        3700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb88656d-5d96-45c3-8fb5-dcaba8292368",
      "name": "add_tag_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1460,
        3840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "363618a3-5b02-448d-82b3-3e081ee6cb16",
      "name": "add_tag_deal_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1260,
        4000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4331131-bf8c-45f4-bb98-f4ddd1941cb4",
      "name": "create_update_contact_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1980,
        -1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee402e39-d47c-464b-8766-636ceb56dacd",
      "name": "create_update_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1760,
        -1640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33b9a870-612a-4711-bbb0-4e6d8cd5dae8",
      "name": "add_tag_contact_crm2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1540,
        -1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "351a6a01-3b72-40e7-85ac-9f10de1b8e7a",
      "name": "add_tag_deal_crm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1360,
        -1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_customer_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b237b0dc-5bcd-4e20-a5bc-1419c9aeeff0",
      "name": "add_customer_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1180,
        -1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_conversion_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95fd029b-9fa1-466d-8047-193781ab1c7c",
      "name": "add_conversion_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -980,
        -920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_subscription_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e911019-4bdf-4319-ab85-ce814f42fe47",
      "name": "add_subscription_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -740,
        -720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_cadastro_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7e6032b-89bc-4610-9fb3-5894c60a38f2",
      "name": "add_cadastro_bd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2140,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "554217b6-8e71-4c76-8432-d38fcb3537ba",
      "name": "create_update_contact_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -520,
        -540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9293f431-acb5-421e-a10c-0d58fb6a8049",
      "name": "pesquisa_acao_create_update_contact_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -260,
        -580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        -580
      ],
      "id": "64ef4a0e-4148-4a6f-9038-482c0256456a",
      "name": "create_update_contact_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6366611-07de-4849-96ee-ea144f9af110",
      "name": "send_message_api_oficial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -40,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fc96d6d3-a24f-45e8-b2d3-777e2c4e575e",
      "name": "pesquisa_acao_send_message_api_oficial",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        -120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_oficial\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -120
      ],
      "id": "4f30cb2e-e52d-4e28-8ebf-f7b372fb2bb3",
      "name": "send_message_api_oficial1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebe67b47-2c15-4774-9f84-b048aae50db8",
      "name": "add_tag_email_marketing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -280,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c9b12948-0811-4870-b8e0-eefb7243da29",
      "name": "pesquisa_acao_add_tag_email_marketing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -20,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"] || \"\"  }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -360
      ],
      "id": "49081196-8676-4396-a69e-518c338982b7",
      "name": "add_tag_email_marketing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc824c69-397e-4630-b4d7-865bac4291e8",
      "name": "create_update_contact_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1100,
        4200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "cf80f422-ce61-4f2d-8675-188930bb71ff",
      "name": "pesquisa_acao_create_update_contact_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -840,
        4160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        4160
      ],
      "id": "98355ea7-f502-437a-9734-95a5822c9903",
      "name": "create_update_contact_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b23899c-98b8-4a52-bae4-c23ddee69850",
      "name": "add_tag_email_marketing2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -860,
        4420
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c9abf86b-a6b0-48ee-9e07-49425125ceca",
      "name": "pesquisa_acao_add_tag_email_marketing1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -600,
        4380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        4380
      ],
      "id": "4470c221-a2b6-4587-a5e3-affb98101de1",
      "name": "add_tag_email_marketing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "insert_forms_answers",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -600,
        4700
      ],
      "id": "314cf07b-7809-42b2-b1ad-a98ef176e3fd",
      "name": "insert_forms_answers"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "insert_forms_answers"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "8dee5d5c-8481-4efc-b85e-daa1180d9fcc",
      "name": "pesquisa_acao_insert_forms_answers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -360,
        4580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_insert_forms_answers\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_forms\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        4580
      ],
      "id": "dc57947b-6ca7-4883-8962-1ad993e0c1a6",
      "name": "insert_forms_answers1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "send_flow_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        5160
      ],
      "id": "b443dc99-c8cd-4b2e-b585-774901edb8cf",
      "name": "send_flow_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_flow_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ec532238-d40b-41d8-9121-7a0d3e788f56",
      "name": "pesquisa_acao_send_flow_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        160,
        5040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_etapa_funil\"].json[\"acoes\"] }}",
              "rightValue": "create_update_manychat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        4920
      ],
      "id": "3e9acca9-3067-4a99-90bc-501094b4ec83",
      "name": "create_update_manychat"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_manychat"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fbd6acd6-7d1f-4afd-8302-bcbc47b99201",
      "name": "pesquisa_acao_create_update_manychat",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -140,
        4800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        4800
      ],
      "id": "be2af0d2-0d08-4af4-a09d-2e91e4da4b7e",
      "name": "create_update_manychat1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"fields\"][\"redelivered\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2d1f305-8e67-4f3a-9579-6c9d2c3e7ba3",
      "name": "reprocessamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3860,
        1020
      ]
    },
    {
      "parameters": {
        "errorMessage": "Erro"
      },
      "id": "6c80a618-e26b-48e3-a83e-94eab80608cd",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3580,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14591d0f-569e-4973-bf38-8c9e58007e0f",
              "leftValue": "={{ $json[\"content\"][\"nome\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "77ca2650-f37c-4531-b7e5-a39fad103c24",
              "leftValue": "={{ $json[\"content\"][\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "28cd6fdd-4c40-4207-9f56-c27792bc4f5e",
              "leftValue": "={{ $json[\"content\"][\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "7325b344-3164-486b-a61a-5fce57784cc1",
              "leftValue": "={{ $json[\"content\"][\"instagram\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0fd2fc0-78a2-4f43-a619-afe48402706d",
      "name": "nome_email_telefone_ig_null",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4020,
        800
      ]
    },
    {
      "parameters": {},
      "id": "7d7c0f91-0730-40df-a6ce-aef16d83266c",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3820,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_flow_manychat\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_manychat",
              "value": "={{ $node[\"create_update_manychat1\"].json[\"id_manychat\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        5040
      ],
      "id": "9604bb72-4e95-47fe-93ab-a3182d7b1ead",
      "name": "send_flow_manychat1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 80
        }
      },
      "id": "0ae9917f-f1e2-49e6-9567-2cb88dd1254b",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -4220,
        800
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7b0e3df-3432-44b3-ad32-b20e0773aadd",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tipo_forms\"] }}",
              "rightValue": "Agendamento",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2700,
        980
      ],
      "id": "4e6db20f-ab3f-4f46-9227-5343443bf7f0",
      "name": "evento_agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2300,
        940
      ],
      "id": "54d7ae69-19d0-4e27-999d-9281435e2471",
      "name": "create_update_contact_crm5"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1860,
        780
      ],
      "id": "d5087295-98d2-44fe-9141-f038881a4e07",
      "name": "create_update_contact_crm6"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5e339587-ebb3-414e-bc7e-fbe2c228a2de",
      "name": "pesquisa_acao_create_update_contact_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2080,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2080,
        1100
      ],
      "id": "ccad413f-b917-4f11-9c6d-3bc265e7d18e",
      "name": "create_update_deal_crm2"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_deal_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"]  || \"\" }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        1000
      ],
      "id": "e91873e4-cb90-4e5e-bdca-3c16655e5c32",
      "name": "create_update_contact_crm7"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "f4482fea-b84b-4ca8-8803-802d79f76f63",
      "name": "pesquisa_acao_create_update_deal_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1820,
        1000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_contact_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1900,
        1300
      ],
      "id": "35f31951-449b-47b8-bfeb-7a3eeeec2538",
      "name": "add_tag_contact_crm4"
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_contact_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"pesquisa_situacao_checkout\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        1200
      ],
      "id": "2936e809-fcc4-42e6-b753-b76a9ca595a2",
      "name": "add_tag_contact_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_contact_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "872c05c4-68c5-4bb3-bd55-ec3cbda4abc2",
      "name": "pesquisa_acao_add_tag_contact_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1620,
        1200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_deal_crm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1700,
        1460
      ],
      "id": "55d5fc45-f2c5-43fe-a5fb-be80679c37f4",
      "name": "add_tag_deal_crm4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_deal_crm"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "d5ede26a-54cd-4def-bb47-e3c062c8d802",
      "name": "pesquisa_acao_add_tag_deal_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1420,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_deal_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"]  || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1160,
        1360
      ],
      "id": "425b0a83-f85f-47d7-8031-84978220e57c",
      "name": "add_tag_deal_crm5"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "situacoes_agendamento",
          "mode": "list",
          "cachedResultName": "situacoes_agendamento"
        },
        "where": {
          "values": [
            {
              "column": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c91c14b-47c0-4ad6-9bde-78b5d7feb9ed",
      "name": "pesquisa_situacao_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2520,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bac74034-ee2c-4894-9c67-bca7764d3f3a",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_agendamento_bd",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1480,
        1680
      ],
      "id": "b75b4ca4-55fd-43d2-95fb-7df8be1371b4",
      "name": "add_agendamento_bd"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_agendamento_bd"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "acac1df7-8139-4eb2-96e9-8ce09402705f",
      "name": "pesquisa_acao_add_agendamento_bd",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1200,
        1580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_agendamento_bd\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_agendamento\"] }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_cliente\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] }}"
            },
            {
              "name": "id_responsavel",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_responsavel\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_agendamento\"] }}"
            },
            {
              "name": "status_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"evento\"].replace('Agendamento', 'Agendado').replace('Reagendamento', 'Reagendado').replace('Cancelamento', 'Cancelado') }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split(' ')[0] }}"
            },
            {
              "name": "hora_de_inicio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_inicio\"].split(' ')[1] }}"
            },
            {
              "name": "hora_de_termino",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_termino\"].split(' ')[1] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"link_call\"] }}"
            },
            {
              "name": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome_do_evento\"] }}"
            },
            {
              "name": "dia_da_semana_evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_semana\"] }}"
            },
            {
              "name": "data_cancelamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_cancelamento\"] || \"\" }}"
            },
            {
              "name": "motivo_cancelamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"motivo_cancelamento\"] || \"\" }}"
            },
            {
              "name": "id_agendamento_reagendado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_agendamento_reagendado\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        1580
      ],
      "id": "fc1274fa-fea5-437d-ad75-409940e85abc",
      "name": "add_agendamento_bd1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_contact_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40e5edd6-3c87-43bd-b0ea-c0dd6606a435",
      "name": "create_update_contact_email_marketing4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1240,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "96a4d69f-08e7-4270-9ce6-000e1934c62f",
      "name": "pesquisa_acao_create_update_contact_email_marketing2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -980,
        1760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_contact_email_marketing2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        1760
      ],
      "id": "07bec7af-88ef-4ded-9f61-13f7c0f8d70f",
      "name": "create_update_contact_email_marketing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "add_tag_email_marketing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87888684-052f-4bc1-94b1-9fbde4af2707",
      "name": "add_tag_email_marketing4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1000,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "add_tag_email_marketing"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "6d4954da-1da3-4e3f-bdf2-d0358def55ca",
      "name": "pesquisa_acao_add_tag_email_marketing2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -740,
        1980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_add_tag_email_marketing2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        1980
      ],
      "id": "c77036be-a45c-4b4e-a67b-bba893c327c3",
      "name": "add_tag_email_marketing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "send_message_api_nao_oficial",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f7b35bc-a6f7-40d1-ab81-205e32a8de85",
      "name": "send_message_api_nao_oficial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -520,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "send_message_api_nao_oficial"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c374e982-57ec-469c-a21d-a4b1336722a0",
      "name": "pesquisa_acao_send_message_api_nao_oficial",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -260,
        2520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_send_message_api_nao_oficial\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        2520
      ],
      "id": "8f7b4a0d-2c6c-47f9-a96d-fbf277fbc5dd",
      "name": "send_message_api_nao_oficial1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "36a6df3b-8f01-418a-ba04-ac52183f135e",
              "leftValue": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"acoes\"] }}",
              "rightValue": "create_update_bot_conversa",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3c24d42-8a22-42ea-82ea-2cbda189737c",
      "name": "create_update_bot_conversa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -800,
        2260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_bot_conversa"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e6b5d58b-b1a5-431f-b5d4-e51c8572145e",
      "name": "pesquisa_acao_create_update_bot_conversa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        2220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_acao_create_update_bot_conversa\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] || \"\" }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] || \"\" }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"cria_atualiza_user\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"pesquisa_etapa_funil\"].json[\"id\"] || \"\" }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"] }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"pesquisa_situacao_agendamento\"].json[\"id\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        2220
      ],
      "id": "99cf1ea2-6685-4acd-9e9a-43866f53f7c0",
      "name": "create_update_bot_conversa1"
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GlxWDwy8iRjZXicArtVnHQ",
            "deliveryTag": 5,
            "redelivered": true,
            "exchange": "",
            "routingKey": "Fila de Ações de Funis"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 1
            }
          },
          "content": {
            "telefone": "5511995553592",
            "grupo": "❌ VAGAS ENCERRADAS ❌",
            "evento": "remove",
            "id_funil": "3",
            "tipo_forms": "Saída do Grupo"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-01T19:29:14.483Z",
  "versionId": "b35e8473-e8bb-4bc4-b728-76a25928aab0"
}