workflows/✅⌚[HUBLA > CLINT][EL] - COMPRA APROVADA e CARRINHO ABANDONADO - PARTE 1.json
{
  "active": true,
  "connections": {
    "dados_da_compra": {
      "main": [
        [
          {
            "node": "cria_ou_atualiza_contato_na_clint",
            "type": "main",
            "index": 0
          },
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Aprovada": {
      "main": [
        [
          {
            "node": "dados_da_compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_da_compra1": {
      "main": [
        [
          {
            "node": "cria_ou_atualiza_contato_na_clint1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "carrinhoabandonado-hubla": {
      "main": [
        [
          {
            "node": "dados_da_compra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_ou_atualiza_contato_na_clint1": {
      "main": [
        [
          {
            "node": "cadastrar_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "envia_fluxo_de_confirmacao_de_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-18T19:23:14.105Z",
  "id": "aE7EC02qmCND0qNW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "✅⌚[HUBLA > CLINT][EL] - COMPRA APROVADA e CARRINHO ABANDONADO - PARTE 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compraaprovada-hubla",
        "options": {}
      },
      "id": "c82ceb3c-3f2f-4bfe-8b04-ca24700b3806",
      "name": "Compra Aprovada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        620,
        420
      ],
      "webhookId": "07c7ebf8-683d-4cff-b62b-1ee1dfa36221"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/6964f074-f9df-4df0-8bac-0b606e105ed4",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "={{ $json[\"cpf/cnpj\"] }}"
            },
            {
              "name": "produto",
              "value": "={{ $json[\"nome_produto\"] }}"
            },
            {
              "name": "metodo_pagamento",
              "value": "={{ $json[\"payment_method\"] }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $json[\"installments\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $json[\"value\"] }}"
            },
            {
              "name": "Plataforma",
              "value": "Hubla"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $json[\"dono_negocio\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c0b47e3-f9c2-48c0-a0cf-16bbc24c3e96",
      "name": "cria_ou_atualiza_contato_na_clint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"firstName\"] }} {{ $json[\"body\"][\"event\"][\"user\"][\"lastName\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"phone\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "="
            },
            {
              "name": "nome_produto",
              "value": "={{ $json[\"body\"][\"event\"][\"product\"][\"name\"] }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"id\"] }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "value",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"amount\"][\"totalCents\"] }}"
            },
            {
              "name": "offer_code",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"offers\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentMethod\"] }}"
            },
            {
              "name": "trans_status",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"status\"] }}"
            },
            {
              "name": "conversion_date",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice (0,10) }}"
            },
            {
              "name": "warranty_date",
              "value": "={{ $json[\"body\"][\"product\"][\"period\"] }}"
            },
            {
              "name": "installments",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"installments\"] }}"
            },
            {
              "name": "ddd",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"phone\"].slice (3,5) }}"
            },
            {
              "name": "cep",
              "value": "={{ $json[\"body\"][\"client\"][\"zipcode\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentSession\"][\"utm\"][\"source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentSession\"][\"utm\"][\"campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentSession\"][\"utm\"][\"medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentSession\"][\"utm\"][\"content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentSession\"][\"utm\"][\"term\"] }}"
            },
            {
              "name": "gateway_comission",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"receivers\"][\"0\"][\"totalCents\"] }}"
            },
            {
              "name": "conversion_date",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"]  ? $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice(8,10) + '/' + $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice(5,7) + '/' + $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice(0,4) + ' ' + $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice(11,16) : ''}}"
            },
            {
              "name": "client_id",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"id\"] }}"
            },
            {
              "name": "seller_balance",
              "value": "={{ $json[\"body\"][\"sale\"][\"seller_balance\"] }}"
            },
            {
              "name": "warrant_date",
              "value": "={{ \n  (() => {\n    const updatedAt = $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"];\n    if (!updatedAt) {\n      return '';\n    }\n    \n    const dateObj = new Date(updatedAt);\n    const daysToAdd = 7; // ou -7 para subtrair\n    const newDate = new Date(dateObj);\n    newDate.setDate(newDate.getDate() + daysToAdd);\n    return newDate.toLocaleDateString('pt-BR');\n  })() \n}}"
            },
            {
              "name": "zipcode",
              "value": "={{ $json[\"body\"][\"client\"][\"zipcode\"] }}"
            },
            {
              "name": "street",
              "value": "={{ $json[\"body\"][\"client\"][\"street\"] }}"
            },
            {
              "name": "number",
              "value": "={{ $json[\"body\"][\"client\"][\"number\"] }}"
            },
            {
              "name": "complement",
              "value": "={{ $json[\"body\"][\"client\"][\"complement\"] }}"
            },
            {
              "name": "neighborhood",
              "value": "={{ $json[\"body\"][\"client\"][\"neighborhood\"] }}"
            },
            {
              "name": "city",
              "value": "={{ $json[\"body\"][\"client\"][\"city\"] }}"
            },
            {
              "name": "uf",
              "value": "={{ $json[\"body\"][\"client\"][\"uf\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ \n  (() => {\n    const telefone = $json[\"body\"][\"event\"][\"user\"][\"phone\"];\n    if (!telefone) {\n      return '';\n    }\n    \n    const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n  \n    let ddi;\n    let ddd;\n    let telefoneFormatado;\n  \n    // Verificar se o telefone começa com \"55\" antes de formatá-lo\n    if (telefoneLimpo.startsWith('55')) {\n      ddi = telefoneLimpo.slice(0, 2);\n      ddd = telefoneLimpo.slice(2, 4);\n      if (parseInt(ddd, 10) > 28) {\n        telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n      } else {\n        telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n      }\n    } else {\n      // Se o DDI for diferente de 55, manter o número como está\n      telefoneFormatado = telefoneLimpo;\n    }\n  \n    return telefoneFormatado;\n  })() \n}}"
            },
            {
              "name": "API-KEY",
              "value": "1ce1633c-7f94-487a-ad21-62ed7b079427"
            },
            {
              "name": "currency",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"currency\"] }}"
            },
            {
              "name": "dono_negocio",
              "value": "=lilian.cidreira@futureminds.com.br"
            }
          ]
        },
        "options": {}
      },
      "id": "0c838dba-6062-44cd-afa9-ded631466d35",
      "name": "dados_da_compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/1f5b89a9-d474-4019-ac0d-5cbce422e6dc",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "nome",
              "value": "={{ $json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "={{ $json[\"cpf/cnpj\"] }}"
            },
            {
              "name": "produto",
              "value": "={{ $json[\"nome_produto\"] }}"
            },
            {
              "name": "metodo_pagamento",
              "value": "={{ $json[\"payment_method\"] }}"
            },
            {
              "name": "parcelas",
              "value": "={{ $json[\"installments\"] }}"
            },
            {
              "name": "valor",
              "value": "={{ $json[\"value\"] }}"
            },
            {
              "name": "Plataforma",
              "value": "Hubla"
            },
            {
              "name": "dono_negocio",
              "value": "={{ $json[\"dono_negocio\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cedba4f-a14c-4107-a34c-6d297b75fb2a",
      "name": "cria_ou_atualiza_contato_na_clint1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"fullName\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"phone\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "="
            },
            {
              "name": "nome_produto",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"name\"] }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"offers\"][\"0\"][\"cohorts\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "product_id",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "value",
              "value": "=39700"
            },
            {
              "name": "offer_code",
              "value": "={{ $json[\"body\"][\"event\"][\"products\"][\"0\"][\"offers\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"paymentMethod\"] }}"
            },
            {
              "name": "trans_status",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"status\"] }}"
            },
            {
              "name": "conversion_date",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"].slice (0,10) }}"
            },
            {
              "name": "warranty_date",
              "value": "={{ $json[\"body\"][\"product\"][\"period\"] }}"
            },
            {
              "name": "installments",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"installments\"] }}"
            },
            {
              "name": "ddd",
              "value": "={{ $json[\"body\"][\"event\"][\"user\"][\"phone\"].slice (3,5) }}"
            },
            {
              "name": "cep",
              "value": "={{ $json[\"body\"][\"client\"][\"zipcode\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"session\"][\"utm\"][\"source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"session\"][\"utm\"][\"campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"session\"][\"utm\"][\"medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"session\"][\"utm\"][\"content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"session\"][\"utm\"][\"term\"] }}"
            },
            {
              "name": "gateway_comission",
              "value": "={{ $json[\"body\"][\"event\"][\"invoice\"][\"receivers\"][\"0\"][\"totalCents\"] }}"
            },
            {
              "name": "conversion_date",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"createdAt\"]   ? $json[\"body\"][\"event\"][\"lead\"][\"createdAt\"].slice(8,10) + '/' + $json[\"body\"][\"event\"][\"lead\"][\"createdAt\"].slice(5,7) + '/' + $json[\"body\"][\"event\"][\"lead\"][\"createdAt\"].slice(0,4) + ' ' + $json[\"body\"][\"event\"][\"lead\"][\"createdAt\"].slice(11,16) : ''}}"
            },
            {
              "name": "client_id",
              "value": "={{ $json[\"body\"][\"event\"][\"lead\"][\"id\"] }}"
            },
            {
              "name": "seller_balance",
              "value": "={{ $json[\"body\"][\"sale\"][\"seller_balance\"] }}"
            },
            {
              "name": "warrant_date",
              "value": "={{ \n  (() => {\n    const updatedAt = $json[\"body\"][\"event\"][\"invoice\"][\"statusAt\"][\"1\"][\"when\"];\n    if (!updatedAt) {\n      return '';\n    }\n    \n    const dateObj = new Date(updatedAt);\n    const daysToAdd = 7; // ou -7 para subtrair\n    const newDate = new Date(dateObj);\n    newDate.setDate(newDate.getDate() + daysToAdd);\n    return newDate.toLocaleDateString('pt-BR');\n  })() \n}}"
            },
            {
              "name": "zipcode",
              "value": "={{ $json[\"body\"][\"client\"][\"zipcode\"] }}"
            },
            {
              "name": "street",
              "value": "={{ $json[\"body\"][\"client\"][\"street\"] }}"
            },
            {
              "name": "number",
              "value": "={{ $json[\"body\"][\"client\"][\"number\"] }}"
            },
            {
              "name": "complement",
              "value": "={{ $json[\"body\"][\"client\"][\"complement\"] }}"
            },
            {
              "name": "neighborhood",
              "value": "={{ $json[\"body\"][\"client\"][\"neighborhood\"] }}"
            },
            {
              "name": "city",
              "value": "={{ $json[\"body\"][\"client\"][\"city\"] }}"
            },
            {
              "name": "uf",
              "value": "={{ $json[\"body\"][\"client\"][\"uf\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ \n  (() => {\n    const telefone = $json[\"body\"][\"event\"][\"lead\"][\"phone\"] ;\n    if (!telefone) {\n      return '';\n    }\n    \n    const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n  \n    let ddi;\n    let ddd;\n    let telefoneFormatado;\n  \n    // Verificar se o telefone começa com \"55\" antes de formatá-lo\n    if (telefoneLimpo.startsWith('55')) {\n      ddi = telefoneLimpo.slice(0, 2);\n      ddd = telefoneLimpo.slice(2, 4);\n      if (parseInt(ddd, 10) > 28) {\n        telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n      } else {\n        telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n      }\n    } else {\n      // Se o DDI for diferente de 55, manter o número como está\n      telefoneFormatado = telefoneLimpo;\n    }\n  \n    return telefoneFormatado;\n  })() \n}}"
            },
            {
              "name": "API-KEY",
              "value": "1ce1633c-7f94-487a-ad21-62ed7b079427"
            },
            {
              "name": "currency",
              "value": "=BRL"
            },
            {
              "name": "dono_negocio",
              "value": "=lilian.cidreira@futureminds.com.br"
            },
            {
              "name": "fluxo_carrinho",
              "value": "6058238"
            }
          ]
        },
        "options": {}
      },
      "id": "d48979b2-3b76-447a-b2fa-4696c32d4f80",
      "name": "dados_da_compra1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carrinhoabandonado-hubla",
        "options": {}
      },
      "id": "487657dc-5d1a-47dc-8bd6-f0f9864dfc57",
      "name": "carrinhoabandonado-hubla",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        620,
        220
      ],
      "webhookId": "07c7ebf8-683d-4cff-b62b-1ee1dfa36221"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"dados_da_compra1\"].json[\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"Nome do Cliente\"].split(' ')[1] ? $node[\"dados_da_compra1\"].json[\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ],
      "id": "ce5d71e6-eff9-4be2-b2f6-33ae4e1014ae",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"cadastrar_contato\"].json[\"id\"]}}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"dados_da_compra1\"].json[\"fluxo_carrinho\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "760b2de8-04cf-4564-beed-70d62d76ed94",
      "name": "envia_fluxo_de_confirmacao_de_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1480,
        220
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "queue": "Compra Aprovada EL - Parte 2",
        "options": {}
      },
      "id": "0d939494-0123-45a9-9449-dd41d362eda1",
      "name": "RabbitMQ",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1020,
        620
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "Compra Aprovada": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "user-agent": "axios/0.24.0",
            "content-length": "2069",
            "accept": "application/json",
            "content-type": "application/json",
            "newrelic": "eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkFwcCIsImFjIjoiMzE5ODg5NyIsImFwIjoiNTM3NDU4OTYxIiwidHgiOiJkOGYxODM5MjJmZDA3MGVlIiwidHIiOiJhODhmNDZiOTFkYTU0Mjc1MDNlMmZiY2RiY2NmZDg2NiIsInByIjowLjE4NzE3NSwic2EiOmZhbHNlLCJ0aSI6MTczNDU0OTk0MjgxMH19",
            "traceparent": "00-a88f46b91da5427503e2fbcdbccfd866-d7fdf6ad7e65f63c-00",
            "tracestate": "3198897@nr=0-0-3198897-537458961-d7fdf6ad7e65f63c-d8f183922fd070ee-0-0.187175-1734549942810",
            "x-forwarded-for": "34.121.74.64",
            "x-forwarded-host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3fc641f1cb52",
            "x-hubla-idempotency": "4fbe6cc2-e400-4519-bdda-44ba20a19f99",
            "x-hubla-sandbox": "true",
            "x-hubla-token": "BHrYdUdWjQmICG8ocqD4pMGWUtZtlW0V5Ivi7lY6nf6HkiLAnCTcq8XGZ6CtTQO4",
            "x-real-ip": "34.121.74.64",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "invoice.payment_succeeded",
            "event": {
              "product": {
                "id": "AqPyJdkLBg1xiJZ3JtY8",
                "name": "Estrategista no LinkedIn"
              },
              "products": [
                {
                  "id": "AqPyJdkLBg1xiJZ3JtY8",
                  "name": "Estrategista no LinkedIn",
                  "offers": [
                    {
                      "id": "AqPyJdkLBg1xiJZ3JtY8",
                      "name": "Estrategista no LinkedIn",
                      "cohorts": [
                        {
                          "id": "76f2a132-dbb1-4440-abda-b58f8ba8dd0e"
                        }
                      ]
                    }
                  ]
                }
              ],
              "invoice": {
                "id": "53a0a7ba-d2f8-4285-addd-6cdf0a937568-tester",
                "childInvoiceIds": [],
                "subscriptionId": "01cc18cb-5297-41a4-8410-9058c7113aab-tester",
                "payerId": "payerId-RE4gy1p6uehKiXh4Ul4Jk-tester",
                "sellerId": "ch7MsZAzuAWHzTmDdFLaWigrzA43",
                "installments": 1,
                "paymentMethod": "pix",
                "currency": "BRL",
                "type": "sell",
                "status": "paid",
                "statusAt": [
                  {
                    "status": "unpaid",
                    "when": "2024-12-18T19:25:42.808Z"
                  },
                  {
                    "status": "paid",
                    "when": "2024-12-18T19:25:42.808Z"
                  }
                ],
                "paymentSession": {
                  "ip": "127.0.0.1",
                  "utm": {
                    "source": "facebook",
                    "medium": "ads",
                    "campaign": "teste sandbox",
                    "content": "hubla sandbox"
                  }
                },
                "amount": {
                  "subtotalCents": 39700,
                  "discountCents": 0,
                  "prorataCents": 0,
                  "installmentFeeCents": 0,
                  "totalCents": 39700
                },
                "receivers": [
                  {
                    "id": "platform-identity",
                    "name": "Hubla Tecnologia LTDA",
                    "email": "suporte@hub.la",
                    "phone": "+5531999715693",
                    "role": "platform",
                    "paysForFees": false,
                    "totalCents": 3137
                  },
                  {
                    "id": "ch7MsZAzuAWHzTmDdFLaWigrzA43",
                    "name": "Lilian Cidreira",
                    "email": "lilian.cidreira@futureminds.com.br",
                    "phone": "+5521988995629",
                    "role": "seller",
                    "paysForFees": true,
                    "totalCents": 36564
                  }
                ],
                "saleDate": "2024-12-18T19:25:42.808Z",
                "dueDate": "2024-12-18T19:25:42.808Z",
                "createdAt": "2024-12-18T19:25:42.808Z",
                "modifiedAt": "2024-12-18T19:25:42.808Z",
                "version": 1,
                "billingAddress": {
                  "countryCode": "BR",
                  "state": "São Paulo",
                  "city": "São Paulo",
                  "neighborhood": "Sumarezinho",
                  "street": "Rua Sen Cesar Lacerda Vergueiro",
                  "complement": "Sala 61 e 62",
                  "number": "380",
                  "postalCode": "05435-010"
                }
              },
              "subscriptions": [
                {
                  "id": "01cc18cb-5297-41a4-8410-9058c7113aab-tester",
                  "type": "one_time",
                  "billingCycleMonths": 1
                }
              ],
              "user": {
                "id": "payerId-RE4gy1p6uehKiXh4Ul4Jk-tester",
                "firstName": "Mateus",
                "lastName": "Diniz",
                "email": "mateusdiniz@automagicbots.com.br",
                "phone": "+5562981196678"
              }
            },
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/compraaprovada-hubla",
          "executionMode": "production"
        }
      }
    ],
    "carrinhoabandonado-hubla": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "user-agent": "axios/0.24.0",
            "content-length": "883",
            "accept": "application/json",
            "content-type": "application/json",
            "newrelic": "eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkFwcCIsImFjIjoiMzE5ODg5NyIsImFwIjoiNTM3NDU4OTYxIiwidHgiOiI0YWU1YjE3OWZkOTRkNGVhIiwidHIiOiIyNzU3MmMyMWZlZGE0OTM0ZmU1OWVkZWFhZTc2MDc4OSIsInByIjowLjg3NDQ4Niwic2EiOmZhbHNlLCJ0aSI6MTczNDU0OTk2Nzc3M319",
            "traceparent": "00-27572c21feda4934fe59edeaae760789-a0c97ce64e33a04e-00",
            "tracestate": "3198897@nr=0-0-3198897-537458961-a0c97ce64e33a04e-4ae5b179fd94d4ea-0-0.874486-1734549967773",
            "x-forwarded-for": "34.121.74.64",
            "x-forwarded-host": "n8nwebhookhetznerfutureminds.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3fc641f1cb52",
            "x-hubla-idempotency": "301144fe-d62c-4215-9989-1f99affa09cb",
            "x-hubla-sandbox": "true",
            "x-hubla-token": "BHrYdUdWjQmICG8ocqD4pMGWUtZtlW0V5Ivi7lY6nf6HkiLAnCTcq8XGZ6CtTQO4",
            "x-real-ip": "34.121.74.64",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "lead.abandoned_checkout",
            "event": {
              "products": [
                {
                  "id": "AqPyJdkLBg1xiJZ3JtY8",
                  "name": "Estrategista no LinkedIn",
                  "offers": [
                    {
                      "id": "AqPyJdkLBg1xiJZ3JtY8",
                      "name": "Estrategista no LinkedIn",
                      "cohorts": [
                        {
                          "id": "76f2a132-dbb1-4440-abda-b58f8ba8dd0e"
                        }
                      ]
                    }
                  ]
                }
              ],
              "lead": {
                "id": "80401cf1-90c6-4d49-8200-b44801da7ca2-tester",
                "fullName": "Mateus DIniz",
                "email": "mateusdiniz@automagicbots.com.br",
                "phone": "+5562981196678",
                "session": {
                  "url": "https://pay.hub.la/AqPyJdkLBg1xiJZ3JtY8?utm_source=facebook&utm_medium=ads&utm_campaign=teste+sandbox&utm_content=hubla+sandbox&term=sandbox&fbclid=fbclid",
                  "utm": {
                    "source": "facebook",
                    "medium": "ads",
                    "campaign": "teste sandbox",
                    "content": "hubla sandbox",
                    "term": "sandbox"
                  },
                  "cookies": {
                    "fbp": "fb.1.1726966492413.1726966492413",
                    "fbclid": "fbclid",
                    "gclid": "gclid",
                    "hbId": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                  }
                },
                "createdAt": "2024-12-18T19:26:07.772Z"
              }
            },
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/carrinhoabandonado-hubla",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-12-18T22:45:55.079Z",
  "versionId": "a61ac887-c740-4f0e-b418-9ded84ec7f0a"
}