workflows/💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - Disparos🔔.json
{
  "active": true,
  "connections": {
    "variaveis": {
      "main": [
        [
          {
            "node": "grupo_webnario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sexta-feira - 9h": {
      "main": [
        [
          {
            "node": "variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis1": {
      "main": [
        [
          {
            "node": "grupo_webnario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 10h": {
      "main": [
        [
          {
            "node": "variaveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis2": {
      "main": [
        [
          {
            "node": "grupo_webnario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 11h": {
      "main": [
        [
          {
            "node": "variaveis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis3": {
      "main": [
        [
          {
            "node": "grupo_webnario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 11:10h": {
      "main": [
        [
          {
            "node": "variaveis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximo_sabado": {
      "main": [
        [
          {
            "node": "procura_agendamento_sala_secreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_agendamento_sala_secreta": {
      "main": [
        [
          {
            "node": "nao_existe_evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_evento": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "calcula_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_lotes": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_via_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id": {
      "main": [
        [
          {
            "node": "inexistente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente1": {
      "main": [
        [
          {
            "node": "separa_lotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcula_dias": {
      "main": [
        [
          {
            "node": "tipo_lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo_lembrete": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_agendamento_sala_secreta1": {
      "main": [
        [
          {
            "node": "nao_existe_evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximo_sabado1": {
      "main": [
        [
          {
            "node": "procura_agendamento_sala_secreta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_evento1": {
      "main": [
        [
          {
            "node": "Fim2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_lotes1": {
      "main": [
        [
          {
            "node": "Fim2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_via_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id1": {
      "main": [
        [
          {
            "node": "inexistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente": {
      "main": [
        [
          {
            "node": "separa_lotes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "10s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s": {
      "main": [
        [
          {
            "node": "separa_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s1": {
      "main": [
        [
          {
            "node": "separa_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_agendamento_sala_secreta2": {
      "main": [
        [
          {
            "node": "nao_existe_evento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximo_sabado2": {
      "main": [
        [
          {
            "node": "procura_agendamento_sala_secreta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_evento2": {
      "main": [
        [
          {
            "node": "Fim3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_lotes2": {
      "main": [
        [
          {
            "node": "Fim3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_via_id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id2": {
      "main": [
        [
          {
            "node": "inexistente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente2": {
      "main": [
        [
          {
            "node": "separa_lotes2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud2": {
      "main": [
        [
          {
            "node": "10s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s2": {
      "main": [
        [
          {
            "node": "separa_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_agendamento_sala_secreta3": {
      "main": [
        [
          {
            "node": "nao_existe_evento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximo_sabado3": {
      "main": [
        [
          {
            "node": "procura_agendamento_sala_secreta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_evento3": {
      "main": [
        [
          {
            "node": "Fim4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_lotes3": {
      "main": [
        [
          {
            "node": "Fim4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_via_id3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id3": {
      "main": [
        [
          {
            "node": "inexistente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente3": {
      "main": [
        [
          {
            "node": "separa_lotes3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud3": {
      "main": [
        [
          {
            "node": "10s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s3": {
      "main": [
        [
          {
            "node": "separa_lotes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-03T19:04:07.232Z",
  "id": "mvcr6yFgFNAeAUoV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - Disparos🔔",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "493f989d-c1ef-4de3-bc43-5d26bd1d4e27",
      "name": "variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Parabéns por reservar um espaço no seu sábado para cuidar da sua carreira! 🎉\n\nAmanhã, às 11h, você tem um encontro marcado com a Lilian Cidreira na Sala Secreta! Você terá uma oportunidade única de começar a construir uma carreira mais estratégica e sua participação e engajamento são essenciais para aproveitar ao máximo essa experiência.\n\nLembre-se de estar pontualmente às 11h para não perder nenhum conteúdo valioso.\n\nAté amanhã!\n\nAbraços,\n\nLilian Cidreira"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9e5a03eb-c25b-414d-86f0-65d11cf9f4be",
      "name": "grupo_webnario",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        500
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "e191233b-ec5f-4e82-990f-4e00d57e1795",
      "name": "Sexta-feira - 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f0afa88-5677-4440-9291-c3d2df61edce",
      "name": "variaveis1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis1\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Estamos a apenas 1 hora da Sala Secreta! ⏰\n\nPrepare-se para descobrir como alinhar sua carreira com seus objetivos pessoais e potencialmente aumentar seu valor no mercado.\n\nEstamos ansiosos para começar e ver você lá!\n\nAté já!\n\nAbraços,\n\nLilian Cidreira"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ab7f4443-151d-49f3-ae5b-0c30f45f9c87",
      "name": "grupo_webnario1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        680
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "8cfd2886-1f8d-4215-9c3b-31f6e32b4809",
      "name": "Sábado - 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ee5a4f37-a31a-4874-af9d-e5b02b322681",
      "name": "variaveis2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis2\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis2\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis2\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis2\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=A Sala Secreta está começando agora! 🚀\n\nClique no link abaixo para entrar e prepare-se para uma sessão transformadora com Lilian Cidreira.\n\nEste é o momento de focar em seu desenvolvimento e alinhar sua carreira com seus objetivos pessoais.\n\nhttps://calendly.com/events/7116d54f-1b8d-44c6-b80e-6185b5450429/google_meet\n\nVamos lá!"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f4aae87e-28f2-4574-a0a3-8ff0ab8aaf5b",
      "name": "grupo_webnario2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        840
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "5f7fa637-e7e2-48c8-821f-2d6096439fdd",
      "name": "Sábado - 11h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a26ff4c1-dfe7-4b2e-85d9-746702e9abe0",
      "name": "variaveis3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis3\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis3\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis3\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis3\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=A Sala Secreta já começou, e você ainda pode se juntar a nós! 🌟\n\nLilian Cidreira está compartilhando insights valiosos sobre como construir uma carreira de sucesso, alinhada com seus objetivos pessoais. Não perca a oportunidade de participar dessa experiência. \n\nClique no link abaixo para entrar agora:\n\nhttps://calendly.com/events/7116d54f-1b8d-44c6-b80e-6185b5450429/google_meet"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b5c3d8e3-cfdb-49a7-af2c-accc483afa07",
      "name": "grupo_webnario3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        1000
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "5a4da3a9-522f-4f36-acb8-919fbd07a3b3",
      "name": "Sábado - 11:10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico IN ('Sala Secreta')\nAND status_evento = 'Agendado'\nAND DATE(data_de_inicio) = '{{ $node[\"proximo_sabado\"].json[\"nextSaturday\"] }}';",
        "options": {}
      },
      "id": "03be4718-9388-46fd-95ef-2744d7a75e17",
      "name": "procura_agendamento_sala_secreta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        400,
        1600
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst dayOfWeek = today.getDay();\nconst daysUntilSaturday = (6 - dayOfWeek + 7) % 7;  // 6 representa sábado\nconst nextSaturday = new Date(today);\nnextSaturday.setDate(today.getDate() + daysUntilSaturday);\n\n// Retorna um array de objetos no formato que o N8N espera\nreturn [\n  {\n    json: {\n      nextSaturday: nextSaturday.toISOString().split('T')[0],  // Retorna no formato YYYY-MM-DD\n    }\n  }\n];"
      },
      "id": "75c7758d-2181-4908-a51e-fe7a42de7a98",
      "name": "proximo_sabado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"procura_agendamento_sala_secreta\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "92b9a1bd-fb0b-49c5-ac7a-24acd21e28fc",
      "name": "nao_existe_evento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47fb831a-c867-448d-8779-a89a84396211",
              "name": "falta_quantos_dias",
              "value": "={{ \n  Math.ceil(\n    (new Date($node[\"proximo_sabado\"].json[\"nextSaturday\"] + \"T00:00:00Z\").getTime() - new Date().setHours(0, 0, 0, 0)) / (1000 * 60 * 60 * 24)\n  )\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f410f564-0ad0-4943-aae2-c860e8b9c877",
      "name": "calcula_dias",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1700,
        1620
      ]
    },
    {
      "parameters": {},
      "id": "ad384d8e-2cb6-434b-966f-553608735f90",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1480,
        1620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e47a09da-8211-4aa9-9ef3-3c896bb6d15f",
      "name": "separa_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "4721f4ed-3be7-48c4-94d2-594d935325a4",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_lotes\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "22e5998a-5af5-47e1-8ed0-4a30eb6ccab6",
      "name": "pesquisa_lead_via_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1120,
        1600
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d7f1fe00-8c2c-4aba-b528-70d44d385f09",
      "name": "inexistente1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"calcula_dias\"].json[\"falta_quantos_dias\"] }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "48767c48-dabc-4cf2-b481-bd76515ba7e5",
                    "leftValue": "={{ $node[\"calcula_dias\"].json[\"falta_quantos_dias\"] }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ba369472-1f71-452f-9f18-008910b72374",
                    "leftValue": "={{ $node[\"calcula_dias\"].json[\"falta_quantos_dias\"] }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "12e67094-e1fd-41a5-84aa-31a810fdbbfb",
                    "leftValue": "={{ $node[\"calcula_dias\"].json[\"falta_quantos_dias\"] }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 dia"
            }
          ]
        },
        "options": {}
      },
      "id": "a2d9f3d5-aba3-4d86-a605-6a73ed8bfa47",
      "name": "tipo_lembrete",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1920,
        1620
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "624d5c54-7281-4c42-990e-b5df4614d4d8",
      "name": "10hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        1600
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "={{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"] }}",
        "template": "convite_webnario_semanal|pt_BR"
      },
      "id": "7dfdff53-15ce-499e-b4f9-76de5a46f76f",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2200,
        1940
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico IN ('Sala Secreta')\nAND status_evento = 'Agendado'\nAND DATE(data_de_inicio) = '{{ $node[\"proximo_sabado\"].json[\"nextSaturday\"] }}';",
        "options": {}
      },
      "id": "8f352859-e8e1-4339-9553-54cfd638b602",
      "name": "procura_agendamento_sala_secreta1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        580,
        2560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst dayOfWeek = today.getDay();\nconst daysUntilSaturday = (6 - dayOfWeek + 7) % 7;  // 6 representa sábado\nconst nextSaturday = new Date(today);\nnextSaturday.setDate(today.getDate() + daysUntilSaturday);\n\n// Retorna um array de objetos no formato que o N8N espera\nreturn [\n  {\n    json: {\n      nextSaturday: nextSaturday.toISOString().split('T')[0],  // Retorna no formato YYYY-MM-DD\n    }\n  }\n];"
      },
      "id": "62c6a5b6-6e41-4c0f-8dc3-814214e44f32",
      "name": "proximo_sabado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        2560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"procura_agendamento_sala_secreta1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2e2f8f31-f798-46d9-beee-4690a7861984",
      "name": "nao_existe_evento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        2560
      ]
    },
    {
      "parameters": {},
      "id": "f7545c62-f672-4d66-a659-dddd5f8690e2",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1660,
        2580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5a43acdf-072c-47fc-ace1-e4a2b6ce8aa7",
      "name": "separa_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        2560
      ]
    },
    {
      "parameters": {},
      "id": "6e48372b-5bc2-4b01-9908-f7d75915b422",
      "name": "Fim2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        2360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_lotes1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "638b57f2-be37-48a7-a8dc-c3760859935b",
      "name": "pesquisa_lead_via_id1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1300,
        2560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id1\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "03624513-5f16-4768-a96f-b16242d26bb0",
      "name": "inexistente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1460,
        2560
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "={{ $node[\"pesquisa_lead_via_id1\"].json[\"telefone\"] }}",
        "template": "convite_webnario_semanal|pt_BR"
      },
      "id": "a0cb2573-556f-43da-8ac3-de537838179e",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1860,
        2580
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "af9c3829-ae45-46da-852f-1f4a37b20579",
      "name": "10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        1940
      ],
      "webhookId": "bd5f0acb-131b-45a2-857b-bc65e0165663"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "bec8c59b-4673-4777-a327-c90c377e3f7d",
      "name": "10s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2100,
        2580
      ],
      "webhookId": "bd5f0acb-131b-45a2-857b-bc65e0165663"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "a1614eea-f073-4dd9-a564-6bca3c2148fb",
      "name": "10:00hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico IN ('Sala Secreta')\nAND status_evento = 'Agendado'\nAND DATE(data_de_inicio) = '{{ $node[\"proximo_sabado\"].json[\"nextSaturday\"] }}';",
        "options": {}
      },
      "id": "bef46937-54fa-4dda-811b-292c10f4fc55",
      "name": "procura_agendamento_sala_secreta2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        2980
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst dayOfWeek = today.getDay();\nconst daysUntilSaturday = (6 - dayOfWeek + 7) % 7;  // 6 representa sábado\nconst nextSaturday = new Date(today);\nnextSaturday.setDate(today.getDate() + daysUntilSaturday);\n\n// Retorna um array de objetos no formato que o N8N espera\nreturn [\n  {\n    json: {\n      nextSaturday: nextSaturday.toISOString().split('T')[0],  // Retorna no formato YYYY-MM-DD\n    }\n  }\n];"
      },
      "id": "df9b714c-19de-452f-8221-b05764db5772",
      "name": "proximo_sabado2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        2980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"procura_agendamento_sala_secreta2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "87ef1aef-73bd-47e5-beb4-d4d12018b221",
      "name": "nao_existe_evento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        2980
      ]
    },
    {
      "parameters": {},
      "id": "5364267d-5833-40c4-aca3-361b6f0fc65d",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1640,
        3000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "24220609-6df1-413d-9ae1-f8c70287f1cb",
      "name": "separa_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        2980
      ]
    },
    {
      "parameters": {},
      "id": "bef41208-f877-4851-8943-8cea2ea69f06",
      "name": "Fim3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        2780
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_lotes2\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "fe2adac1-48a7-46d2-b786-79877dafd4be",
      "name": "pesquisa_lead_via_id2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1280,
        2980
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id2\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9547f50d-7dfc-4d31-9801-66f6de4ebd30",
      "name": "inexistente2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        2980
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "={{ $node[\"pesquisa_lead_via_id2\"].json[\"telefone\"] }}",
        "template": "convite_webnario_semanal|pt_BR"
      },
      "id": "7b18bd84-95b2-4850-995f-54122aec3841",
      "name": "WhatsApp Business Cloud2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1840,
        3000
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "ed19ad9a-58c9-477f-bc3c-aa5a78e53b86",
      "name": "10s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        3000
      ],
      "webhookId": "bd5f0acb-131b-45a2-857b-bc65e0165663"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "624bdfdc-9291-48cd-9247-6fc91a8cee2b",
      "name": "11hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        2980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE servico IN ('Sala Secreta')\nAND status_evento = 'Agendado'\nAND DATE(data_de_inicio) = '{{ $node[\"proximo_sabado\"].json[\"nextSaturday\"] }}';",
        "options": {}
      },
      "id": "8bd8f68c-91c6-4473-a225-2201faae82a4",
      "name": "procura_agendamento_sala_secreta3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        3400
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst dayOfWeek = today.getDay();\nconst daysUntilSaturday = (6 - dayOfWeek + 7) % 7;  // 6 representa sábado\nconst nextSaturday = new Date(today);\nnextSaturday.setDate(today.getDate() + daysUntilSaturday);\n\n// Retorna um array de objetos no formato que o N8N espera\nreturn [\n  {\n    json: {\n      nextSaturday: nextSaturday.toISOString().split('T')[0],  // Retorna no formato YYYY-MM-DD\n    }\n  }\n];"
      },
      "id": "46ad3dd8-9673-423e-b7da-a46bc77e07b1",
      "name": "proximo_sabado3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        3400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"procura_agendamento_sala_secreta3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1580d2bb-ebb7-4d27-a8da-8a5e8c96bb23",
      "name": "nao_existe_evento3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        3400
      ]
    },
    {
      "parameters": {},
      "id": "0e511c8a-8b72-4463-a094-1b029c57a5b0",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1640,
        3420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80958839-675b-4182-a65f-7b7ddb94d913",
      "name": "separa_lotes3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        3400
      ]
    },
    {
      "parameters": {},
      "id": "37a783de-2ca0-4f70-92b8-f0248363d09e",
      "name": "Fim4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        3200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_lotes3\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "1439e1a6-7408-4a3a-b818-ca218d37839f",
      "name": "pesquisa_lead_via_id3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1280,
        3400
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id3\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5c104bf4-a9b6-474d-bc23-9c8a8da571a7",
      "name": "inexistente3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        3400
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "={{ $node[\"pesquisa_lead_via_id3\"].json[\"telefone\"] }}",
        "template": "convite_webnario_semanal|pt_BR"
      },
      "id": "d1da288f-5342-4bc1-a9b0-2d20b252e3c8",
      "name": "WhatsApp Business Cloud3",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1840,
        3420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "43a06d00-4e27-4bf0-a6c3-bb29fcc93af5",
      "name": "10s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        3420
      ],
      "webhookId": "bd5f0acb-131b-45a2-857b-bc65e0165663"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "97c19e85-967f-4637-a984-2db3ed1e7de0",
      "name": "11:10hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        3400
      ]
    },
    {
      "parameters": {
        "content": "## Subir copy na API OFICIAL"
      },
      "id": "2896baef-a764-45fb-9090-c7b5d5f89eff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2300,
        1560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": {
    "node:Sexta-feira - 9h": {
      "recurrencyRules": []
    },
    "node:Sábado - 10h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11:10h": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Todos os dias": {
      "recurrencyRules": []
    },
    "node:10hs": {
      "recurrencyRules": []
    },
    "node:10hs1": {
      "recurrencyRules": []
    },
    "node:10:00hs": {
      "recurrencyRules": []
    },
    "node:11hs": {
      "recurrencyRules": []
    },
    "node:11:10hs": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-02T13:10:10.005Z",
      "updatedAt": "2024-07-02T13:10:10.005Z",
      "id": "Ntg6hZ9Zxy35lAGJ",
      "name": "[CLINT]"
    },
    {
      "createdAt": "2024-09-03T13:57:16.639Z",
      "updatedAt": "2024-09-03T13:57:16.639Z",
      "id": "RKlC2cBKwmEiyN24",
      "name": "[WEBNARIO SEMANAL]"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2024-09-17T19:47:48.138Z",
  "versionId": "e9a14fbe-4ebe-4788-81b7-f30d6172db12"
}