workflows/💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - X1 API OFICIAL.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "verifica_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes2": {
      "main": [
        [
          {
            "node": "Fim1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data1": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-03T20:23:14.491Z",
  "id": "uyeoAZYfqoFXNsAo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - X1 API OFICIAL",
  "nodes": [
    {
      "parameters": {},
      "id": "ecdce38a-2c81-4234-a00b-77abf80505d3",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1480,
        2260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 510891260,
          "mode": "list",
          "cachedResultName": "Sala Secreta API OFICIAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=510891260"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE",
              "lookupValue": "5519984574874"
            }
          ]
        },
        "options": {}
      },
      "id": "ec3c7149-10d6-467c-aeae-23f69fe2ece4",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -1080,
        2240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31b568ff-cefa-444c-81c9-d250266f57dd",
      "name": "separa_em_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -900,
        2240
      ]
    },
    {
      "parameters": {},
      "id": "8db5ad0c-aa6b-484c-bd12-c8d21acfa36d",
      "name": "Fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -660,
        2040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "03/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4d8cc26-f7ea-4cd4-b49d-374c529812c9",
      "name": "verifica_data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1300,
        2260
      ]
    },
    {
      "parameters": {},
      "id": "57a23a87-53b6-4304-b21a-bf150e73994e",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        2400
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "+55 21 96753-8085",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_lotes2\"].json[\"TELEFONE\"] }}",
        "template": "convite_webnario_semanal"
      },
      "id": "de480ddc-b6e3-444b-ac14-4c3ea48641b9",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -660,
        2260
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "LySwvVnxJpgp6Hn1",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "986ecf22-d218-4ae0-8795-1d77ffa81166",
      "name": "10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -340,
        2260
      ],
      "webhookId": "e3c6c65c-a96e-4a67-a634-6440e2b2f51c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": {
    "node:Sexta-feira - 9h": {
      "recurrencyRules": []
    },
    "node:Sábado - 10h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11:10h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-02T13:10:10.005Z",
      "updatedAt": "2024-07-02T13:10:10.005Z",
      "id": "Ntg6hZ9Zxy35lAGJ",
      "name": "[CLINT]"
    },
    {
      "createdAt": "2024-09-03T13:57:16.639Z",
      "updatedAt": "2024-09-03T13:57:16.639Z",
      "id": "RKlC2cBKwmEiyN24",
      "name": "[WEBNARIO SEMANAL]"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2024-09-04T20:32:21.449Z",
  "versionId": "d6f2846f-8abd-4185-90e7-723db14007fc"
}