workflows/💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - Lembretes Grupos🔔.json
{
  "active": true,
  "connections": {
    "variaveis": {
      "main": [
        [
          {
            "node": "grupo_webnario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sexta-feira - 9h": {
      "main": [
        [
          {
            "node": "variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis1": {
      "main": [
        [
          {
            "node": "grupo_webnario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 10h": {
      "main": [
        [
          {
            "node": "variaveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis2": {
      "main": [
        [
          {
            "node": "grupo_webnario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 11h": {
      "main": [
        [
          {
            "node": "variaveis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis3": {
      "main": [
        [
          {
            "node": "grupo_webnario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sábado - 11:10h": {
      "main": [
        [
          {
            "node": "variaveis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-03T19:04:07.232Z",
  "id": "mvcr6yFgFNAeAUoV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - Lembretes Grupos🔔",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "493f989d-c1ef-4de3-bc43-5d26bd1d4e27",
      "name": "variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Parabéns por reservar um espaço no seu sábado para cuidar da sua carreira! 🎉\n\nAmanhã, às 11h, você tem um encontro marcado com a Lilian Cidreira na Sala Secreta! Você terá uma oportunidade única de começar a construir uma carreira mais estratégica e sua participação e engajamento são essenciais para aproveitar ao máximo essa experiência.\n\nLembre-se de estar pontualmente às 11h para não perder nenhum conteúdo valioso.\n\nAté amanhã!\n\nAbraços,\n\nLilian Cidreira"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9e5a03eb-c25b-414d-86f0-65d11cf9f4be",
      "name": "grupo_webnario",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        500
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "e191233b-ec5f-4e82-990f-4e00d57e1795",
      "name": "Sexta-feira - 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f0afa88-5677-4440-9291-c3d2df61edce",
      "name": "variaveis1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis1\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Estamos a apenas 1 hora da Sala Secreta! ⏰\n\nPrepare-se para descobrir como alinhar sua carreira com seus objetivos pessoais e potencialmente aumentar seu valor no mercado.\n\nEstamos ansiosos para começar e ver você lá!\n\nAté já!\n\nAbraços,\n\nLilian Cidreira"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ab7f4443-151d-49f3-ae5b-0c30f45f9c87",
      "name": "grupo_webnario1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        680
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "8cfd2886-1f8d-4215-9c3b-31f6e32b4809",
      "name": "Sábado - 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ee5a4f37-a31a-4874-af9d-e5b02b322681",
      "name": "variaveis2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis2\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis2\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis2\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis2\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=A Sala Secreta está começando agora! 🚀\n\nClique no link abaixo para entrar e prepare-se para uma sessão transformadora com Lilian Cidreira.\n\nEste é o momento de focar em seu desenvolvimento e alinhar sua carreira com seus objetivos pessoais.\n\nhttps://calendly.com/events/7116d54f-1b8d-44c6-b80e-6185b5450429/google_meet\n\nVamos lá!"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f4aae87e-28f2-4574-a0a3-8ff0ab8aaf5b",
      "name": "grupo_webnario2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        840
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "5f7fa637-e7e2-48c8-821f-2d6096439fdd",
      "name": "Sábado - 11h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2141237c-1d88-4ad8-8291-d1bbfec60320",
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br",
              "type": "string"
            },
            {
              "id": "43ca0438-376b-4a24-a670-29a652bf6058",
              "name": "nome_da_instancia",
              "value": "LilianCidreira",
              "type": "string"
            },
            {
              "id": "49344ced-eaf6-4273-8c89-aa4528bd91fc",
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs",
              "type": "string"
            },
            {
              "id": "86919fcd-f584-4077-b02a-712a252f1094",
              "name": "id_grupo_webnario_semanal",
              "value": "120363303839924430@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a26ff4c1-dfe7-4b2e-85d9-746702e9abe0",
      "name": "variaveis3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1820,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis3\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis3\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis3\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis3\"].json[\"id_grupo_webnario_semanal\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=A Sala Secreta já começou, e você ainda pode se juntar a nós! 🌟\n\nLilian Cidreira está compartilhando insights valiosos sobre como construir uma carreira de sucesso, alinhada com seus objetivos pessoais. Não perca a oportunidade de participar dessa experiência. \n\nClique no link abaixo para entrar agora:\n\nhttps://calendly.com/events/7116d54f-1b8d-44c6-b80e-6185b5450429/google_meet"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b5c3d8e3-cfdb-49a7-af2c-accc483afa07",
      "name": "grupo_webnario3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        1000
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 11,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "5a4da3a9-522f-4f36-acb8-919fbd07a3b3",
      "name": "Sábado - 11:10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1620,
        1000
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": {
    "node:Sexta-feira - 9h": {
      "recurrencyRules": []
    },
    "node:Sábado - 10h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11:10h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-02T13:10:10.005Z",
      "updatedAt": "2024-07-02T13:10:10.005Z",
      "id": "Ntg6hZ9Zxy35lAGJ",
      "name": "[CLINT]"
    },
    {
      "createdAt": "2024-09-03T13:57:16.639Z",
      "updatedAt": "2024-09-03T13:57:16.639Z",
      "id": "RKlC2cBKwmEiyN24",
      "name": "[WEBNARIO SEMANAL]"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2024-09-03T19:34:39.623Z",
  "versionId": "06a03241-09d8-4c55-8381-15d334ab71c0"
}