workflows/🚀[DISPARO EM MASSA] WhatsApp API Oficial.json
{
  "active": false,
  "connections": {
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [],
        [
          {
            "node": "API Oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "existe_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "excluir_enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Oficial": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2s": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_telefone": {
      "main": [
        [],
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excluir_enviados": {
      "main": [
        [
          {
            "node": "verifica_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T14:35:39.856Z",
  "id": "MqI9RmFD7bnZpI1C",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[DISPARO EM MASSA] WhatsApp API Oficial",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"Email de contato principal\"]  || '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"Email de contato principal\"]  || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "8795b933-8960-4477-925a-2a2587c03512",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1240,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "109d3baf-8ad0-45c9-8c2e-03f24391980c",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "709889b9-6fdf-4c56-b681-56beee3455d0",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1460,
        440
      ]
    },
    {
      "parameters": {},
      "id": "f13d65cd-2222-49ad-aeca-7b7212865c6a",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "12/12/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5ff572e-bc9c-43aa-999e-4796f7848ce7",
      "name": "verifica_data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "aac737e9-c5a6-4434-9288-0f73a4a81f0b",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1660,
        440
      ]
    },
    {
      "parameters": {},
      "id": "90811a42-7087-4121-a01a-e86bb8bd4515",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2500,
        420
      ]
    },
    {
      "parameters": {},
      "id": "7ad169eb-2788-4009-9401-e3c67e2cad2a",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        880
      ]
    },
    {
      "parameters": {},
      "id": "4dce3c0a-92b7-4238-91ff-16df8238bf3f",
      "name": "API Oficial",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        440
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "36664ac2-ac2f-4dff-bf7a-19cc595679f3",
      "name": "2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2320,
        420
      ],
      "webhookId": "a9b3d6c3-a701-42e4-bf46-3309a5174ef9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "673f6d37-6e1b-4253-811e-4a6772f743a5",
              "leftValue": "={{ $node[\"nao_existe5\"].json[\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e72f5ab-70ca-4d95-88f2-3a4d8d6faf15",
      "name": "existe_telefone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        440
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "id": "1b74fa72-96d5-4557-b772-c76261af5e2f",
      "name": "excluir_enviados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        800,
        880
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f95ed8af-a10a-44a5-bd98-df308e3811b8",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os contatos do campo \"Contatos\"\nconst contatos = $node[\"separa_em_linhas\"].json[\"Número de telefone\"] ? $node[\"separa_em_linhas\"].json[\"Número de telefone\"] .toString() : \"\";\n\n// Divide o campo \"Contatos\" em partes com base no espaço entre o e-mail e o telefone\nconst partesContatos = contatos.split(\" \");\n\n// Encontra a última parte que será o telefone\nconst telefoneOriginal = partesContatos[partesContatos.length - 1];\n\n// Removendo caracteres não numéricos do telefone\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI e DDD padrão\nconst ddiPadrao = '55';\nconst dddPadrao = '48';\n\n// Verifica o comprimento do telefone e ajusta DDI e DDD se necessário\nlet telefoneFinal;\nif (telefoneLimpo.length === 8) {\n    // Telefone sem DDD e sem DDI, adiciona ambos\n    telefoneFinal = ddiPadrao + dddPadrao + telefoneLimpo;\n} else if (telefoneLimpo.length === 9) {\n    // Telefone sem DDD, adiciona apenas DDD\n    telefoneFinal = ddiPadrao + dddPadrao + telefoneLimpo;\n} else if (telefoneLimpo.length === 10) {\n    // Telefone com DDD, sem DDI\n    telefoneFinal = ddiPadrao + telefoneLimpo;\n} else if (telefoneLimpo.length === 11 && !telefoneLimpo.startsWith(ddiPadrao)) {\n    // Telefone com DDD e sem DDI, adiciona o DDI\n    telefoneFinal = ddiPadrao + telefoneLimpo;\n} else if (telefoneLimpo.length === 12 && telefoneLimpo.startsWith(ddiPadrao)) {\n    // Telefone já tem DDI e DDD\n    telefoneFinal = telefoneLimpo;\n} else {\n    // Caso o número não caia em nenhuma das categorias, retorna o telefone como está\n    telefoneFinal = telefoneLimpo;\n}\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "70a3b3f9-fbfa-45a8-9b2a-6f035dd2aa8a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        940
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "2e69a2cb-db9a-4df8-9d58-f0d81bba4a6d",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1900,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16tYE9M6c_5LLd4ujP4Y-MtRCgDDbOGrxbzQ-g8DdPls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1252996585,
          "mode": "list",
          "cachedResultName": "webinario_frio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16tYE9M6c_5LLd4ujP4Y-MtRCgDDbOGrxbzQ-g8DdPls/edit#gid=1252996585"
        },
        "options": {}
      },
      "id": "71bd4d35-4290-46d0-a785-99d30900bb7d",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1200,
        860
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"Nome\"].split (\" \")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1007769e-c96d-4c42-a329-a1d2e4848b39",
      "name": "insere_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2320,
        940
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "=+{{ $node[\"Code\"].json[\"telefonefinal\"] }}",
        "template": "webinario_20h_frio|pt_BR"
      },
      "id": "c65eb356-a92c-4605-81ac-7b777fe1645d",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1840,
        940
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:dispara as 17hs": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-12T23:25:10.125Z",
  "versionId": "183037b1-58fa-4aee-a831-56e0da2bbfdc"
}