workflows/🚀[DISPARO EM MASSA] Bot Conversa + Evolution.json
{
  "active": false,
  "connections": {
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "disparo_via_evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "telefone_esta_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha1": {
      "main": [
        [
          {
            "node": "separa_em_lotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes1": {
      "main": [
        [
          {
            "node": "Fim1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio1": {
      "main": [
        [
          {
            "node": "Saida Aleatoria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria1": {
      "main": [
        [
          {
            "node": "40s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s1": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s1": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s1": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s1": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_esta_preenchido": {
      "main": [
        [],
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data1": {
      "main": [
        [
          {
            "node": "le_planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara as 17hs": {
      "main": [
        [
          {
            "node": "verifica_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dispara as 17hs1": {
      "main": [
        [
          {
            "node": "verifica_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "disparo_via_evolution": {
      "main": [
        [
          {
            "node": "Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Conversa": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto5": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-08T14:13:49.145Z",
  "id": "obIeCMF9DghXIXAy",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🚀[DISPARO EM MASSA] Bot Conversa + Evolution",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"EMAIL\"]  || '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"EMAIL\"]  || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "6f1ae727-8508-4465-a606-8ef304c761ac",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1480,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415112,
          "mode": "list",
          "cachedResultName": "Bot Conversa - Dados Tratados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1611415112"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE",
              "lookupValue": "5519981141914"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "31f9fb59-b3ee-4339-8b34-2d1a74a4472d",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        640,
        420
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "589624de-c36a-4009-897a-9bc669f9e134",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "2bca9c43-fcfe-437d-be74-75c5cb257453",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1700,
        520
      ]
    },
    {
      "parameters": {},
      "id": "815c29f0-275a-4c1e-b487-09ccc5172812",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"separa_em_lotes\"].json[\"Bot Conversa - ID\"] }}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "adfd6c51-1101-48ba-bd0a-2f15568e2cfe"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "4679014"
            }
          ]
        },
        "options": {}
      },
      "id": "68975fc6-11f9-4593-872b-18a956746a76",
      "name": "envia_fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2180,
        540
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "0fcce879-2d62-4042-9e4b-891464b2d607",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2360,
        540
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ea5a3bac-8d64-4d46-8bdf-1e952a64fd75",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2520,
        540
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "113e8c91-dd85-42ee-81db-7aa81cdbb84b",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2840,
        520
      ],
      "webhookId": "13a457fe-8b56-48ec-967c-0570c3780daa"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "6281d9a4-b28c-456b-8656-133bdb69ab77",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2840,
        660
      ],
      "webhookId": "a8dd76dd-7227-42c2-acf8-f38360290f83"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "569e7ca7-1fa5-44db-8e2d-d9d00c0c6a12",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2840,
        800
      ],
      "webhookId": "ca97c8a3-220d-4b88-b087-2f7e5d00146d"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "041a24d5-b10c-4311-9671-d39c8104820b",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2840,
        940
      ],
      "webhookId": "e3c6c65c-a96e-4a67-a634-6440e2b2f51c"
    },
    {
      "parameters": {
        "content": "## BOT CONVERSA",
        "height": 80,
        "width": 370.6543151410579
      },
      "id": "f683972f-d553-4096-91b7-5c92b028db3a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        20
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"EMAIL\"]  || '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"EMAIL\"]  || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "97a28b91-d154-4d15-8d9f-d3b414b3ed53",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563730916,
          "mode": "list",
          "cachedResultName": "Evolution - Dados Tratados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=1563730916"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "d3d410cf-c493-40d7-bd08-66127cff1d92",
      "name": "le_planilha1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        840,
        1500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "8bc6f34f-6332-4a4a-88fb-443d5c0adfa1",
      "name": "Replace Me1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        1500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32eca820-97e5-4cdb-84fe-47b9bade14c2",
      "name": "separa_em_lotes1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1020,
        1500
      ]
    },
    {
      "parameters": {},
      "id": "4b4cbf83-af5e-4818-9963-1d71c1c0ccc0",
      "name": "Fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "1db2a1d1-771d-40e6-81aa-328ae37feedb",
      "name": "Retorna Output Aleatorio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2220,
        -220
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "989290ad-d1a5-46d8-a185-bef3689b9c84",
      "name": "Saida Aleatoria1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2380,
        -220
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "35ab76ae-5657-41d2-afbd-25e989c87c7d",
      "name": "40s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        -420
      ],
      "webhookId": "13a457fe-8b56-48ec-967c-0570c3780daa"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "3913a220-0754-47ff-8b6a-a143cc476a9e",
      "name": "45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        -280
      ],
      "webhookId": "a8dd76dd-7227-42c2-acf8-f38360290f83"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "31eac9b2-12b8-4aee-97dd-0d7360b0faf0",
      "name": "50s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        -140
      ],
      "webhookId": "ca97c8a3-220d-4b88-b087-2f7e5d00146d"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "a5e3bb72-88fb-415a-9011-cf853969a021",
      "name": "53s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        0
      ],
      "webhookId": "e3c6c65c-a96e-4a67-a634-6440e2b2f51c"
    },
    {
      "parameters": {
        "content": "## EVOLUTION",
        "height": 1041.5801759766769,
        "width": 2317.546193087535
      },
      "id": "7f3b3a1c-9434-4c04-8e7e-d000c83113ff",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/MSAHenrySantos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1gozy92fyg3hlty3wkv7f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Se você não quer depender de Plano de Carreira para crescer, eu tenho um convite para te fazer. \n\nAqui é do time da Lilian Cidreira e no sábado, às 10h, a Lilian fará um encontro no Zoom, gratuito, exclusivo para quem preencheu nossa aplicação para a Sessão Sprint de Carreira.\n\nA gente vai se encontrar no Zoom pro Plano Carreira de Sucesso: \n\nPreparei uma apresentação que vai te mostrar:\n\n✅ Porque você está dependente de um plano de carreira da empresa;\n✅ Como avaliar se o melhor é seguir na empresa ou mudar de emprego;\n✅ A lógica para construir uma carreira de crescimento constante.\n\nSe você quiser participar desse encontro exclusivo e secreto, clique no link e reserve sua vaga.\n\nhttps://calendly.com/lilian-cidreira/sala-secreta "
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3366a60e-c487-47ac-a8d0-6ed790818dfe",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2020,
        -220
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9530f36b-c8ec-4ee4-971d-3805b7796088",
              "leftValue": "={{ $json[\"telefone\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "81f7a38d-7c5a-46b6-9685-6d85cee39517",
      "name": "telefone_esta_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1720,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/07/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad4bb1f4-92e7-4c8d-87ca-f006e48b7a67",
      "name": "verifica_data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "14/07/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aac5d80e-b2a3-46e0-ade1-462c40ca26df",
      "name": "verifica_data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        1520
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "fc6350a0-39c0-4262-a3b1-3d30a9272901",
      "name": "dispara as 17hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "32f0997b-c2f3-4b62-85c2-c6ec3fcd0659",
      "name": "dispara as 17hs1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        1520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fe86ac45-cb19-484a-a9f5-486e8063e395",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0523e64c-cc8d-4548-a121-87fe7b94e793",
              "leftValue": "={{ $node[\"separa_em_lotes\"].json[\"DISPARO\"] }}",
              "rightValue": "EVOLUTION",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b295eda9-e9ae-461a-bb5c-fc8ce89a1035",
      "name": "disparo_via_evolution",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        420
      ]
    },
    {
      "parameters": {},
      "id": "1db3d5eb-4746-4d9f-88c9-c92217e5ec27",
      "name": "Evolution",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {},
      "id": "c4e2499c-c868-4d84-8ac1-6552de74a529",
      "name": "Bot Conversa",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {},
      "id": "ae4ad189-aeae-4ede-b36b-6f34cac0b829",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2920,
        240
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-08T15:11:24.889Z",
  "versionId": "09e424e1-7fef-43aa-af93-ac7a5cdc7a7d"
}