workflows/[Evolution] - Disparo em Massa -24/08 - ás 10:10hs.json
{
  "active": true,
  "connections": {
    "ler_planilha": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "variaveis_evolution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "excluir_enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagemTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "insere_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EnviaMensagemTexto5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excluir_enviados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_telefone": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_lista": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_status": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "puxa_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagemTexto5": {
      "main": [
        [
          {
            "node": "atualiza_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution1": {
      "main": [
        [
          {
            "node": "ler_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sabado - 10:10hrs": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T22:48:33.909Z",
  "id": "c4ry258Fr2Nfuxso",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Evolution] - Disparo em Massa -24/08 - ás 10:10hs",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 528793064,
          "mode": "list",
          "cachedResultName": "disparo_lilian_17/08",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LphZOAErogV5YOb7oOMwAYVuMJD1Z9rtZOoHVVxAmVQ/edit#gid=528793064"
        },
        "options": {}
      },
      "id": "898212a4-b93b-4df3-8bfe-475d856b2425",
      "name": "ler_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -860,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "336111af-1b0a-4183-95b0-e099c42a0759",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -660,
        360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "API-KEY",
              "stringValue": "2ea5bec8-0908-4c04-a611-ecb03f0311f0"
            },
            {
              "name": "numero_notificacao",
              "stringValue": "+5562981196678"
            },
            {
              "name": "nome_responsavel",
              "stringValue": "Mateus Diniz"
            },
            {
              "name": "id_fluxo_aviso",
              "stringValue": "3718736"
            }
          ]
        },
        "options": {}
      },
      "id": "162c332e-a659-41fa-9dc3-7d2c8428f5dd",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1220,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "value2": "24/08/2024"
            }
          ]
        }
      },
      "id": "4dffb176-474f-491d-a17c-ac364560d333",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1600,
        380
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "d86b5a83-424a-4dd8-acb0-54105ade40f0",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_linhas\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "7266b257-3d5b-4aa5-b2d2-515db3272e2a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "enviado"
            }
          ]
        }
      },
      "id": "a2469bbd-6b71-4539-8b6b-e844949e8b92",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -40,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2fe579ab-9107-4aaa-a007-d639362a1ebf",
      "name": "separa_em_linhas1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "id": "729caa84-767c-46a5-9b6a-65988247776f",
      "name": "excluir_enviados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1400,
        360
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6bd8c46d-d8ec-4a53-9a5b-7602dc471f2f",
      "name": "insere_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -220,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "753e25f5-2b5e-46d3-96c4-2ee1b33e3abb",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -220,
        280
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "28c84c1b-ca44-4676-aab3-846af0d2e306",
      "name": "atualiza_status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        580,
        380
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "e7c0157d-4c8b-4e43-b824-b8ad1248d233",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -420,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=A Sala Secreta já começou, e você ainda pode se juntar a nós! 🌟\n\nLilian Cidreira está compartilhando insights valiosos sobre como construir uma carreira de sucesso, alinhada com seus objetivos pessoais. Não perca a oportunidade de participar dessa experiência.\n\nClique no link abaixo para entrar agora: https://calendly.com/events/7116d54f-1b8d-44c6-b80e-6185b5450429/google_meet"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "2c4e3613-b9f5-41b7-ac32-8c524bc99b17",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        380
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "yavuatfpzpeefq82zhfbs"
            },
            {
              "name": "nome_da_instancia",
              "value": "LilianCidreira"
            },
            {
              "name": "nome_evento"
            },
            {
              "name": "link_do_audio"
            }
          ]
        },
        "options": {}
      },
      "id": "c6f4b578-0191-4467-991a-bdc4ce5f6977",
      "name": "variaveis_evolution1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1040,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "e113ea10-0314-43a3-9fd4-acc7f82326e7",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        380
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "90fb2a20-f01a-48ca-880e-5aa76b09829d",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "2a8733b9-afdc-475f-9bd8-9a501d99e859",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1280,
        360
      ],
      "webhookId": "054671a8-d2f4-4342-b522-75017eac1554"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "8cf1dad0-b729-4120-bca2-d104dad55267",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1280,
        500
      ],
      "webhookId": "c22ac4a3-e6fd-4cf9-9efd-144313118791"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "341db124-399a-4309-8f97-305534f8f5c3",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1280,
        640
      ],
      "webhookId": "ca693d0e-435b-4f1d-ab3d-c1fece5bad7a"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "48061207-2cb1-49b1-b68f-1e994e00c774",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1280,
        780
      ],
      "webhookId": "2348784c-c9b9-4eef-9ab9-cf2a1baefa9b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"dados\"].json[\"numero_notificacao\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Disparo em massa na Evolution da Lilian Cidreira finalizado."
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "76e33a45-a43c-4205-a5f6-b43c6d26124b",
      "name": "EnviaMensagemTexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        200
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 10,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "7b7090e9-972f-4915-bc48-0a571205f899",
      "name": "Sabado - 10:10hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": {
    "node:17/08 - 10hrs": {
      "recurrencyRules": []
    },
    "node:Sabado - 10hrs": {
      "recurrencyRules": []
    },
    "node:Sabado - 10:10hrs": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-23T22:49:34.825Z",
  "versionId": "218cafe6-407c-4575-b1f0-5bc7080d9567"
}