workflows/[Future Minds] - Assistiu/Acessou Webinario.json
{
  "active": false,
  "connections": {
    "Quinta - 19:30": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_msg": {
      "main": [
        [
          {
            "node": "1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1s": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_msg1": {
      "main": [
        [
          {
            "node": "1s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop1": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1s1": {
      "main": [
        [
          {
            "node": "Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quinta - 20hrs": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-09T14:27:13.508Z",
  "id": "QBBXQYtibqZGplXc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Future Minds] - Assistiu/Acessou Webinario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "713219c6-ff42-41c3-84b5-e4dc5c1b1076",
      "name": "Quinta - 19:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id,\n    c.nome,\n    c.sobrenome,\n    c.email,\n    c.telefone,\n    c.data_cadastro,\n    c.form_name\nFROM \n    cadastros c\nINNER JOIN (\n    SELECT \n        email, -- Agrupando pelo e-mail (identificador único do cliente)\n        MAX(data_cadastro) AS max_data_cadastro -- Data mais recente de cada cliente\n    FROM \n        cadastros\n    WHERE \n        data_cadastro >= CURDATE() - INTERVAL 6 DAY -- Últimos 6 dias\n    GROUP BY \n        email\n) m ON c.email = m.email AND c.data_cadastro = m.max_data_cadastro;\n",
        "options": {}
      },
      "id": "a3ffd7b1-15c1-4a76-9cb2-4d3d14cd7a56",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        800,
        240
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "id": "189d3565-5b6c-4ac3-9dcb-8f13a9173222",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "=+{{ $node[\"Loop\"].json[\"telefone\"] }}",
        "template": "webinario_19_30hrs|pt_BR"
      },
      "id": "1e12c1e6-f180-492d-b1d5-be7e719d84af",
      "name": "envia_msg",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1260,
        360
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1020,
        240
      ],
      "id": "8983d06c-bd00-4301-8ee1-41b695ef9ff7",
      "name": "Loop"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "1f250a77-f71d-49fc-96a1-9510e1d19fb3",
      "name": "1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        360
      ],
      "webhookId": "2f7e9139-1716-4094-9ca1-937786ab9808"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id,\n    c.nome,\n    c.sobrenome,\n    c.email,\n    c.telefone,\n    c.data_cadastro,\n    c.form_name\nFROM \n    cadastros c\nINNER JOIN (\n    SELECT \n        email, -- Agrupando pelo e-mail (identificador único do cliente)\n        MAX(data_cadastro) AS max_data_cadastro -- Data mais recente de cada cliente\n    FROM \n        cadastros\n    WHERE \n        data_cadastro >= CURDATE() - INTERVAL 6 DAY -- Últimos 6 dias\n    GROUP BY \n        email\n) m ON c.email = m.email AND c.data_cadastro = m.max_data_cadastro;\n",
        "options": {}
      },
      "id": "81b05cfe-b4e7-489b-8e62-e0274aba6d85",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        800,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "id": "b4e0f522-54ca-4213-b568-1343a032b777",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        580
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "=+{{ $node[\"Loop1\"].json[\"telefone\"] }}",
        "template": "webinario_19_30hrs|pt_BR"
      },
      "id": "1a66daf1-34bf-464d-90e4-1a72b4892733",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1260,
        740
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1020,
        620
      ],
      "id": "42609c7a-45ea-4451-a5ed-f90eb9d07ee3",
      "name": "Loop1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "b16d8404-c80b-4d5e-8d01-b1db79a53a8d",
      "name": "1s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        740
      ],
      "webhookId": "2f7e9139-1716-4094-9ca1-937786ab9808"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "d0b1c10a-9845-4f83-b98c-f3f7762c7f5f",
      "name": "Quinta - 20hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        620,
        620
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-14T18:59:36.969Z",
      "updatedAt": "2024-11-14T18:59:36.969Z",
      "id": "5HB3AqYVP1IhO2Iu",
      "name": "[WEB001]"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T14:43:55.959Z",
  "versionId": "7044b0ca-c8e0-488c-8b4f-3213135b824b"
}